.header .header__logo a, .footer .footer__payment-services li, .footer .footer__socials a { font: 0/0 a; text-shadow: none; color: transparent; }

.topper .topper__in, .header, .nav, .footer .footer__subscribe, .footer .footer__nav, .footer .footer__row { *zoom: 1; }
.topper .topper__in:before, .header:before, .nav:before, .footer .footer__subscribe:before, .footer .footer__nav:before, .footer .footer__row:before, .topper .topper__in:after, .header:after, .nav:after, .footer .footer__subscribe:after, .footer .footer__nav:after, .footer .footer__row:after { content: " "; display: table; }
.topper .topper__in:after, .header:after, .nav:after, .footer .footer__subscribe:after, .footer .footer__nav:after, .footer .footer__row:after { clear: both; }

@font-face { font-family: 'pf_din_text_cond_promedium'; src: url("../fonts/pfdintextcondpro-medium.eot"); src: url("../fonts/pfdintextcondpro-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcondpro-medium.woff") format("woff"), url("../fonts/pfdintextcondpro-medium.ttf") format("truetype"); font-weight: normal; font-style: normal; }

* { margin: 0; padding: 0; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
button::-moz-focus-inner { padding: 0; border: 0; }

input[type="submit"]::-moz-focus-inner { padding: 0; border: 0; }

body { font-family: Arial,sans-serif; font-weight: normal; font-size: 12px; line-height: 1.4; min-width: 1000px; }

a img, fieldset { border: none; }

.topper .topper__in, .page, .recent-products .h1, .recent-products .recent-products__wrap, .footer .footer__in { width: 960px; margin: 0 auto; }

.l { width: 100%; display: inline-block; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

html, body { height: 100%; }

input { outline: 0; border: 1px solid #d5d5d5; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.icon { vertical-align: middle; display: inline-block; }

.icon_arrow { background: url('../img/icons-s6f64bbf60d.png') 0 -520px no-repeat; width: 17px; height: 17px; }

.icon_arrow2 { background: url('../img/icons-s6f64bbf60d.png') 0 -749px no-repeat; width: 5px; height: 4px; }

.icon_arrow3 { background: url('../img/icons-s6f64bbf60d.png') 0 -763px no-repeat; width: 5px; height: 3px; }

.icon_callback { background: url('../img/icons-s6f64bbf60d.png') 0 -225px no-repeat; width: 22px; height: 22px; }

.icon_chat_off { background: url('../img/icons-s6f64bbf60d.png') 0 -632px no-repeat; width: 18px; height: 18px; }

.icon_tel { background: url('../img/icons-s6f64bbf60d.png') 0 -456px no-repeat; width: 22px; height: 22px; }

.icon_fb { background: url('../img/icons-s6f64bbf60d.png') 0 -719px no-repeat; width: 9px; height: 20px; }

.icon_fb_hover { background: url('../img/icons-s6f64bbf60d.png') 0 -689px no-repeat; width: 9px; height: 20px; }

.icon_vk { background: url('../img/icons-s6f64bbf60d.png') 0 -257px no-repeat; width: 32px; height: 19px; }

.icon_vk_hover { background: url('../img/icons-s6f64bbf60d.png') 0 -286px no-repeat; width: 32px; height: 19px; }

.icon_tw { background: url('../img/icons-s6f64bbf60d.png') 0 -574px no-repeat; width: 23px; height: 19px; }

.icon_tw_hover { background: url('../img/icons-s6f64bbf60d.png') 0 -603px no-repeat; width: 23px; height: 19px; }

.icon_yt { background: url('../img/icons-s6f64bbf60d.png') 0 -137px no-repeat; width: 50px; height: 20px; }

.icon_yt_hover { background: url('../img/icons-s6f64bbf60d.png') 0 -107px no-repeat; width: 50px; height: 20px; }

.icon_gp { background: url('../img/icons-s6f64bbf60d.png') 0 -368px no-repeat; width: 24px; height: 20px; }

.icon_gp_hover { background: url('../img/icons-s6f64bbf60d.png') 0 -315px no-repeat; width: 24px; height: 20px; }

.icon_odk { background: url('../img/icons-s6f64bbf60d.png') 0 -424px no-repeat; width: 13px; height: 22px; }

.icon_odk_hover { background: url('../img/icons-s6f64bbf60d.png') 0 -488px no-repeat; width: 13px; height: 22px; }

.icon_wm { background: url('../img/icons-s6f64bbf60d.png') 0 -74px no-repeat; width: 88px; height: 23px; }

.icon_vs { background: url('../img/icons-s6f64bbf60d.png') 0 -167px no-repeat; width: 46px; height: 16px; }

.icon_p24 { background: url('../img/icons-s6f64bbf60d.png') 0 -660px no-repeat; width: 18px; height: 19px; }

.icon_pu { background: url('../img/icons-s6f64bbf60d.png') 0 -345px no-repeat; width: 51px; height: 13px; }

.icon_mc { background: url('../img/icons-s6f64bbf60d.png') 0 -193px no-repeat; width: 36px; height: 22px; }

.icon_subscribe { background: url('../img/icons-s6f64bbf60d.png') 0 -398px no-repeat; width: 24px; height: 16px; }

.btn { display: inline-block; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.13); -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.13); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.13); padding: 4px 15px; line-height: 19px; font-size: 14px; font-family: 'pf_din_text_cond_promedium', arial, sans-serif; color: #545454; text-transform: uppercase; text-decoration: none; text-align: center; text-shadow: 0 1px 0 white; cursor: pointer; border: 1px solid #b7b7b7; background-color: #dfdfdf; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #dfdfdf)); background-image: -webkit-linear-gradient(#fefefe, #dfdfdf); background-image: -moz-linear-gradient(#fefefe, #dfdfdf); background-image: -o-linear-gradient(#fefefe, #dfdfdf); background-image: linear-gradient(#fefefe, #dfdfdf); background-repeat: repeat-x; border-color: #fefefe #fefefe #dfdfdf; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
.btn:hover, .btn:focus { text-decoration: none; background-position: 0 -48px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn:focus { outline: thin dotted #333; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
.btn:active { background-image: none; outline: 0; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); }
.btn:hover, .btn:focus, .btn:active { color: #545454; background-color: #dfdfdf; }

.btn_orange { border: 1px solid #bf6000; background-color: #f37b01; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.38); -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.38); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.38); background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff972f), color-stop(100%, #f37b01)); background-image: -webkit-linear-gradient(#ff972f, #f37b01); background-image: -moz-linear-gradient(#ff972f, #f37b01); background-image: -o-linear-gradient(#ff972f, #f37b01); background-image: linear-gradient(#ff972f, #f37b01); background-repeat: repeat-x; border-color: #ff972f #ff972f #f37b01; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); text-shadow: 0 1px 0 rgba(255, 255, 255, 0.34); color: #000; }
.btn_orange:hover, .btn_orange:focus, .btn_orange:active { color: #000; background-color: #f37b01; }
.btn_orange:active { -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.38), inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.38), inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.38), inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); }

.topper { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 45px; background-color: #f0f0f0; border-bottom: 1px solid #dcdcdc; color: #676767; font-size: 12px; line-height: 1; }
.topper .location { display: inline-block; vertical-align: middle; padding-top: 14px; margin-right: 35px; }
.topper .location__current { display: inline-block; margin-left: 7px; font-weight: bold; color: #000; }
.topper .location__current:hover { cursor: pointer; }
.topper .location__current .icon_arrow { margin-left: 7px; }
.topper .topper__nav { display: inline-block; vertical-align: top; padding-top: 16px; }
.topper .topper__nav li { list-style-type: none; display: inline-block; position: relative; margin-left: 16px; margin-right: 12px; }
.topper .topper__nav li:before { position: absolute; top: 0; left: -16px; width: 1px; height: 12px; background-color: #d9d9d9; box-shadow: 1px 0 0 #fcfcfc; content: ""; }
.topper .topper__nav li:first-child { margin-left: 0; }
.topper .topper__nav li:first-child:before { content: none; }
.topper .topper__nav a { color: #676767; text-decoration: none; }
.topper .topper__nav a:hover { text-decoration: underline; }
.topper .callback { display: inline-block; vertical-align: top; margin-left: 65px; padding-top: 10px; }
.topper .callback:hover { cursor: pointer; }
.topper .callback:hover span { text-decoration: none; }
.topper .callback span { text-decoration: underline; font-size: 11px; color: #68a814; }
.topper .callback .icon_arrow2 { margin-left: 3px; }
.topper .livechat { display: inline-block; vertical-align: top; margin-left: 23px; padding-top: 12px; }
.topper .livechat:hover { cursor: pointer; }
.topper .livechat:hover span { text-decoration: none; }
.topper .livechat span { text-decoration: underline; font-size: 11px; color: #68a814; }
.topper .topper__login { display: inline-block; vertical-align: top; padding-top: 7px; float: right; }
.topper .topper__login a { color: #68a814; text-decoration: underline; }
.topper .topper__login a:hover { text-decoration: none; }
.topper .topper__login .btn { margin-left: 26px; }

.page { margin-bottom: 35px; }

.header .header__logo { float: left; padding-top: 28px; }
.header .header__logo a { display: block; background: url('../img/icons-s6f64bbf60d.png') 0 0 no-repeat; width: 245px; height: 64px; }
.header .header__info { float: left; margin-left: 30px; padding-top: 23px; }
.header .header__contacts { margin-bottom: 10px; color: #2c2c2c; font-size: 14px; }
.header .header__contacts span { color: #f47b01; }
.header .header__tel { display: inline-block; font-size: 20px; font-weight: bold; color: #f47b01; margin-right: 14px; }
.header .header__tel .icon { margin-top: -3px; }
.header .header__tel span { font-weight: normal; color: #c4c4c4; }
.header .search { margin-bottom: 20px; }
.header .search__field { position: relative; }
.header .search__input { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #adadad; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; -webkit-background-clip: padding; -moz-background-clip: padding; background-clip: padding-box; background-color: #fff; -webkit-box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.18); -moz-box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.18); box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.18); font-size: 14px; color: #2c2c2c; width: 484px; height: 29px; padding: 0 12px; -webkit-transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out; -moz-transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out; -o-transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out; transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out; }
.header .search__input:-moz-placeholder { color: #cacaca; }
.header .search__input::-webkit-input-placeholder { color: #cacaca; }
.header .search__input:focus { border: 1px solid #f47b01; border-color: rgba(244, 123, 1, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(244, 123, 1, 0.6); }
.header .search__input:focus:-moz-placeholder { color: #2c2c2c; }
.header .search__input:focus::-webkit-input-placeholder { color: #2c2c2c; }
.header .search__submit { position: absolute; top: 1px; right: 1px; width: 38px; background-color: #f5f5f5; border: 0; height: 27px; -webkit-border-radius: 0 5px 5px 0; -moz-border-radius: 0 5px 5px 0; -ms-border-radius: 0 5px 5px 0; -o-border-radius: 0 5px 5px 0; border-radius: 0 5px 5px 0; border-left: 1px solid #eaeaea; }
.header .search__submit:hover { cursor: pointer; }
.header .search__submit:active { -webkit-box-shadow: inset -1px 1px 2px rgba(0, 0, 0, 0.15); -moz-box-shadow: inset -1px 1px 2px rgba(0, 0, 0, 0.15); box-shadow: inset -1px 1px 2px rgba(0, 0, 0, 0.15); }
.header .search__submit i { display: inline-block; vertical-align: middle; margin-top: -3px; background: url('../img/icons-s6f64bbf60d.png') 0 -547px no-repeat; width: 17px; height: 17px; }
.header .search__example { color: #f47b01; font-size: 11px; margin-top: 8px; }
.header .search__example a { color: #5f5f5f; text-decoration: underline; }
.header .search__example a:hover { text-decoration: none; }
.header .basket { float: right; padding-top: 23px; margin-right: -7px; }

.nav { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2e2e2e), color-stop(100%, #010101)); background-image: -webkit-linear-gradient(#2e2e2e, #010101); background-image: -moz-linear-gradient(#2e2e2e, #010101); background-image: -o-linear-gradient(#2e2e2e, #010101); background-image: linear-gradient(#2e2e2e, #010101); border-top: 2px solid #141414; height: 51px; line-height: 49px; margin-bottom: 21px; padding-left: 10px; }
.nav li { position: relative; list-style-type: none; float: left; font-family: 'pf_din_text_cond_promedium', arial, sans-serif; font-size: 22px; color: #fff; text-transform: uppercase; }
.nav li:hover { z-index: 100; cursor: pointer; }
.nav li:first-child:before { content: none; }
.nav li:before { position: absolute; top: 50%; margin-top: -16px; left: 0; content: ""; width: 1px; height: 31px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #505050), color-stop(100%, #363636)); background-image: -webkit-linear-gradient(#505050, #363636); background-image: -moz-linear-gradient(#505050, #363636); background-image: -o-linear-gradient(#505050, #363636); background-image: linear-gradient(#505050, #363636); }
.nav a { display: inline-block; color: #fff; text-decoration: none; padding-left: 19px; padding-right: 13px; }
.nav a:hover { color: #f47b01; text-decoration: none; }
.nav .icon { vertical-align: top; margin-top: 20px; margin-left: 8px; }

.recent-products .h1 { font-weight: normal; font-family: 'pf_din_text_cond_promedium', arial, sans-serif; text-transform: uppercase; font-size: 22px; line-height: 1; margin-bottom: 18px; }
.recent-products .recent-products__carousel { background-color: #505050; border-top: 1px solid #5e5e5e; border-bottom: 1px solid #5e5e5e; height: 165px; }

.footer { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2e2e2e), color-stop(100%, #0b0b0b)); background-image: -webkit-linear-gradient(#2e2e2e, #0b0b0b); background-image: -moz-linear-gradient(#2e2e2e, #0b0b0b); background-image: -o-linear-gradient(#2e2e2e, #0b0b0b); background-image: linear-gradient(#2e2e2e, #0b0b0b); }
.footer .h1 { font-size: 18px; color: #fff; font-family: 'pf_din_text_cond_promedium', arial, sans-serif; line-height: 1; font-weight: normal; text-transform: uppercase; margin-bottom: 25px; }
.footer .h1 a { color: #fff; text-decoration: none; }
.footer .h1 a:hover { text-decoration: underline; }
.footer a { color: #68a814; text-decoration: underline; }
.footer a:hover { text-decoration: none; }
.footer .footer__in { padding-top: 39px; }
.footer .footer__subscribe { height: 49px; line-height: 49px; margin-bottom: 50px; padding: 0 15px 0 20px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; -webkit-background-clip: padding; -moz-background-clip: padding; background-clip: padding-box; background-color: #6bab17; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a0da54), color-stop(100%, #67a713)); background-image: -webkit-linear-gradient(#a0da54, #67a713); background-image: -moz-linear-gradient(#a0da54, #67a713); background-image: -o-linear-gradient(#a0da54, #67a713); background-image: linear-gradient(#a0da54, #67a713); }
.footer .footer__subscribe-text { float: left; margin-right: 34px; color: #fff; font-size: 21px; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.12); font-family: 'pf_din_text_cond_promedium', arial, sans-serif; text-transform: uppercase; }
.footer .footer__subscribe-text .icon_subscribe { vertical-align: top; margin-right: 20px; margin-top: 16px; }
.footer .footer__subscribe-field { overflow: hidden; position: relative; }
.footer .footer__subscribe-input { -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; -webkit-background-clip: padding; -moz-background-clip: padding; background-clip: padding-box; background-color: #fff; -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.22); -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.22); box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.22); background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #f0f0f0), color-stop(100%, #ffffff)); background-image: -webkit-linear-gradient(bottom, #f0f0f0 0%, #ffffff 100%); background-image: -moz-linear-gradient(bottom, #f0f0f0 0%, #ffffff 100%); background-image: -o-linear-gradient(bottom, #f0f0f0 0%, #ffffff 100%); background-image: linear-gradient(bottom, #f0f0f0 0%, #ffffff 100%); border: 0; line-height: 14px; width: 440px; padding: 7px 13px; color: #5f5f5f; font-size: 12px; }
.footer .footer__subscribe-input:-moz-placeholder { color: #5f5f5f; }
.footer .footer__subscribe-input::-webkit-input-placeholder { color: #5f5f5f; }
.footer .footer__subscribe-submit { position: absolute; top: 10px; right: 0; padding: 4px 17px; }
.footer .footer__nav { font-size: 12px; margin-left: -55px; margin-bottom: 40px; }
.footer .footer__nav ul { float: left; margin-left: 55px; }
.footer .footer__nav li { list-style-type: none; line-height: 1.5; }
.footer .footer__row { border-top: 1px solid #2f2f2f; padding-top: 30px; padding-bottom: 40px; color: #c4c4c4; }
.footer .footer__col { float: left; margin-right: 65px; }
.footer .footer__col p { color: #898989; }
.footer .footer__delivery { width: 200px; }
.footer .footer__about { width: 308px; }
.footer .footer__payment { width: 322px; margin-right: 0; }
.footer .footer__payment p { width: 286px; }
.footer .footer__payment-services { line-height: 1; margin-top: 20px; }
.footer .footer__payment-services li { list-style-type: none; display: inline-block; margin-left: 15px; opacity: .3; -webkit-transition: opacity 0.5s; -moz-transition: opacity 0.5s; -o-transition: opacity 0.5s; transition: opacity 0.5s; }
.footer .footer__payment-services li:first-child { margin-left: 0; }
.footer .footer__payment-services li:hover { opacity: 1; }
.footer .footer__info { float: left; width: 60%; }
.footer .footer__copyright { display: inline-block; vertical-align: top; margin-right: 55px; color: #fff; }
.footer .footer__copyright a { font-size: 11px; }
.footer .footer__tel { display: inline-block; vertical-align: top; font-size: 11px; }
.footer .footer__tel-number { font-size: 24px; font-weight: bold; color: #f47b01; margin-right: 45px; }
.footer .footer__tel-number .icon { margin-top: -3px; }
.footer .footer__tel-number span { font-weight: normal; color: #6c6c6c; }
.footer .footer__address { display: inline-block; vertical-align: top; font-size: 11px; }
.footer .footer__socials { float: right; }
.footer .footer__socials ul { line-height: 1; }
.footer .footer__socials li { display: inline-block; vertical-align: top; list-style-type: none; margin-left: 30px; }
.footer .footer__socials li:hover span { opacity: 1; }
.footer .footer__socials a { position: relative; }
.footer .footer__socials span { position: absolute; top: 0; right: 0; bottom: 0; left: 0; content: ""; opacity: 0; -webkit-transition: opacity 0.5s; -moz-transition: opacity 0.5s; -o-transition: opacity 0.5s; transition: opacity 0.5s; }
