//cabina
.cabina {
	.title {
		position: relative;
	}
}
.cabina__actions {
	position: absolute;
	top: 17px;
	right: 21px;
	font-size: 16px;
	span {
		margin-left: 5px;
		color: #000;
	}
	strong, .btn {
		vertical-align: top;
	}
	strong {
		display: inline-block;
		line-height: 29px;
	}
	.btn {
		margin-left: 16px;
	}
}
.cabina__cols {
	padding: 25px 30px 20px 30px;
	background: #2e2e2e;
	@include background-image(linear-gradient(#2e2e2e, #000));
	@extend %clr;
}
.cabina__left {
	float: left;
	width: 170px;
	text-align: center;
}
.cabina__right {
	float: right;
	width: 450px;
}
.cabina__pic {
	width: 170px;
	height: 193px;
	margin-bottom: 12px;
	overflow: hidden;
	img {
		display: block;
		border: 1px solid #323232;
	}
}
.cabina__hello {
	position: relative;
	margin-bottom: 20px;
	padding-left: 30px;
	@include pm;
	font-size: 24px;
	text-transform: uppercase;
	color: #6a6a6a;
	line-height: 1.2;
	span {
		color: $green;
	}
	i {
		position: absolute;
		top: 3px;
		left: 0;
		@include s(cabina-user);
	}
}
.cabina__links {
	@extend %clr;
	ul {
		overflow: hidden;
		&:first-child {
			float: left;
			li {
				padding-right: 30px;
			}
		}
	}
	li {
		position: relative;
		padding: 5px 0 5px 15px;
		border-top: 1px solid #4b4b4b;
		font-size: 0;
		&:before {
			content: "";
			position: absolute;
			top: 11px;
			left: 0;
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 3px 0 3px 4px;
			border-color: transparent transparent transparent $green;
		}
	}
	span {
		margin-left: 5px;
		font-size: 11px;
		color: $green;
	}
	a {
		@include pm;
		font-size: 14px;
		color: #FFF;
		text-transform: uppercase;
		text-decoration: none;
	}
	.cabina__cart {
		display: inline-block;
		font-size: 11px;
		span {
			margin: 0 5px 0 0;
			color: #9f9f9f;
		}
		a {
			font-family: Arial, Tahoma, sans-serif;
			font-size: 11px;
			color: $orange;
			text-decoration: underline;
			text-transform: none;
			font-weight: normal;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
//bill
.bill_partner {
	.bill__title {
		font-size: 24px;
	}
	.bill__money {
		margin-left: 10px;
	}
}
.bill__in, .bill__update {
	position: relative;
	padding: 17px 30px 23px 110px;
	border-top: 1px solid $brcl;
	background: #f0f0f0;
	@extend %clr;
}
.bill__get {
	position: absolute;
	right: 30px;
	bottom: 10px;
	padding-right: 20px;
	font-size: 11px;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
	i {
		position: absolute;
		top: 5px;
		right: 0;
		@include s(three-arrs);
	}
}
.bill__in_bonus {
	padding: 0 30px 10px 110px;
	background: #FFF;
	border: none;
	.ico-bill {
		top: 0;
		left: 37px;
		@include s(bill-ico-s);
	}
	.bill__title {
		font-size: 22px;
	}
	.bill__money {
		span, strong {
			font-size: 18px;
		}
	}
}
.ico-bill {
	position: absolute;
	top: 14px;
	left: 30px;
	@include s(bill-ico);
}
.bill__money {
	float: right;
	padding: 4px 11px 4px 18px;
	margin-left: 30px;
	border: 1px solid #b7b7b7;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.13);
	background: #fff;
	@include background-image(linear-gradient(#fff, #e3e3e3));
	border-radius: 4px;
	strong, span {
		float: left;
		margin-right: 7px;
		@include pm;
		font-size: 24px;
	}
	span {
		color: #9b9b9b;
	}
}
.bill__desc {	
	overflow: hidden;	
}
.bill__txt {
	color: #5f5f5f;
}
.bill__title {
	margin-bottom: 5px;
	@include pm;
	font-size: 26px;
	color: $green;
	text-transform: uppercase;
	line-height: 1.2;
}
.bill__update {
	margin-bottom: 30px;
	padding: 17px 30px 23px;
	.label, .label__title, .label__select {
		float: left;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.label__title {
		width: 225px;
		line-height: 29px;
		@include pm;
		text-transform: uppercase;
		font-size: 18px;
		color: #5f5f5f;
	}
	.label__select {
		width: 260px;
	}
	.btn {
		float: right;
	}
}
//partner
.tabs_partner {
	.tabs__content {
		padding: 30px;
	}
}
.partner__title, .partner__title-small {
	margin-bottom: 25px;
	@include pm;
	font-size: 30px;
	text-transform: uppercase;
}
.partner__title-small {
	font-size: 22px;
}
.partner__about {
	margin-bottom: 35px;
	font-size: 14px;
	color: #676767;
}
.partner__percent {
	margin-bottom: 30px;
	@extend %clr;
	.table {
		float: right;
		width: 320px;
		&:first-child {
			float: left;
		}
	}
}
.partner__message {
	position: relative;
	padding-left: 130px;
	@include pm;
	strong {
		display: block;		
		line-height: 1.2;
		text-transform: uppercase;
		font-size: 14px;
		color: #606060;
		span {
			color: $orange;
		}
	}
	i {
		position: absolute;
		top: 0;
		left: 90px;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: #f79b0a;
		@include background-image(linear-gradient(#f79b0a, #f47f06));
		font-style: normal;
		text-align: center;
		line-height: 30px;
		font-size: 18px;
		color: #FFF;
	}
}
.partner__promo {
	padding-bottom: 25px;
	margin-bottom: 10px;
	border-bottom: 1px solid $brcl;
	@extend %clr;
	p {
		margin-bottom: 25px;
		line-height: 1.2;
		color: #5f5f5f;
	}
	ul {
		float: left;
		margin-left: 25px;
		li {
			margin-bottom: 2px;
		}
		span {
			display: inline-block;
			width: 26px;
			height: 26px;
			margin-right: 12px;
			border-radius: 50%;
			background: #f79b0a;
			@include background-image(linear-gradient(#f79b0a, #f47f06));
			line-height: 26px;
			text-align: center;
			@include pm;
			font-size: 16px;
			color: #FFF;
		}
		a {
			color: $orange;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
.partner__code {
	float: right;
	width: 300px;
	.label__title {
		font-size: 12px;
		font-weight: bold;
		span {
			font-weight: normal;
		}
	}
	.label__help {
		text-align: right;
	}
	.label__area {
		padding: 20px 25px;
		color: $green;
	}
}
.partner__banner {
	.partner__code {
		float: none;
		width: auto;
	}	
}
.partner__banner-preview {
	min-height: 78px;
	margin: 10px 0 15px;
	background: #ccc;
}
.partner__report {
	margin-top: 25px;
	&:first-child {
		margin-top: 0;
	}
	.spec-table {
		margin-bottom: 0;
	}
	.spec-table__head {
		th {
			padding: 10px 15px;
		}
	}
	.spec-table__body {
		td {
			padding: 10px 15px;
			&:first-child {
				padding: 10px 15px;
			}
		}
	}
}
.partner__report_orders {	
	.spec-table__head {
		th {
			vertical-align: middle;
			&:nth-child(3), &:nth-child(4), &:nth-child(6) {
				font-size: 12px;
			}
		}
	}	
}
.partner__report-title {
	margin-bottom: 10px;
	overflow: hidden;
	span {
		float: left;
		@include pm;
		text-transform: uppercase;
		font-size: 18px;
		color: $orange;
	}
	a {
		float: right;
		margin-top: 4px;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
.partner__report-total {
	padding: 15px 0;
	border-bottom: 1px solid #ccc;
	@include pm;
	font-size: 18px;
	text-transform: uppercase;
	text-align: right;
	color: #787878;
	span {
		color: #000;
	}
}