// progres main
.progress-main {
    margin: 31px 0 48px;
    font-size: 0;
    padding: 27px 0 37px 22px;
    background: #f0f0f0;
}
.progress-main__text,
.progress-main__percent {
    display: inline-block; 
    vertical-align: middle;
    @include pm; 
    font-size: 18px;
    color: #6baa19;
    text-transform: uppercase;
}
.progress-main__text {
    margin-right: 25px;
}
.progress-main__percent {
    margin-left: 15px;
}
.progress-bar {
    display: inline-block;
    vertical-align: middle;
    height: 17px;
    width: 395px;
    @include border-radius(8px);
    background: #f5f5f5;
    @include background-image(linear-gradient(bottom, #f5f5f5 0%, #fff 100%));
    span {
        display: block;
        height: 100%;   
        @include border-radius(8px);
        @include box-shadow(0 1px 0 rgba(255, 255, 255, .5) inset);
        @include transition(width 0.4s ease-in-out);
        background: #78ad32;
        @include background-image(linear-gradient(top, #82be34, #78ad32));
        @include background-size(30px 30px);  
        @include background-image(linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                            transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                            transparent 75%, transparent));            
        
        -webkit-animation: animate-progress 2s linear infinite;
        -moz-animation: animate-progress 2s linear infinite;  
    }  
    div {
        color: #5f5f5f;
        font-size: 11px;
        font-weight: bold;
        strong {
            color: #000;
        }
    }  
}

@-webkit-keyframes animate-progress { 
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

@-moz-keyframes animate-progress {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}
@-o-keyframes animate-progress {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}
@keyframes animate-progress { 
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

.interest-wrap {
    margin-bottom: 40px;
}
.interest {
    margin-bottom: 16px;
    white-space: nowrap;
    .label-check,
    .progress,
    .label__select {
        display: inline-block;
        vertical-align: middle;
    }
    .label-check {
        width: 150px;
        line-height: 1;
        margin-right: 3px;
    }
    .progress,
    .label__select {
        width: 490px;
        margin-bottom: 0;
    }
}

// progress
.progress {
    font-size: 0;
}
.progress__digit,
.progress__main {
    display: inline-block;
    vertical-align: middle;
}
.progress__digit {
    color: #6baa19;
    font-size: 14px;
    text-transform: uppercase;
    @include pm;
}
.progress__main {
    position: relative;
    margin: 0 9px;
    width: 440px;
    height: 4px;
    @include border-radius(2px);
    background: #d4d4d4;
    @include box-shadow(inset 0 1px 2px rgba(0,0,0,.33));
}
.progress__line {
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    @include border-radius(2px);
    background: #fd8901;
    @include box-shadow(0 1px 1px rgba(0,0,0,.21));
}
.progress__current {
    position: absolute;
    right: -6px;
    top: -20px;
    color: #fe8902;
    font-size: 14px;
    text-transform: uppercase;
    @include pm;
}

.label__input {
    &.is-inactive {
        border: 0;
        background: #fff;
        @include box-shadow(none);
    }
}
.btn-edit {
    position: relative;
    margin: 8px 20px 0 0;
    font-size: 11px;
    color: #f47b01;
    background: none;
    text-decoration: underline;
    &:after {
        content: "";
        position: absolute;
        top: 2px;
        right: -20px;
        @include s(edit);  
    }
    &:hover {
        text-decoration: none;
    }
   
}
.spec-table_edit-user {
    font-size: 14px;
    .spec-table__body {
        td {
            padding-left: 28px;
            vertical-align: middle;
            &:first-child {
                width: 170px;
                background: #f5f5f5;
            }
            &:last-child {
                padding-left: 28px;
            }
        }
    }
    .label {
        float: left;
        width: 343px;
    }
    .btn-edit {
        float: right;
    }
    .label, 
    .label__input,
    .label__select {
        margin-bottom: 3px;
        font-size: 14px;
    }
    .label__select {
        margin-left: 10px;
        width: 333px;
        text-align: left;
    }
    .label__select-val {
        span {
            font-weight: normal;
        }
    }
}
.btn-add {
    float: left;
    font-size: 11px;
    display: inline-block;
    margin-left: 10px;
    background: none;
    color: #69a915;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

.spec-table_order-cabinet {
    //white-space: nowrap;
    .spec-table__head {
        font-size: 14px;
        th {
            padding: 12px 10px;
            &:nth-child(2) {
                text-align: left;
            }
        }
    }
    .spec-table__body {
        td {
            padding: 10px;
            vertical-align: middle;
            &:first-child {
                padding-left: 13px;
                color: #f57c01;
            }
            &:nth-child(2) {
                text-align: left;
            }
        }
        span {
            display: block;
            color: #a6a6a6;
            font-size: 10px;
        }
        a {
            text-decoration: underline;
        }
        tr {
            &:nth-child(4n-3) {
                background: #f4f4f4;
            }
        }
    }
    
}


.auction-info {
    font-size: 12px;
    .title_orange {
        margin-bottom: 20px;
        font-size: 20px;
        text-align: center;
    }
}
.auction-info__title {
    position: relative;
    margin-bottom: 18px;
    padding-left: 40px;
    font-size: 27px;
    @include pm;
    text-transform: uppercase;
    color: #000;
    &.is-privat {
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 8px;
            @include s(key);
        }
    }
}
.rules-list {
    margin-bottom: 37px;
    padding-left: 20px;
    li {  
        margin-bottom: 15px;
        padding-left: 20px;
        position: relative;
        &:after {  
            content: "";
            position: absolute;
            left: 0;
            top: 5px;
            @include s(list-type);   
        }
        li {
            padding-left: 0;
            &:after {
                left: -20px;
            }
        }
    }
}

.spec-table_basket {
    .spec-table__body {
        tr {
            position: relative;
            &:nth-child(4n-3) {
                background: #f0f0f0;
            }      
        }
        td {
            &:nth-child(3) {
                color: #000;
                font-weight: bold;
            }
        }
        .btn-wrap {
            position: relative;
            display: inline-block;
        }
    }
    table {
        width: 100%;
        border-bottom: 1px solid $brcl;
        tr {
            background: #fff !important;
            &:after {
                display: none;
            }
        }
        td {
            vertical-align: middle;
            text-align: left !important;
        }
    }  
    .btn_gray {
        margin-right: 5px;
    }
}
.spec-table__drop {
    padding: 0 !important;
    border-bottom: none !important;
    td,th {
        border-bottom: none !important;
    }
    .cart__table {
        display: none;
        margin-bottom: 0;
        
    }
    .cart__table th, 
    .cart__table td {
        &:first-child {
            padding-left: 15px;
        }
        &:nth-child(2) {
            width: 130px;
        }
    }
    .cart__table td {
        padding: 13px 15px !important;
    }
    .cart__table th {
        padding: 2px 15px !important;
    }
}