//breadcrumbs
.breadcrumbs {
	@extend %clr;
	li {
		float: left;
		color: #676767;
		font-size: 11px;
		a {
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
		&:first-child {
			span {
				display: none;
			}
		}
	}
	span {
		margin: 0 8px;
	}
}
//gallery
.gallery {

}
.gallery__nav {
	position: relative;
	float: left;
	width: 99px;
	button {
		position: absolute;
		left: 0;
		right: 0;
		height: 20px;
		background: none;
		&.disabled {
			@include opacity(0);
		}
	}
	i {
		position: absolute;
		left: 32px;
		width: 0px;
		height: 0px;
		border-style: solid;
	}
}
.gallery__up {
	top: -20px;
	i {
		top: 0;	
		border-width: 0 8px 10px 8px;
		border-color: transparent transparent $green transparent;
		box-shadow: 0 1px 0 rgba(0,0,0,.5);
	}
}
.gallery__down {
	bottom: -20px;
	i {
		bottom: 0;
		border-width: 10px 8px 0 8px;
		border-color: $green transparent transparent transparent;
	}
}
.gallery__list {
	position: relative;
	&:before, &:after {
		content: "";
		position: absolute;
		left: 0;
		width: 79px;
		border-top: 1px solid $brcl;
	}
	&:before {
		top: 0;
	}
	&:after {
		bottom: 0;
	}
}
.gallery__slide {
	a {
		position: relative;
		display: block;
		width: 77px;
		height: 63px;
		margin-right: 20px;
		border: 1px solid $brcl;
		border-width: 1px 1px 0 1px;
		line-height: 63px;
		text-align: center;
		font-size: 0;
		&.is-active {
			border: 1px solid #7e7e7e;
			border-width: 1px 1px 0 1px;
			box-shadow: 0 1px 0 #7e7e7e;
			z-index: 10;
			&:before, &:after {
				content: "";
				position: absolute;				
				width: 0px;
				height: 0px;
				border-style: solid;				
			}
			&:before {
				top: 23px;
				right: -10px;
				border-width: 9px 0 9px 10px;
				border-color: transparent transparent transparent #7e7e7e;
			}
			&:after {
				top: 25px;
				right: -8px;
				border-width: 7px 0 7px 8px;
				border-color: transparent transparent transparent #fff;
			}
		}
	}
	img {
		vertical-align: middle;
	}
}
.gallery__pic {
	a {
		position: relative;
		display: block;
		height: 446px;
		line-height: 446px;
		text-align: center;
		font-size: 0;
		img {
			vertical-align: middle;
		}
	}	
	border: 1px solid $brcl;	
	overflow: hidden;
}
//label
.label {
	position: relative;
	&.is-error {
		.label__input {
			background: #ededed;
		}
	}
}
.label__tooltip {
	position: absolute;
	top: 7px;
	left: -40px;
	padding: 5px 12px;
	border: 1px solid #ff8080;
	box-shadow: 0 1px 5px rgba(0,0,0,.3);
	border-radius: 4px;
	background: #fff;
	font-size: 12px;
	color: #ff0000;
	z-index: 1000;
	&:before, &:after {
		content: "";
		position: absolute;		
		width: 0px;
		height: 0px;
		border-style: solid;		
	}
	&:before {
		bottom: -6px;
		right: 28px;
		border-width: 6px 5px 0 5px;
		border-color: #ff8080 transparent transparent transparent;
	}
	&:after {
		bottom: -5px;
		right: 29px;
		border-width: 5px 4px 0 4px;
		border-color: #fff transparent transparent transparent;
	}
}
//icons
.icon_mr{@include s(ico_mr);}
.icon_mr_hover{@include s(ico_mr_hover);}
.icon_yr{@include s(ico_yr);}
.icon_yr_hover{@include s(ico_yr_hover);}
//cart
.cart {
	margin-bottom: 20px;
	border: 1px solid $brcl;
	border-width: 0 1px 1px 1px;
}
.cart_popup {
	background: #fff;
	@include background-image(linear-gradient(#fff, #e3e3e3));
	border: none;
	.cart__in {  
		padding: 25px;
	}
}
.cart_ordering {
	margin-bottom: 50px;
	.cart__in {
		padding: 40px;
	}
	.tabs {
		margin-bottom: 30px;
		.cart__btn {
			.cart__btn-in {
				position: relative;
				display: inline-block;
				top: -20px;
				padding: 0 20px;
				background: #FFF;
			}
		}
	}
	.tabs__cols {
		margin-left: 20px;
		border-bottom: 1px solid #ccc;
		@extend %clr;
	}
	.tabs__content {
		float: left;
		width: 280px;
	}
	.tabs__content {
		padding: 30px 20px 30px 0;
		border: none;
	}
	.tabs__nav {
		button {
			&.is-active {
				height: 43px;
			}
		}
	}
	.cart__table {
		float: right;
		width: 555px;
		margin: 14px 0 0 0;
		tr {
			&:last-child {
				td {
					background: #FFF;
				}				
			}
		}
		th, td {
			padding: 13px 10px;
			&:first-child {
				padding: 13px 10px 13px 26px;
			}
		}
		td {
			background: #f1f1f1;			
		}		
	}
	.cart__table-link {
		width: 120px;
	}
	.cart__table-total {
		td {
			border: none;
			box-shadow: none;
		}
	}
}
.cart__in {
	padding: 30px;	
}	
.cart__title {
	margin-bottom: 20px;
	@include pm;
	font-size: 28px;
	text-transform: uppercase;
	span {
		color: $orange;
	}
	strong {
		color: $green;
	}
}
.cart__adv {
	margin-bottom: 40px;
	p {
		font-size: 14px;
		color: #5f5f5f;
		line-height: 1.2;
	}
	span {
		color: #000;
	}
}
.cart__info {
	padding-bottom: 15px;
	li {
		padding: 10px 0 10px 20px;
		border-bottom: 1px solid $brcl;
		overflow: hidden;
		&:first-child {
			padding: 5px 20px;
			margin-bottom: 7px;
			border-color: #d56c01;
			background: #ff8b02;
			@include background-image(linear-gradient(#ff8b02, #f47b01));
			@include pm;
			font-size: 20px;
			color: #fff;
			text-transform: uppercase;
		}
	}
	span {
		float: left;
		width: 135px;
		color: #8c8c8c;
	}
	strong {
		font-weight: normal;
		&.is-error {
			color: #fa0000;
		}
	}
	.btn {
		float: right;
		margin: -2px 0 -2px 15px;
		padding: 0 12px;
	}
}
.cart__top {
	margin-bottom: 30px;
	font-size: 0;
}
.cart__delivery, .cart__progress, .cart__message {
	display: inline-block;
	vertical-align: middle;
}
.cart__delivery {
	width: 180px;
	@include pm;
	font-size: 16px;
	text-transform: uppercase;
}
.cart__progress {
	display: inline-block;
	width: 275px;
	span, .cart__progress-scale {
		display: inline-block;
		vertical-align: middle;
	}
	span {
		margin-left: 8px;
		font-size: 11px;
		font-weight: bold;
		color: $green;
	}
}
.cart__progress-scale {
	position: relative;
	width: 222px;
	height: 8px;
	border-radius: 4px;
	background-color: #ddd;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
	@include background-image(linear-gradient(bottom, #ddd 0%, #f1f1f1 100%));
	i {
		position: absolute;
		top: 0;
		left: 0;
		height: 8px;
		border-radius: 4px;
		background-color: #67a713;
		@include background-image(linear-gradient(bottom, #67a713 0%, #67a713 1.12%, #95ce4b 100%));
	}
}
.cart__message {
	width: 205px;
	font-size: 11px;
	color: $orange;
}
.cart__table {
	margin-bottom: 20px;
	table {
		width: 100%;
	}
	th, td {
		&:first-child {
			padding-left: 45px;
		}
		&:nth-child(2) {
			text-align: left;
		}
	}
	th {
		padding: 15px;
		border-bottom: 1px solid #ccc;
		font-size: 10px;
		font-weight: normal;
	}
	td {
		padding: 13px 15px;
		border-top: 1px solid #ccc;
		text-align: center;
		font-size: 12px;
		vertical-align: middle;
	}	
}
.cart__table-link {
	a {
		@include pm;
		font-size: 16px;
		color: #303030;
		text-transform: uppercase;
		line-height: 1;
	}
}
.cart__table-price {
	white-space: nowrap;
	color: #5f5f5f;
}
.cart__table-discount {
	color: $orange;
}
.cart__table-cost {
	font-weight: bold;
	white-space: nowrap;
	color: #000;
}
.cart__table-delete {
	button {
		position: relative;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: $orange;
		box-shadow: 1px 1px 2px rgba(0,0,0,.29),  -1px -1px 0 rgba(0,0,0,.05) inset;
		overflow: visible;
	}
	i {
		position: absolute;
		top: 6px;
		left: 6px;
		@include s(btn-delete);
	}
}
.cart__table-coupon {
	td {
		background: #dcdcdc;
		box-shadow: 0 1px 0 #f0f0f0 inset;
	}
	strong {
		@include pm;
		font-size: 20px;
		text-transform: uppercase;
	}
	p {
		color: #575757;
		a {
			color: $orange;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.cart__table-gift {
		display: inline-block;
		@include s(ico-gift)
	}
	&:last-child {
		border-bottom: 1px solid #ccc;
	}
}
.cart__table-total {
	text-align: right;
	td {
		padding: 13px 20px;		
		border-bottom: 1px solid #ccc;
		box-shadow: 0 1px 0 #f0f0f0;
		text-align: right;
		@include pm;
		font-size: 18px;
		color: #787878;
		text-transform: uppercase;
	}	
	span {
		font-size: 27px;
		color: #000;
		text-transform: none;
	}
}
.cart__begin {
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 1px 0 #f0f0f0;
	@extend %clr
}
.cart__forms {
	float: left;
	padding-left: 40px;
}
.cart__forms-item {
	margin-bottom: 15px;
	@extend %clr;
	label {
		display: block;
		margin-bottom: 10px;
		@include pm;
		font-size: 14px;
		text-transform: uppercase;
		color: #606060;
	}
	input, button {
		float: left;
	}
	input {
		width: 175px;
		height: 27px;
		padding-left: 5px;
		border: 1px solid #adadad;
		border-radius: 4px;
		font-weight: bold;
	}
	button {
		margin-left: -10px;
	}
	span {		
		display: block;
		padding-top: 5px;
		clear: both;
		font-size: 10px;
		color: #7d7d7d;
	}
}
.cart__forms-item_mod {
	label {
		margin-bottom: 15px;
		font-size: 12px;
	}
}
.cart__go {
	float: right;
	width: 240px;	
	padding: 29px 5px 0 0;
	text-align: center;
	.btn {
		margin-bottom: 17px;
	}
}
.cart__go-txt {
	margin: 0 10px 30px;
	font-size: 10px;
	color: #7d7d7d;
	line-height: 1.2;
}
.cart__services {
	@extend %clr;
	.livechat {
		margin-top: 7px;
	}
	.callback {
		margin: 0 7px 0 -10px;
		text-align: left;
		line-height: 1;
	}
}
.cart__payment {
	overflow: hidden;
	.btn {
		float: left;
	}
	.payment {
		float: right;
		margin-top: 3px;
	}
}
.payment_gray {
	li {
		@include opacity(1);
		&:hover {
			@include opacity(.5);
		}
	}
	.icon_wm {
		@include s(ico_wm-gray);
	}
	.icon_vs {
		@include s(ico_vs-gray);
	}
	.icon_p24 {
		@include s(ico_p24-gray);
	}
	.icon_pu {
		@include s(ico_pu-gray);
	}
	.icon_mc {
		@include s(ico_mc-gray);
	}
}
.cart__cols {
	@extend %clr;
}
.cart__cols-item {
	float: left;
	width: 409px;
	&:first-child {
		margin-right: 20px;
	}
}
.cart__login {
	padding-top: 15px;
	@extend %clr;
	text-align: center;
	.btn {
		margin-bottom: 37px;
		padding: 7px 25px;
		font-size: 23px;
	}
	.socials {
		float: none;
		display: inline-block;
		margin-bottom: 15px;
		li {
			margin: 0 7px;
			vertical-align: middle;
		}
	}
}
.cart__login-social {
	float: left;
	width: 271px;
	margin-right: 100px;
	border: 1px solid $brcl;
	border-radius: 4px;
	text-align: center;
}
.cart__login-title {
	display: inline-block;
	position: relative;
	top: -9px;
	padding: 0 5px;
	background: #FFF;
	font-size: 11px;
	color: #6b6b6b;
}
.cart__btn {
	text-align: center;
}
.cart__address {
	margin-bottom: 60px;
	padding: 0 20px;
	.label-check {
		margin-bottom: 20px;
	}
	.cart__cols {
		margin-bottom: 25px;
	}
}
.cart__address-detail {
	@extend %clr;
	label {
		float: left;
	}
}
.cart__street {
	width: 270px;
	margin-right: 6px;
}
.cart__house, .cart__flat {
	width: 63px;
	margin-top: 24px;
}
.cart__house {
	margin-right: 6px;
}
.cart__down {
	padding: 30px 0 0 50px;
	margin: 0 -40px -40px;
	border-top: 1px solid $brcl;
	@extend %clr;
	.btn {
		float: left;
	}
	.cart__forms {
		float: left;
		margin: 0 50px 20px 0;
		padding: 0;
	}
	.cart__services {
		float: left;
		margin-top: -5px;
	}
	.payment {
		padding-top: 15px;
		clear: both;
	}
}
.cart__back {
	float: left;
	margin: 31px 50px 0 0;
}
//stats-users
.stats-users {
	font-size: 0;
	li {
		padding: 10px 0;
		border-top: 1px solid $brcl;
		&:last-child {
			padding: 10px 0 0 0;
		}
	}	
}
.stats-users__count, .stats-users__prod {
	display: inline-block;
	vertical-align: middle;
}
.stats-users__count {
	margin-right: 35px;
	font-size: 18px;
	color: #8c8c8c;
	strong {
		margin-right: 5px;
		color: $orange;
	}
}
.stats-users__pic, .stats-users__desc {
	display: inline-block;
	vertical-align: top;
}
.stats-users__pic {
	margin-right: 15px;
	img {
		display: block;
	}
}
.stats-users__desc {
	width: 115px;
	margin-right: 15px;
	line-height: 1.2;
	a {
		display: block;
		padding: 4px 0;
		@include pm;
		font-size: 16px;
		color: #000;
		text-transform: uppercase;
	}
}
//offer
.offer {
	margin-bottom: 40px;
	background: $orange;
}
.offer__title {
	position: relative;
	padding: 17px 20px 0;
	@include pm;
	text-align: center;
	font-size: 27px;
	text-transform: uppercase;
	color: #FFF;
	z-index: 10;
}
.offer__top {
	position: relative;
	padding: 60px 0 45px;
	text-align: center;
	font-size: 0;
	z-index: 10;
}
.offer__bg {
	position: relative;
	overflow: hidden;
	&:after {
		content: "";
		position: absolute;
		top: -420px;
		left: 0;
		width: 710px;
		height: 710px;
		@include background-image(radial-gradient(rgba(249,175,4,1), rgba(249,175,4,0)));
	}
}
.offer__slider {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 240px;
}
.offer__slider_right {
	.offer__btn-top, .offer__btn-down {
		left: auto;
		right: -43px;
	}
}
.offer__prod {
	@extend %clr;
}
.offer__prod-pic {
	float: right;
	margin-left: 15px;
	img {
		display: block;
	}
}
.offer__prod-desc {	
	overflow: hidden;
	line-height: 1;
	text-align: left;
	a {
		display: block;
		margin-bottom: 5px;		
		@include pm;
		text-transform: uppercase;
		font-size: 18px;
		color: #FFF;
	}
	.btn {
		position: absolute;
		left: 0;
		bottom: 0;
	}
}
.offer__plus {
	display: inline-block;
	margin: 35px 30px 0;
	@include s(sl-plus);
}
.offer__btn-top, .offer__btn-down {
	position: absolute;
	left: -43px;
}
.offer__btn-top {
	top: -25px;	
	@include s(sl-top);
}
.offer__btn-down {
	bottom: -25px;
	@include s(sl-down);
}
.offer__down {
	position: relative;
	padding: 20px 0 40px;
	background: #2d2d2d;
	@include background-image(linear-gradient(#2d2d2d, #000));
	p {
		text-align: center;
		@include pm;
		font-size: 24px;
		color: #7f7f7f;
		strong {
			color: $orange;
		}
		span {
			color: #FFF;
		}
		ins {
			text-decoration: line-through;
		}
	}
	.btn {
		position: absolute;
		bottom: -19px;
		left: 50%;
		margin-left: -125px;
	}
}
//buy-discount
.buy-discount {
	padding: 12px 20px 12px 30px;
	background: #f0f0f0;
	overflow: hidden;
	.counter {
		float: right;
	}
}
.buy-discount__title {
	float: left;
	margin-top: 4px;
	span {
		display: block;
		@include pm;
		font-size: 22px;
		text-transform: uppercase;
		color: $green;
		&:first-child {
			color: $orange;
		}
	}
}
//add-order
.add-order {	
	overflow: hidden;
}
.add-order__item {
	position: relative;
	float: left;
	width: 25%;
	padding: 25px 20px;
	background: #fff;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-top: 1px solid $brcl;
	text-align: center;
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 500px;
		border-right: 1px solid $brcl;
	}
	&:first-child {
		&:after {
			display: none;
		}
	}
}
.add-order__pic {
	margin-bottom: 10px;
}
.add-order__title {
	margin-bottom: 3px;
	line-height: 1.2;
	a {
		@include pm;
		font-size: 16px;
		text-transform: uppercase;
		color: #303030;
	}
}
.add-order__price {
	margin-bottom: 15px;
	font-size: 11px;
	text-transform: uppercase;
	color: $orange;
	strong {
		margin-right: 5px;
		font-size: 16px;
	}
}
//labels
.label-in-stock {
	position: relative;
	display: inline-block;
	font-size: 13px;
	color: $green;
	i {
		position: absolute;
		top: 1px;
		right: -20px;
		@include s(label-in-stock);
	}
}
//tabs
.tabs {
	margin-bottom: 20px;
}
.tabs__top {
	background: #f0f0f0;
	@extend %clr;
}
.tabs__nav {
	float: left;
	height: 43px;
	button {
		float: left;
		height: 43px;
		background: none;
		border-right: 1px solid #dcdcdc;
		border-top: 1px solid transparent;
		color: #9c9c9c;
		text-transform: uppercase;
		@include pm;
		font-size: 20px;
		padding: 0 12px;
		&.is-active {
			height: 44px;
			background: #fff;
			border-top: 1px solid $brcl;
			color: #000;
			cursor: default;
		}
		&:first-child {
			border-left: 1px solid $brcl;
		}
	}
}
.tabs__all {
	float: right;
	margin: 13px 20px 0 0;
	font-size: 11px;
	a {
		margin-right: 5px;
		text-decoration: underline;
	}
}
.tabs__content {
	display: none;
	border: 1px solid $brcl;
}
//prod
.prod {
	position: relative;
	padding: 10px 27px 15px;
	border: 1px solid $brcl;
	border-top: 3px solid $green;
	.breadcrumbs {
		margin-bottom: 40px;
	}
}
.prod__articul {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px 14px;
	border: 1px solid $brcl;
	border-width: 0 0 1px 1px;
	color: #676767;
	strong {
		margin-left: 5px;
		color: #000;
	}
}
.prod__content {
	@extend %clr;
	.gallery {
		float: left;
		width: 485px;
	}
}
