.counter_small {
	strong, .part {
		width: 39px;
		height: 40px;
		line-height: 40px;
		font-size: 25px;
		@include pm;
		font-size: 14px;
		color: #5d5d5d;
		text-transform: uppercase;
		&:after { 
			bottom: 20px;
		}
	}
}
.counter__title, .counter-title {
	margin-bottom: 5px; 
	
}
//breadcrumbs
.breadcrumbs {
	margin-bottom: 25px;
	@extend %clr;
	li {
		float: left;
		color: #676767;
		font-size: 11px;
		a {
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
		&:first-child {
			span {
				display: none;
			}
		}
	}
	span {
		margin: 0 8px;
	}
}
//gallery
.gallery__nav {
	position: relative;
	float: left;
	width: 99px;
	button {
		position: absolute;
		left: 0;
		right: 0;
		height: 20px;
		background: none;
		&.disabled {
			@include opacity(0);
		}
	}
	i {
		position: absolute;
		left: 32px;
		width: 0px;
		height: 0px;
		border-style: solid;
	}
}
.gallery__up {
	top: -20px;
	i {
		top: 0;	
		border-width: 0 8px 10px 8px;
		border-color: transparent transparent $green transparent;
		box-shadow: 0 1px 0 rgba(0,0,0,.5);
	}
}
.gallery__down {
	bottom: -20px;
	i {
		bottom: 0;
		border-width: 10px 8px 0 8px;
		border-color: $green transparent transparent transparent;
		box-shadow: 0 -1px 0 rgba(0,0,0,.5);
	}
}
.gallery__list {
	position: relative;
	height: 449px !important;
	&:before, &:after {
		content: "";
		position: absolute;
		left: 0;
		width: 79px;
		border-top: 1px solid $brcl;
	}
	&:before {
		top: 0;
	}
	&:after {
		bottom: 0;
	}
}
.gallery__slide {
	&.is-inactive {
			
	}
	a {
		position: relative;
		display: block;
		width: 77px;
		height: 63px;
		margin-right: 20px;
		border: 1px solid $brcl;
		border-width: 1px 1px 0 1px;
		line-height: 63px;
		text-align: center;
		font-size: 0;
		&.is-active {
			border: 1px solid #7e7e7e;
			border-width: 1px 1px 0 1px;
			box-shadow: 0 1px 0 #7e7e7e;
			z-index: 10;
			&:before, &:after {
				content: "";
				position: absolute;				
				width: 0px;
				height: 0px;
				border-style: solid;				
			}
			&:before {
				top: 23px;
				right: -10px;
				border-width: 9px 0 9px 10px;
				border-color: transparent transparent transparent #7e7e7e;
			}
			&:after {
				top: 25px;
				right: -8px;
				border-width: 7px 0 7px 8px;
				border-color: transparent transparent transparent #fff;
			}
		}
	}
	img {
		vertical-align: middle;
	}
}
.gallery__pic {
	a {
		position: relative;
		display: block;
		height: 447px;
		line-height: 447px;
		text-align: center;
		font-size: 0;
		img {
			vertical-align: middle;
		}
		.badge-wrap {
			position: absolute;
			bottom: 5px;
			right: 5px;
			line-height: 1;
			.badge {
				display: inline-block;
				position: static;
				vertical-align: middle;
			}
		}
	}	
	border: 1px solid $brcl;	
	overflow: hidden;
}
//label
.label {
	position: relative;
	&.is-error {
		.label__input {
			background: #ededed;
		}
	}
}
.label__tooltip {
	position: absolute;
	top: 0; 
	left: -40px;
	padding: 5px 12px;
	border: 1px solid #ff8080;
	box-shadow: 0 1px 5px rgba(0,0,0,.3);
	border-radius: 4px;
	background: #fff;
	font-size: 12px;
	color: #ff0000;
	z-index: 1000;
	&:before, &:after {
		content: "";
		position: absolute;		
		width: 0px;
		height: 0px;
		border-style: solid;		
	}
	&:before {
		bottom: -6px;
		right: 28px;
		border-width: 6px 5px 0 5px;
		border-color: #ff8080 transparent transparent transparent;
	}
	&:after {
		bottom: -5px;
		right: 29px;
		border-width: 5px 4px 0 4px;
		border-color: #fff transparent transparent transparent;
	}
}
//icons
.icon_mr{@include s(ico_mr);}
.icon_mr_hover{@include s(ico_mr_hover);}
.icon_yr{@include s(ico_yr);}
.icon_yr_hover{@include s(ico_yr_hover);}
//cart
.cart {
	margin-bottom: 20px;
	border: 1px solid $brcl;
	border-width: 0 1px 1px 1px;
}
.cart_popup {
	background: #fff;
	@include background-image(linear-gradient(#fff, #e3e3e3));
	border: none;
	.cart__in {  
		padding: 25px;
	}
}
.cart_ordering {
	margin-bottom: 50px;
	.cart__in {
		padding: 40px;
	}
	.tabs {
		margin-bottom: 30px;
		.cart__btn {
			.cart__btn-in {
				position: relative;
				display: inline-block;
				top: -20px;
				padding: 0 20px;
				background: #FFF;
			}
		}
	}
	.tabs__cols {
		margin-left: 20px;
		border-bottom: 1px solid #ccc;
		@extend %clr;
	}
	.tabs__content {
		float: left;
		width: 280px;
	}
	.tabs__content {
		padding: 30px 20px 30px 0;
		border: none;
	}
	.tabs__nav {
		button {
			&.is-active {
				height: 43px;
			}
		}
	}
	.cart__table {
		float: right;
		width: 555px;
		margin: 14px 0 0 0;
		tr {
			&:last-child {
				td {
					background: #FFF;
				}				
			}
		}
		th, td {
			padding: 13px 10px;
			&:first-child {
				padding: 13px 10px 13px 26px;
			}
		}
		td {
			background: #f1f1f1;			
		}		
	}
	.cart__table-link {
		width: 120px;
	}
	.cart__table-total {
		td {
			border: none;
			box-shadow: none;
		}
	}
}
.cart__in {
	padding: 30px;	
}	
.cart__title {
	margin-bottom: 20px;
	@include pm;
	font-size: 28px;
	text-transform: uppercase;
	span {
		color: $orange;
	}
	strong {
		color: $green;
	}
}
.cart__adv {
	margin-bottom: 40px;
	p {
		font-size: 14px;
		color: #5f5f5f;
		line-height: 1.2;
	}
	span {
		color: #000;
	}
}
.cart__info {
	padding-bottom: 15px;
	li {
		padding: 10px 0 10px 20px;
		border-bottom: 1px solid $brcl;
		overflow: hidden;
		&:first-child {
			padding: 5px 20px;
			margin-bottom: 7px;
			border-color: #d56c01;
			background: #ff8b02;
			@include background-image(linear-gradient(#ff8b02, #f47b01));
			@include pm;
			font-size: 20px;
			color: #fff;
			text-transform: uppercase;
		}
	}
	span {
		float: left;
		width: 135px;
		color: #8c8c8c;
	}
	strong {
		font-weight: normal;
		&.is-error {
			color: #fa0000;
		}
	}
	.btn {
		float: right;
		margin: -2px 0 -2px 15px;
		padding: 0 12px;
	}
}
.cart__top {
	margin-bottom: 30px;
	font-size: 0;
}
.cart__delivery, .cart__progress, .cart__message {
	display: inline-block;
	vertical-align: middle;
}
.cart__delivery {
	width: 180px;
	@include pm;
	font-size: 16px;
	text-transform: uppercase;
}
.cart__progress {
	display: inline-block;
	width: 275px;
	span, .cart__progress-scale {
		display: inline-block;
		vertical-align: middle;
	}
	span {
		margin-left: 8px;
		font-size: 11px;
		font-weight: bold;
		color: $green;
	}
}
.cart__progress-scale {
	position: relative;
	width: 222px;
	height: 8px;
	border-radius: 4px;
	background-color: #ddd;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
	@include background-image(linear-gradient(bottom, #ddd 0%, #f1f1f1 100%));
	i {
		position: absolute;
		top: 0;
		left: 0;
		height: 8px;
		border-radius: 4px;
		background-color: #67a713;
		@include background-image(linear-gradient(bottom, #67a713 0%, #67a713 1.12%, #95ce4b 100%));
	}
}
.cart__message {
	width: 205px;
	font-size: 11px;
	color: $orange;
}
.cart__table {
	margin-bottom: 20px;
	table {
		width: 100%;
	}
	th, td {
		&:first-child {
			padding-left: 45px;
		}
		&:nth-child(2) {
			text-align: left;
		}
	}
	th {
		padding: 15px;
		border-bottom: 1px solid #ccc;
		font-size: 10px;
		font-weight: normal;
	}
	td {
		padding: 13px 15px;
		border-top: 1px solid #ccc;
		text-align: center;
		font-size: 12px;
		vertical-align: middle;
	}	
}
.cart__table-link {
	a {
		@include pm;
		font-size: 16px;
		color: #303030;
		text-transform: uppercase;
		line-height: 1;
	}
}
.cart__table-price {
	white-space: nowrap;
	color: #5f5f5f;
}
.cart__table-discount {
	color: $orange;
}
.cart__table-cost {
	font-weight: bold;
	white-space: nowrap;
	color: #000;
}
.cart__table-delete {
	button {
		position: relative;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: $orange;
		box-shadow: 1px 1px 2px rgba(0,0,0,.29),  -1px -1px 0 rgba(0,0,0,.05) inset;
		overflow: visible;
	}
	i {
		position: absolute;
		top: 6px;
		left: 6px;
		@include s(btn-delete);
	}
}
.cart__table-coupon {
	td {
		background: #dcdcdc;
		box-shadow: 0 1px 0 #f0f0f0 inset;
	}
	strong {
		@include pm;
		font-size: 20px;
		text-transform: uppercase;
	}
	p {
		color: #575757;
		a {
			color: $orange;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.cart__table-gift {
		display: inline-block;
		@include s(ico-gift)
	}
	&:last-child {
		border-bottom: 1px solid #ccc;
	}
}
.cart__table-total {
	text-align: right;
	td {
		padding: 13px 20px;		
		border-bottom: 1px solid #ccc;
		box-shadow: 0 1px 0 #f0f0f0;
		text-align: right;
		@include pm;
		font-size: 18px;
		color: #787878;
		text-transform: uppercase;
	}	
	span {
		font-size: 27px;
		color: #000;
		text-transform: none;
	}
}
.cart__begin {
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 1px 0 #f0f0f0;
	@extend %clr
}
.cart__forms {
	float: left;
	padding-left: 40px;
}
.cart__forms-item {
	margin-bottom: 15px;
	@extend %clr;
	label {
		display: block;
		margin-bottom: 10px;
		@include pm;
		font-size: 14px;
		text-transform: uppercase;
		color: #606060;
	}
	input, button {
		float: left;
	}
	input {
		width: 175px;
		height: 27px;
		padding-left: 5px;
		border: 1px solid #adadad;
		border-radius: 4px;
		font-weight: bold;
	}
	button {
		margin-left: -10px;
	}
	span {		
		display: block;
		padding-top: 5px;
		clear: both;
		font-size: 10px;
		color: #7d7d7d;
	}
}
.cart__forms-item_mod {
	label {
		margin-bottom: 15px;
		font-size: 12px;
	}
}
.cart__go {
	float: right;
	width: 240px;	
	padding: 29px 5px 0 0;
	text-align: center;
	.btn {
		margin-bottom: 17px;
	}
}
.cart__go-txt {
	margin: 0 10px 30px;
	font-size: 10px;
	color: #7d7d7d;
	line-height: 1.2;
}
.cart__services {
	@extend %clr;
	.livechat {
		margin-top: 7px;
	}
	.callback {
		margin: 0 7px 0 -10px;
		text-align: left;
		line-height: 1;
	}
}
.cart__payment {
	overflow: hidden;
	.btn {
		float: left;
	}
	.payment {
		float: right;
		margin-top: 3px;
	}
}
.payment_gray {
	li {
		@include opacity(1);
		&:hover {
			@include opacity(.5);
		}
	}
	.icon_wm {
		@include s(ico_wm-gray);
	}
	.icon_vs {
		@include s(ico_vs-gray);
	}
	.icon_p24 {
		@include s(ico_p24-gray);
	}
	.icon_pu {
		@include s(ico_pu-gray);
	}
	.icon_mc {
		@include s(ico_mc-gray);
	}
}
.cart__cols {
	@extend %clr;
}
.cart__cols-item {
	float: left;
	width: 409px;
	&:first-child {
		margin-right: 20px;
	}
}
.cart__login {
	padding-top: 15px;
	@extend %clr;
	text-align: center;
	.btn {
		margin-bottom: 37px;
		padding: 7px 25px;
		font-size: 23px;
	}
	.socials {
		float: none;
		display: inline-block;
		margin-bottom: 15px;
		li {
			margin: 0 7px;
			vertical-align: middle;
		}
	}
}
.cart__login-social {
	float: left;
	width: 271px;
	margin-right: 100px;
	border: 1px solid $brcl;
	border-radius: 4px;
	text-align: center;
}
.cart__login-title {
	display: inline-block;
	position: relative;
	top: -9px;
	padding: 0 5px;
	background: #FFF;
	font-size: 11px;
	color: #6b6b6b;
}
.cart__btn {
	clear: both;
	text-align: center;
}
.cart__address {
	margin-bottom: 60px;
	padding: 0 20px;
	.label-check {
		margin-bottom: 20px;
	}
	.cart__cols {
		margin-bottom: 25px;
	}
}
.cart__address-detail {
	@extend %clr;
	label {
		float: left;
	}
}
.cart__street {
	width: 270px;
	margin-right: 6px;
}
.cart__house, .cart__flat {
	width: 63px;
	margin-top: 24px;
}
.cart__house {
	margin-right: 6px;
}
.cart__down {
	padding: 30px 0 0 50px;
	margin: 0 -40px -40px;
	border-top: 1px solid $brcl;
	@extend %clr;
	.btn {
		float: left;
	}
	.cart__forms {
		float: left;
		margin: 0 50px 20px 0;
		padding: 0;
	}
	.cart__services {
		float: left;
		margin-top: -5px;
	}
	.payment {
		padding-top: 15px;
		clear: both;
	}
}
.cart__back {
	float: left;
	margin: 31px 50px 0 0;
}
//stats-users
.stats-users {
	font-size: 0;
	li {
		padding: 10px 0;
		border-top: 1px solid $brcl;
		&:last-child {
			padding: 10px 0 0 0;
		}
	}	
}
.stats-users__count, .stats-users__prod {
	display: inline-block;
	vertical-align: middle;
}
.stats-users__count {
	margin-right: 35px;
	font-size: 18px;
	color: #8c8c8c;
	strong {
		margin-right: 5px;
		color: $orange;
	}
}
.stats-users__pic, .stats-users__desc {
	display: inline-block;
	vertical-align: top;
}
.stats-users__pic {
	margin-right: 15px;
	img {
		display: block;
	}
}
.stats-users__desc {
	width: 115px;
	margin-right: 15px;	
	a {
		display: block;
		padding: 4px 0;
		@include pm;
		font-size: 16px;
		color: #000;
		text-transform: uppercase;
		line-height: 1.2;
	}
}
//offer
.offer {
	margin-bottom: 40px;
	background: $orange;
}
.offer__title {
	position: relative;
	padding: 17px 20px 0;
	@include pm;
	text-align: center;
	font-size: 27px;
	text-transform: uppercase;
	color: #FFF;
	z-index: 10;
}
.offer__top {
	position: relative;
	padding: 60px 0 45px;
	text-align: center;
	font-size: 0;
	z-index: 10;
}
.offer__bg {
	position: relative;
	overflow: hidden;
	&:after {
		content: "";
		position: absolute;
		top: -420px;
		left: 0;
		width: 710px;
		height: 710px;
		@include background-image(radial-gradient(rgba(249,175,4,1), rgba(249,175,4,0)));
	}
}
.offer__slider {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 240px;
}
.offer__slider_right {
	.offer__btn-top, .offer__btn-down {
		left: auto;
		right: -43px;
	}
}
.offer__prod {
	@extend %clr;
}
.offer__prod-pic {
	float: right;
	margin-left: 15px;
	img {
		display: block;
	}
}
.offer__prod-desc {	
	overflow: hidden;
	line-height: 1;
	text-align: left;
	a {
		display: block;
		margin-bottom: 5px;		
		@include pm;
		text-transform: uppercase;
		font-size: 18px;
		color: #FFF;
	}
	.btn {
		position: absolute;
		left: 0;
		bottom: 0;
	}
}
.offer__plus {
	display: inline-block;
	margin: 35px 30px 0;
	@include s(sl-plus);
}
.offer__btn-top, .offer__btn-down {
	position: absolute;
	left: -43px;
}
.offer__btn-top {
	top: -25px;	
	@include s(sl-top);
}
.offer__btn-down {
	bottom: -25px;
	@include s(sl-down);
}
.offer__down {
	position: relative;
	padding: 20px 0 40px;
	background: #2d2d2d;
	@include background-image(linear-gradient(#2d2d2d, #000));
	p {
		text-align: center;
		@include pm;
		font-size: 24px;
		color: #7f7f7f;
		strong {
			color: $orange;
		}
		span {
			color: #FFF;
		}
		ins {
			text-decoration: line-through;
		}
		em {
			font-style: normal;
		}
	}
	.btn {
		position: absolute;
		bottom: -19px;
		left: 50%;
		margin-left: -125px;
	}
}
//buy-discount
.buy-discount {
	padding: 12px 20px 12px 30px;
	background: #f0f0f0;
	overflow: hidden;
	.counter {
		float: right;
	}
}
.buy-discount__title {
	float: left;
	margin-top: 4px;
	span {
		display: block;
		@include pm;
		font-size: 22px;
		text-transform: uppercase;
		color: $green;
		&:first-child {
			color: $orange;
		}
	}
}
//add-order
.add-order {	
	overflow: hidden;
}
.add-order__item {
	position: relative;
	float: left;
	width: 25%;
	padding: 25px 20px;
	background: #fff;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-top: 1px solid $brcl;
	text-align: center;
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 500px;
		border-right: 1px solid $brcl;
	}
	&:first-child {
		&:after {
			display: none;
		}
	}
}
.add-order__pic {
	margin-bottom: 10px;
	a {
		display: inline-block;
		position: relative;
		width: 60px;
		height: 83px;
	}
	img { 
		&.is-hover {
			position: absolute;
			top: -30px;
			right: -30px;
			bottom: -30px;
			left: -30px;
			z-index: 2;
			width: 120px;
			height: 143px;
			@include transition(all .3s linear);
			@include box-shadow(0 0 5px #000);
		}
	}
}
.add-order__title {
	margin-bottom: 3px;
	line-height: 1.2;
	a {
		@include pm;
		font-size: 16px;
		text-transform: uppercase;
		color: #303030;
	}
}
.add-order__price {
	margin-bottom: 15px;
	font-size: 11px;
	text-transform: uppercase;
	color: $orange;
	strong {
		margin-right: 5px;
		font-size: 16px;
	}
}
//labels
.label-in-stock {
	position: relative;
	display: inline-block;
	padding-right: 20px;
	font-size: 13px;
	color: $green;
	i {
		position: absolute;
		top: 3px;
		right: 0;
		@include s(label-in-stock);
	}
}
//tabs
.tabs {
	margin-bottom: 20px;
}
.tabs_desc {
	& > .tabs__top {
		background: #fff;
		.tabs__nav {
			float: left;
			margin-left: 38px;
			background: #f0f0f0;
			button {
				padding: 0 17px;
				font-size: 20px;			
			}
		}
	}	
	& > .tabs__content {
		padding: 28px 28px 5px 50px;
		text-align: left;
	}
}
.tabs__top {
	background: #f0f0f0;
	@extend %clr;
}
.tabs__nav {
	float: left;
	height: 43px;
	button {
		float: left;
		height: 43px;
		background: none;
		border-right: 1px solid #dcdcdc;
		border-top: 1px solid transparent;
		color: #9c9c9c;
		text-transform: uppercase;
		@include pm;
		font-size: 20px;
		padding: 0 12px;
		&.is-active {
			height: 44px;
			background: #fff;
			border-top: 1px solid $brcl;
			color: #000;
			cursor: default;
		}
		&:first-child {
			border-left: 1px solid $brcl;
		}
	}
}
.tabs__all {
	float: right;
	margin: 13px 20px 0 0;
	font-size: 11px;
	a {
		margin-right: 5px;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
.tabs__content {
	display: none;
	border: 1px solid $brcl;
	@extend %clr;
	.product-row {
		border-left: 0;
		border-right: 0;
	}
}
//prod
.prod {
	position: relative;
	padding: 10px 27px 15px;
	margin-bottom: 45px;
	border: 1px solid $brcl;
	border-top: 3px solid $green;
	.breadcrumbs {
		margin-bottom: 40px;
	}
	.prod__title {
		margin: -7px 0 10px 0;
	}
	.benefits {
		margin-bottom: 25px;
		@extend %clr;
	}
	.benefits__title {
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid $brcl;
	}
	.benefits__list {
		float: left;
		width: 120px;
		li {
			position: relative;
			padding: 6px 0 4px 35px;
			margin-bottom: 5px;
		}
		.benefits__number {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.benefits__list-first {
		width: 145px;
		margin-right: 20px;
	}
	.benefits__list-second {
		width: 180px;
		margin-right: 20px;
	}
}
.prod_mod {
	.prod__title {
		margin: 0 235px 35px 0;
	}	
	.prod__right {
		width: 400px;
	}
	.prod__links {
		padding: 0 0 8px 4px;
		border-width: 0 0 1px 0;
		text-align: left;
	}
	.prod__services {
		.prod__delivery, .prod__payment {
			float: none;
			width: auto;
		}
	}
	.prod__delivery-more {
		margin-bottom: 10px;
	}
	.prod__action {
		margin-bottom: 15px;
		background: #FFF;
		.prod__price-super {
			padding: 3px 0 0 15px;
			border: none;
			box-shadow: none;
			text-align: left;
		}
		.counter {
			padding: 0;
		}
	}
}
.prod_new {
	.prod__services {
		.prod__delivery {
			float: left;
			width: 486px;
		}
		.prod__payment {
			float: right;
			width: 398px;
		}
	}
}
.prod__articul {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px 14px;
	border: 1px solid $brcl;
	border-width: 0 0 1px 1px;
	color: #676767;
	strong {
		margin-left: 5px;
		color: #000;
	}
}
.prod__content {
	margin-bottom: 30px;
	@extend %clr;	
}
.prod__content_mod {
	margin-bottom: 0;
}
.prod__left {
	float: left;
	width: 485px;
	.gallery {
		margin-bottom: 25px;
	}
}
.prod__right {
	float: right;
	width: 380px;	
}
.prod__title {
	@include pm;
	font-size: 30px;
	text-transform: uppercase;
	line-height: 1.2;
}
.prod__info {
	margin-bottom: 22px;
	background: #f0f0f0;
	border-bottom: 1px solid $brcl;
	@extend %clr;
	.prod__buy {
		float: right;
		width: 225px;
		padding-top: 20px;
		margin: 0;
		text-align: center;
		.btn {
			float: none;
			margin: 0 0 18px 0;
		}
		.label-in-stock {
			margin-bottom: 7px;
			@include pm;
		}
	}
}
.prod__info-price {
	float: left;
	width: 140px;
	padding: 10px 16px;
	border-right: 1px solid $brcl;
	box-shadow: 1px 0 0 #fff;
	li {		
		padding-left: 15px;
		font-size: 14px;
		color: #303030;
		strong {
			margin-right: 5px;	
			@include pm;		
			font-size: 48px;						
		}
		&:first-child {
			margin-bottom: 2px;
			color: $orange;
			strong {
				font-size: 41px;				
			}			
		}
		&.prod__info-old {
			border: 1px solid #b7b7b7;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.13);
			background: #fff;
			@include background-image(linear-gradient(#fff, #e3e3e3));
			border-radius: 4px;
			line-height: 1.3;
			strong {
				letter-spacing: -2px;
			}
		}
	}	
}
.prod__message {
	padding-left: 15px;
	margin-bottom: 7px;
	@extend %clr;
	a {
		font-weight: bold;
		color: $orange;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	.rating {
		float: right;
	}
}
.prod__message_mod {
	margin-bottom: 17px;
	a {
		font-weight: normal;
	}
}
.prod__pay {
	padding: 15px 18px;
	background: #f0f0f0;
	border-bottom: 1px solid $brcl;
	margin-bottom: 7px;
	@extend %clr;
}
.prod__pay-left {
	float: left;
	width: 200px;
	margin-right: 20px;
}
.prod__pay-title {
	@include pm;
	font-size: 20px;
	text-transform: uppercase;
}
.prod__pay-price {
	span {
		position: relative;
		padding-right: 11px;
		font-size: 11px;
		color: $green;
		text-decoration: underline;
	}
	i {
		position: absolute;
		top: 6px;
		right: 0;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 4px 3px 0 3px;
		border-color: $green transparent transparent transparent;
	}
}
.prod__pay-types {
	li {
		position: relative;
		padding: 10px 0 10px 45px;
		border-top: 1px solid $brcl;
		box-shadow: 0 1px 0 #fff inset;
		@extend %clr;
		font-size: 11px;
		color: #6e6e6e;
		line-height: 1;
		&:first-child {
			border: none;
			box-shadow: none;
		}		
	}
	span {		
		display: block;
		overflow: hidden;
	}
	strong {
		float: right;
		margin-left: 5px;
		@include pm;
		font-size: 21px;
		color: #000;
	}
	i {
		position: absolute;
		top: 11px;
		left: 2px;
	}	
}
.prod__pay-link {
	a {
		font-size: 11px;
		color: $orange;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
.prod__pay-right {
	float: left;
	width: 140px;
	span {
		display: block;
		padding: 0 10px;
		margin-bottom: 18px;
		border: 1px solid #b7b7b7;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.13);
		background: #fff;
		@include background-image(linear-gradient(#fff, #e3e3e3));
		border-radius: 4px;
		font-size: 14px;
	}
	strong {
		margin-right: 3px;
		@include pm;
		font-size: 42px;
		letter-spacing: -2px;
		line-height: 1;
	}
	.btn {
		width: 100%;
		padding: 7px 0;
	}
}
.ico-card-silver {
	@include s(card-silver);
}
.ico-card-gold {
	@include s(card-gold);
}
.prod__scale {
	position: relative;
	margin: 0 15px 15px 15px;
}
.prod__scale-list {
	font-size: 0;
	li {
		display: inline-block;
		width: 20%;
		padding: 0 5px;		
		border-left: 1px solid $brcl;
		@include box-sizing(border-box);
		font-size: 11px;
		color: #6e6e6e;
		&:first-child {
			border: none;
		}
		span {
			display: block;
			padding-top: 30px;
			color: $green;
		}
	}
}
.prod__scale-line {
	position: absolute;
	top: 25px;
	left: 0;
	right: 0;
	height: 8px;
	border-radius: 4px;
	background: #f1f1f1;
	@include background-image(linear-gradient(#f1f1f1, #dfdfdf));
	box-shadow: 0 1px 1px rgba(0,0,0,.20) inset;
	i {
		position: absolute;
		top: 0;
		left: 0;
		height: 8px;
		background: #96ce4c;
		@include background-image(linear-gradient(#96ce4c, #6bab18));
		border-radius: 4px;
	}
}
.prod__prepay {
	margin-bottom: 7px;
	padding: 11px 0 14px 15px;
	background: #f0f0f0;
	border-bottom: 1px solid $brcl;
	@extend %clr;
}
.prod__prepay_bonus {
	padding: 0 0 0 15px;
	margin-bottom: 17px;
	background: #FFF;
	border: none;
	.prod__prepay-title {
		margin-top: 7px;
		color: $orange;
	}
	.prod__prepay-price {
		width: 170px;
		span {
			margin-top: 4px;
		}
		strong {
			font-size: 25px;
		}
	}
}
.prod__prepay-title {
	float: left;
	margin-right: 17px;
	@include pm;
	font-size: 20px;
	text-transform: uppercase;
}
.prod__prepay-price {
	float: left;
	width: 221px;
	height: 41px;
	padding: 0 7px 0 10px;
	border: 1px solid #b7b7b7;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.13);
	background: #fff;	
	@include background-image(linear-gradient(#fff, #e3e3e3));
	border-radius: 4px;
	line-height: 41px;
	span {
		float: left;
		font-size: 14px;
	}
	strong {
		margin-right: 3px;
		@include pm;
		font-size: 42px;
		letter-spacing: -2px;
		line-height: 1;
	}
	.btn {
		float: right;
		margin-top: 5px;
	}
}
.prod__price {
	margin-bottom: 16px;
	border: 1px solid $brcl;
	border-width: 1px 0;	
	text-align: center;
	font-size: 0;
	li {
		display: inline-block;
		border-left: 1px solid $brcl;
		font-size: 14px;
		&:first-child {
			border: none;
		}
	}
	strong {
		@include pm;
		font-size: 36px;
	}
	span {
		display: inline-block;
		width: 40px;
		margin-right: 10px;
		@include pm;
		font-weight: normal;
		text-transform: uppercase;
		line-height: 1.2;
	}	
}
.prod__price_mod {
	text-align: left;
	.prod__price-super {
		width: 90px;
		text-align: left;
		span {
			width: auto;
			margin: 0 10px;
		}
	}
	.prod__price-new {		
		width: auto;
		padding: 0 10px;
		border-right: 1px solid $brcl;
		color: $green;
	}
	.prod__price-links {
		display: inline-block;
		padding: 9px 0 0 15px;
		border-left: none;
		vertical-align: top;
		a {
			display: block;
			font-size: 11px;
			color: #939393;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
.prod__price-old {
	width: 115px;
	color: #8e8e8e;
	text-align: left;
	strong {
		text-decoration: line-through;
	}	
}
.prod__price-new {
	width: 118px;
}
.prod__price-super {
	width: 145px;
	text-align: right;
	color: $green;
	span {
		display: inline-block;
		width: 40px;
		margin-right: 10px;
		@include pm;
		font-weight: normal;
		text-transform: uppercase;
		line-height: 1.2;
	}
}
.prod__empty {
	margin-bottom: 19px;
	@extend %clr;
	strong {
		float: left;
		padding: 2px 0 0 10px;
		@include pm;
		font-size: 18px;
		text-transform: uppercase;
		color: #e90000;
	}
	.btn {
		float: right;
	}
}
.prod__buy {
	margin-bottom: 23px;
	@extend %clr;
	.btn {
		float: left;
		margin-right: 32px;
	}
	.label-in-stock {
		margin-bottom: 5px;
		@include pm;
		text-transform: uppercase;
		i {
			top: 2px;
		}
	}	
}
.prod__similar-top {
	position: relative;
	padding: 7px 0; 
	background: #e5e5e5;
	@include background-image(linear-gradient(#e5e5e5, #cbcbcb));
	border-bottom: 1px solid #b1b1b1; 
	box-shadow: none;
	@include pm;
	text-transform: uppercase;
	font-size: 14px;
	color: #464646;
	text-align: center;
	button {
		position: absolute;
		top: 8px;
	}
}
.prod__similar-next {
	right: 10px;
	@include s(btn-next);
}
.prod__similar-prev {
	left: 10px;
	@include s(btn-prev);
}
.prod__similar-slider {
	background: #f0f0f0;
	@extend %clr;
}
.prod__similar-item {
	width: 380px;
	white-space: normal;
	a {
		float: left;
		width: 50%;
		padding: 20px 15px;
		@include box-sizing(border-box);
		border-left: 1px solid #fefefe;
		&:first-child {
			border-left: none;
			border-right: 1px solid #d2d2d2;
		}
		&:hover {
			text-decoration: none;
			span {
				text-decoration: underline;
			}
		}
	}	
	img {
		float: left;
		margin-right: 10px;
	}
	span {
		display: block;
		padding: 3px 0;
		@include pm;
		text-transform: uppercase;
		font-size: 15px;
		line-height: 1.2;
		color: #303030;
	}
}
.prod__buy-links {
	line-height: 1;
	a {
		font-size: 11px;
		color: $orange;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
.prod__links {
	padding: 8px 0;
	margin-bottom: 23px;
	border: 1px solid $brcl;
	border-width: 1px 0;
	font-size: 0;
	text-align: center;
	li {
		position: relative;
		display: inline-block;
		margin: 0 11px;
		font-size: 11px;
		font-weight: bold;
	}
	a {		
		padding-left: 7px;		
		
		color: $green;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
		&:before {
			content: "";
			position: absolute;
			top: 4px;
			left: 0;
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 3px 0 3px 4px;
			border-color: transparent transparent transparent $green;
		}
	}
	span {
		margin-left: 5px;
		color: #4c4c4c;
	}
}
.prod__action {
	background: #f0f0f0;
	@extend %clr;
	.counter {
		float: right;
		padding: 15px 20px;		
	}
	.prod__price-super {
		float: left;
		width: auto;
		padding: 15px 20px;
		border-right: 1px solid #d2d2d2;
		box-shadow: 1px 0 0 #fefefe;
		text-align: center;
		font-size: 14px;
		line-height: 1.2;
		span {
			display: block;
			width: auto;
			margin: 0;
			font-size: 28px;
			font-weight: bold;
		}
		strong {
			@include pm;
			font-size: 44px;
		}
	}
}
.prod__services {
	@extend %clr;
}
.prod__services_mod {
	margin-bottom: 20px;
}
.prod__delivery {
	float: left;
	width: 486px;
}
.prod__delivery_mod {
	margin-bottom: 16px;
}
.prod__delivery-more {
	text-align: right;
	a {
		font-size: 11px;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
.prod__payment {
	float: right;
	width: 398px;
	.payment {
		margin-left: 35px;
	}
}
.prod__services-list {
	margin-bottom: 10px;
	li {
		padding: 7px 15px;
		background: #f0f0f0;
		border-bottom: 1px solid #d9d9d9;
		box-shadow: 0 1px 0 #fff inset;
		@extend %clr;
		&:first-child {			
			background: #e5e5e5;
			@include background-image(linear-gradient(#e5e5e5, #cbcbcb));
			border-bottom: 1px solid #b1b1b1; 
			box-shadow: none;
			@include pm;
			text-transform: uppercase;
			font-size: 14px;
			color: #464646;			
		}
		&:nth-child(2) {
			box-shadow: none;
		}
		strong {
			display: block;
			padding: 3px 0;
			@include pm;
			text-transform: uppercase;
			font-size: 14px;
			color: $green;
		}		
		span {
			position: relative;
			float: left;
			padding: 5px 0 5px 23px;
			i {
				position: absolute;
				top: 5px;
				left: 0;
				@include s(label-in-stock);
			}
			em {
				display: block;
				font-size: 11px;
				color: #6c6c6c;
				font-style: normal;
				line-height: 1;
			}
			&:first-child {
				width: 167px;
			}
		}
	}
}
//buy-click
.buy-click {
	margin-bottom: 18px;
	padding: 18px 36px 12px;
	border: 2px solid $green;
	@extend %clr;
}
.buy-click_less {
	padding: 20px 0 20px 25px;
	.buy-click__title, .buy-click__form {
		float: none;
	}
	.buy-click__title {
		padding-left: 40px;
		margin-bottom: 25px;
	}
}
.buy-click__title {
	float: left;
	@include pm;
	font-size: 28px;
	color: $green;
	text-transform: uppercase;
}
.buy-click__form {
	float: right;
	.label {
		position: relative;
		float: left;
		margin: 0 4px 5px 0;
		span {
			position: absolute;
			top: 6px;
			left: 9px;
			font-size: 12px;
			font-weight: bold;
			cursor: text;
			i {
				margin-left: 3px;
				font-style: none;
				color: $orange;
			}
		}
		.label__input {
			margin-bottom: 0;
		}
	}	
	.btn {
		padding: 4px 14px;
		cursor: pointer;
	}
}
.buy-click__pref {
	float: left;
	margin: 6px 10px 0 0; 
	font-weight: bold;
}
.buy-click__code {
	width: 76px;
	.label__tooltip {
		top: -24px !important;
		width: 100px;
		left: -55px !important;
	}
}
.buy-click__number {
	width: 166px;
	.label__tooltip {
		top: -24px !important;
		width: 100px;
		left: 0;
	}
}
.buy-click__help {
	padding-left: 30px;
	clear: both;
	font-size: 10px;
	color: #949494;
}
//photo-video
.photo-video {
	float: right;
	width: 263px;
	margin: 0 0 30px 32px;
}
.photo-video__title {
	padding: 5px 0;
	background: #e5e5e5;
	@include background-image(linear-gradient(#e5e5e5, #cbcbcb));
	border-bottom: 1px solid #b1b1b1; 
	box-shadow: none;
	text-align: center;
	@include pm;
	text-transform: uppercase;
	font-size: 14px;
	color: #3b3b3b;	
}
.photo-video__list {
	li {
		padding: 16px;
		background: #f5f5f5;
		border: 1px solid $brcl;
		border-width: 0 1px 1px 1px;
		text-align: center;
		font-size: 0;
	}
	a {
		display: inline-block;
	}
	img {
		max-width: 250px;
	}
}
.photo-video__video {
	a {
		position: relative;
		background: #000;
		&:hover {
			background: #f5f5f5;
		}
		img {
			@include opacity(.5);
		}
	}
}
//table
.table {
	th {
		padding: 0 0 10px 10px;
		text-align: left;
		&:first-child {
			padding: 0 0 10px 0;
		}
	}
	tr {
		td {
			background: #e9f2dd;
		}
		&:nth-child(2n) {
			td {
				background: #d9d9d9;
			}
		}
		&:hover {
			td {
				background: #ddeec5;
			}
			&:nth-child(2n) {
				td {
					background: #c9c9c9;
				}
			}
		}
	}
	td {
		padding: 7px 13px;
		&:first-child {
			color: $green;
		}
	}
}
//description
.description__content {
	margin-bottom: 20px;
	font-size: 14px;	
	overflow: hidden;
}
.description__title {
	margin: 0 160px 20px 0;
	@include pm;
	font-size: 24px;
	color: #303030;
	text-transform: uppercase;
	line-height: 1.2;
}
.description__txt {	
	height: 275px;
	margin-bottom: 10px;
	overflow: hidden;
}
.description__open {
	button {
		position: relative;
		padding-left: 13px;
		font-size: 11px;
		background: none;
		color: $green;
		text-decoration: underline;
		overflow: visible;
		&:before {
			content: "";
			position: absolute;
			top: 5px;
			left: 0;
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 4px 3px 0 3px;
			border-color: $green transparent transparent transparent;
		}
		&:hover {
			text-decoration: none;
		}
		&.is-open {
			&:before {
				content: "";
				border-width: 0 3px 4px 3px; 
				border-color: transparent transparent $green transparent;
			}
		}
	}
}
.description__detail {
	margin-bottom: 34px;
	overflow: hidden;
	.table {
		float: left;
		width: 315px;
		margin-right: 10px;
	}
}
.description__buy {
	background: #f0f0f0;
	overflow: hidden;
}
.description__buy-price, .description__buy-btn {
	background: #f0f0f0;
	border-top: 1px solid #d2d2d2;
	box-shadow: 0 1px 0 #fff inset;
}
.description__buy-price {
	padding: 12px 20px 14px;
	overflow: hidden;
	li {
		float: right;
		padding: 0 10px;
		strong {
			margin-right: 5px;
			@include pm;
			font-size: 34px;
		}
		&:first-child {
			float:left;
			padding: 1px;
			color: $orange;
			strong {
				text-decoration: line-through;
			}
		}
		&.description__buy-old {			
			border: 1px solid #b7b7b7;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.13);
			background: #fff;
			@include background-image(linear-gradient(#fff, #e3e3e3));
			border-radius: 4px;
		}
	}
}
.description__buy-btn {
	padding: 10px 0 21px;
	text-align: center;
	.label-in-stock {
		margin-bottom: 5px;
		@include pm;
		font-weight: normal;
		text-transform: uppercase;
		i {
			top: 2px;
		}
	}	
}
.description__buy-link {
	margin-bottom: 15px;
	line-height: 1;
	a {
		font-size: 11px;
		color: #f47b01;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
//qq
.qq {
	margin-bottom: 30px;
	clear: both;
}
.qq_auction {
	.qq__left,
	.qq__ava,
	.qq__center {
		float: none;
		display: inline-block;
	}
	.qq__ava {
		position: relative;
		top: 24px;
	}
	.qq__center {
		position: relative;
		top: 15px;
		margin-right: 20px;
	}
	.qq__right {
		float: right;
	}
}
.qq_mod {
	display: table;
	min-width: 585px;
}
.qq__title {
	margin-bottom: 20px;
	text-align: center;
	@include pm;
	font-size: 21px;
	color: #303030;
	text-transform: uppercase;
	span {
		color: $green;
	}
}
.qq__ask-btn {
	margin-bottom: 35px;
	text-align: center;
}
.product-list {
	//margin-bottom: 35px;
	.add-order {
		position: relative;
		top: -1px;
		border: 1px solid $brcl;
		clear: both;
	}
	.add-order__item {
		width: 20%;
		border-width: 0 0 0 1px;
	}
}
.qq__top, .product-list__top {
	height: 43px;
	background: #f0f0f0;
}
.product-list__top {
	position: relative;
	z-index: 10;
}
.qq__type, .product-list__title {
	float: left;
	height: 43px;
	padding: 0 12px;
	background: #fff;
	border: 1px solid $brcl;
	border-width: 1px 1px 0 1px;
	color: #000;
	line-height: 43px;
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 700;
	font-size: 20px;	
}
.qq__all-link {
	float: right;
	margin: 13px 20px 0 0;
	font-size: 11px;
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
.qq__content {
	padding: 20px 25px 10px 30px;
	margin-bottom: -1px;
	border: 1px solid $brcl;
	@extend %clr;
	.qq__col {
		float: left;
		width: 330px;
		&:first-child {
			width: 435px;
		}
	}
}
.qq__content_review {
	position: relative;
	padding: 20px 25px 10px 103px;
	background: #f0f0f0;
	&:before {
		content: "";
		position: absolute;
		top: 20px;
		left: 50px;
		@include s(qq-review);
	}
}
.qq__ava {
	float: left;
	margin-right: 23px;
	img {
		display: block;
	}
}
.qq__right {
	float: right;
	margin-left: 23px;
	.rating {
		margin-bottom: 10px;
	}
}
.qq__useful {
	span {
		display: block;
		margin-bottom: 5px;
		font-size: 11px;
		color: #757575;
	}
	ul {
		@extend %clr;
	}
	li {
		float: left;		
		text-align: center;		
		color: $green;
		font-size: 11px;
		&:first-child {
			margin-right: -1px;
			color: $orange;
			button {
				border-radius: 4px 0 0 4px;
				color: $orange;
			}			
		}
		button {
			width: 36px;
			height: 29px;
			padding: 4px 0 5px;
			margin-bottom: 3px;
			border-radius: 0 4px 4px 0;
			line-height: 1;
			@include pm;
			font-size: 16px;
			color: $green;
		}
		i {
			display: block;
			font-style: normal;
		}	
	}
}
.qq__center {
	display: table;
	line-height: 1.2;
}
.qq__user {
	margin-bottom: 4px;
	a {
		position: relative;
		padding-left: 18px;
		font-size: 13px;
		color: $green;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
		i {
			position: absolute;
			top: 2px;
			left: 0;
			@include s(user);
		}
	}
}
.qq__theme {
	margin-bottom: 7px;
	@include pm;
	font-size: 16px;
	color: #303030;
	text-transform: uppercase;
	span {
		color: #f47e01;
	}
}
.qq__txt {
	font-size: 12px;
	color: #828282;
}
.qq__links {
	padding: 15px 0 25px;
	a, .share__link {
		font-size: 11px;
		color: $green;
		text-decoration: underline;		
	}
	a {
		margin-right: 12px;
		&:hover {
			text-decoration: none;
		}
	}
}
.icon-big-arrow {
	display: inline-block;
	margin-right: 45px;
	vertical-align: middle;
	@include s(big-arrow);
}
.qq__prod-img,
.qq__prod-name {
	display: inline-block;
	vertical-align: middle;
}
.qq__prod-name {
	margin-left: 20px;
	width: 125px;
	font-size: 18px;
	text-transform: uppercase;
	@include pm;
	line-height: 1.1;
	color: #000;
}
.qq__add {
	.qq__type {
		background: #fff5ea;
		color: $orange;
	}
	.qq__content {
		padding: 45px 0 50px 130px;
		background: #fff5ea;
	}
	.label {
		margin-bottom: 0;
		@extend %clr;
	}
	.label__title {
		float: left;
		width: 105px;
		margin-top: 7px;
		font-size: 12px;
		color: #828282;
	}
	.label__select, .label__input, .label__area {
		float: left;
		width: 475px;
	}
	.label-check {
		top: -10px;
		margin: 0 0 15px 105px;
		span {
			color: $green;
		}
	}
}
.qq__add-btn {
	padding-left: 105px;
}
//share
.share {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	z-index: 10;
	&:hover {
		.share__link {
			text-decoration: none;
		}
		.share__list {
			display: block;
		}
	}
}
.share__link {
	cursor: default;
}
.share__list {
	display: none;
	position: absolute;
	top: 15px;
	left: -45px;
	padding-top: 12px;
}
.share__list-in {
	padding: 5px 5px 8px;
	background: #fcfcfc;
	@include background-image(linear-gradient(#fcfcfc, #f0f0f0));
	border: 1px solid #bcbcbc;
	box-shadow: 0 1px 16px rgba(0,0,0,.26);
	&:before, &:after {
		content: "";
		position: absolute;
		left: 50%;
		width: 0px;
		height: 0px;
		border-style: solid;		
	}
	&:before {
		top: 1px;
		margin-left: -11px;
		border-width: 0 11px 12px 11px;
		border-color: transparent transparent #b7b7b7 transparent;
	}
	&:after {
		top: 2px;
		margin-left: -10px;
		border-width: 0 10px 11px 10px;
		border-color: transparent transparent #fcfcfc transparent;
	}
	button {
		width: 32px;
		height: 29px;
		padding: 0;
		background: none;
		vertical-align: top;
		text-align: center;		
		line-height: 1;
		&:hover {			
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.13);
			border: 1px solid #b7b7b7;
			border-radius: 4px;
		}
	}
	i {
		display: inline-block;
	}
}
.share__fb {
	i {
		@include s(fb)
	}
}
.share__vk {
	i {
		@include s(vk)
	}
}
.share__tw {
	i {
		@include s(tw)
	}
}
.share__ml {
	i {
		@include s(ml)
	}	
}
//ico-play
.ico-play {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin: -23px 0 0 -23px;
	background: #ffa850;
	@include background-image(linear-gradient(#ffa850, #e47402));
	border: 3px solid #696969;
	border-radius: 50%;
	i {
		position: absolute;
		top: 11px;
		left: 15px;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 9px 0 9px 14px;
		border-color: transparent transparent transparent #4f4f4f;
	}
}
//media
.media {
	
}
.media__content {
	padding: 23px 0 23px 28px;
	border: 1px solid $brcl;
	@extend %clr;
	font-size: 0;
}
.media__list {
	float: left;	
	li {
		position: relative;
		float: left;
		height: 104px;
		margin: 0 -1px -1px 0;
		border: 1px solid $brcl;
		line-height: 104px;
		text-align: center;
		cursor: pointer;
		&.is-active {
			border-color: #898989;
			z-index: 10;
		}
		&.is-empty {
			background: #f4f4f4;
			cursor: default;
		}
	}
	img {
		vertical-align: middle;
	}
}
.media__preview {
	float: left;
}
.media_videos {
	margin-bottom: 28px;
	.media__preview {
		position: relative;
		width: 466px;
		margin-right: 40px;
		background: #000;
		cursor: pointer;
		img {
			@include opacity(.5);
		}
		.ico-play {
			width: 80px;
			height: 80px;
			margin: -40px 0 0 -40px;
			i {
				top: 24px;
				left: 30px;
				border-width: 16px 0 16px 28px;
			}			
		}
	}
	.media__list {
		width: 320px;
		li {
			width: 156px;
		}
	}	
}
.media_photos {
	margin-bottom: 40px;
	.media__preview {
		width: 212px;
		margin-right: 20px;
	}
	.media__list {
		width: 600px;
		li {
			width: 146px;
		}
	}	
}
//params
.params {
	margin-bottom: 50px;
	@extend %clr;
	font-size: 0;
}
.params__item {
	width: 90%;
	margin: 0 auto;
	.table {
		width: 100%;
		font-size: 12px;
	}
}
.params__title {
	padding: 22px 0 12px;
	@include pm;
	text-transform: uppercase;
	font-size: 14px;
}
//title
.title_gray {
	padding: 5px 30px;
	border-bottom: 1px solid #b1b1b1;
	background: #e5e5e5;
	@include background-image(linear-gradient(#e5e5e5, #cbcbcb));
	box-shadow: none;
	@include pm;
	font-size: 26px;
	color: #313131;
	text-transform: uppercase;
}
//delivery
.superb_desc {
	margin-bottom: 20px;
}
//go-top
.go-top {
	margin-bottom: 20px;
	text-align: right;
	a {
		position: relative;
		padding-right: 17px;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	i {
		position: absolute;
		top: 4px;
		right: 0;
		@include s(go-top);
	}
}
//rating
.rating {
	margin-bottom: 15px;
	@extend %clr;
	line-height: 1.1;
	span {
		float: left;
	}
}
.rating__in {
	float: left;
	img {
		float: left;
	}
}
//action-offer
.action-offer {
	position: relative;
	margin-bottom: 35px;
	border: 1px solid $brcl;
}
.action-offer__title {
	padding: 20px 50px;
	text-align: center;
	@include pm;
	font-size: 28px;
	color: #686868;
	text-transform: uppercase;
	span {
		color: $orange;
	}
}
.action-offer__slider {
	font-size: 0;
	text-align: center;
}
.action-offer__item {
	width: 100%;
}
.action-offer__item-in {
	position: relative;
	padding-top: 40px;
	height: 200px;
	.btn {
		position: absolute;
		bottom: -20px;
		left: 50%;
		margin-left: -105px;
	}
}
.action-offer__prod {
	display: inline-block;
	width: 120px;
	padding: 0 10px;
	vertical-align: top;
	text-decoration: none;
	font-size: 16px;	
	&:hover {
		text-decoration: none;
		.action-offer__detail {
			span {
				text-decoration: underline;
			}
		}
	}
}
.action-offer__pic {
	position: relative; 
	display: inline-block;	
	img {
		display: block;
	}
	span {
		position: absolute;
		top: -20px;
		right: -20px;
		width: 42px;
		height: 42px;
		background: #f79803;
		@include background-image(linear-gradient(#f79803, #f4800a));
		border-radius: 50%;
		line-height: 42px;
		text-align: center;
		@include pm;
		font-size: 16px;
		color: #FFF;
		i {
			font-style: normal;
			font-weight: normal;
		}
	}
}
.action-offer__detail {	
	span, strong {
		display: block;
	}
	span {
		margin: 7px 0;
		@include pm;
		color: #303030;
		text-transform: uppercase;
		line-height: 1.2;
	}
	strong {
		color: $orange;
		i {
			margin-left: 5px;
			font-style: normal;
			font-size: 14px;
			font-weight: normal;
		}
	}
}
.action-offer__plus, .action-offer__equally {
	display: inline-block;
	vertical-align: top;
}
.action-offer__plus {
	margin: 20px 30px;
	@include s(plus-green);
}
.action-offer__equally {
	margin: 30px 50px 0 40px;
	@include s(equally-green);
}
.action-offer__price {
	display: inline-block;
	vertical-align: top;
	margin-top: 15px;
	@include pm;
	font-size: 24px;
	text-transform: uppercase;
	strong {
		margin-right: 10px;
		font-size: 48px;
	}
	span {
		margin-top: 10px;
	}
}
.action-offer__prev, .action-offer__next {
	position: absolute;
	top: -1px;
	bottom: -1px;
	width: 38px;
	border: 1px solid #cecece;
	background: #f8f8f8;
	@include background-image(linear-gradient(#f8f8f8, #e9e9e9));
	overflow: visible;
	z-index: 200;
	i {
		position: absolute;
		top: 50%;	
		margin-top: -10px;	
	}
}
.action-offer__prev {
	left: -1px;
	i {
		left: 10px;
		@include  s(act-offer-prev);
	}
}
.action-offer__next {
	right: -1px;
	i {
		right: 10px;
		@include  s(act-offer-next);
	}
}
.action-offer__code {
	position: absolute;
	bottom: 10px;
	right: 55px;
	@include pm;
	text-transform: uppercase;
	font-size: 14px;
	color: #919191;
}
//label
.label__required {
	position: absolute;
	top: 30px;
	right: -250px;
	width: 215px;
	height: 7px;
	border-bottom: 1px solid $brcl;
	text-align: right;
	font-size: 11px;
	color: $green;
	span {
		display: inline-block;
		padding-left: 10px;
		background: #FFF;
	}
}
//reg
.reg {
	padding: 10px 27px 0;
	margin-bottom: 60px;
	border: 1px solid $brcl;
	border-width: 0 1px 1px 1px;
	.breadcrumbs {
		margin-bottom: 28px;
	}
	.tabs {
		margin-bottom: 0;
	}
	.tabs__content {
		padding: 44px 354px 44px 130px;
		border: none;
	}
	.label__select {
		padding-bottom: 17px;
		margin-bottom: 0;
	}	
}
.reg__address {
	position: relative;
	@extend %clr;
	.label {
		float: left;
		width: 98px;
		margin-left: 5px;
		&:first-child {
			width: 214px;
			margin-left: 0;
		}
	}
}
.reg__phones {
	margin-bottom: 8px;
	.label__title {
		span {
			font-size: 11px;
			color: #878787;
		}
	}
}
.reg__number {
	position: relative;
	@extend %clr;
	.label__title, .label__input, .label__select {
		float: left;
		margin-bottom: 7px;
		padding-bottom: 0;
	}
	.label__title {
		width: 31px;
		line-height: 29px;
	}
	.label__input {
		width: 149px;
		margin-right: 5px;
	}
	.label__select {
		width: 163px;
	}
	.reg__code {
		width: 66px;
	}
}
.reg__number-del {
	position: absolute;
	top: 7px;
	right: -28px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #fefefe;
	@include background-image(linear-gradient(#fefefe, #e5e5e5));
	border: 1px solid #b7b7b7;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.13);
	overflow: visible;
	i {
		position: absolute;
		top: 4px;
		left: 4px;
		@include s(del);
	}
}
.reg__add-btn {
	margin-bottom: 20px;
	background: none;
	color: $green;
	text-decoration: underline;
	font-size: 12px;
	&:hover {
		text-decoration: none;
	}
}
.reg__birth {
	margin-bottom: 32px;
	.label__help {
		margin: 0;
	}
}
.reg__date {
	@extend %clr;
	.label__input, .label__select, .label__title {
		float: left;
		margin-bottom: 2px;
		padding-bottom: 0px;
	}
	.label__title {
		margin-left: 12px;
		line-height: 29px;
	}
	.label__input {
		width: 72px;
		margin-right: 5px;
	}
	.label__select {
		width: 245px;
		margin-right: 5px;
	}
	.reg__day {
		width: 46px;
	}
}
.reg__btns {
	padding-top: 25px;
	clear: both;
	@extend %clr;
	.btn_gray {
		float: left;
	}
	.btn_big {
		float: right;
	}
}
.reg__bank {
	@extend %clr;
	.label {
		float: left;
		width: 211px;
		&:first-child {
			width: 203px;
			margin-right: 5px;
		}
	}
}
//cat-slider_similar
.cat-slider_similar {
	.add-order__item {
		float: left;
		width: 25%;
	}
}