.slider-action {
	position: relative;
	margin: 1px 0 46px;
	.pager {
		bottom: -30px;
		width: 100%;
	}
}
.action-wrap {
	overflow: hidden;
	width: 710px;
}
.action-wrap_single {
	margin: 30px 0;
	.action {
		height: auto;
	}
	.action__title {
		margin-bottom: 20px;
	}
}
.action {
	float: left;
	padding: 15px 20px;
	width: 50%;
	height: 130px;
	background: #f79b03;
	color: #fff;
	text-decoration: none;
	@include pm;
	text-transform: uppercase;
	@include box-sizing(border-box);
	@include background-image(linear-gradient(left, #f47b01, #f47b01 65%, #f79b03));
	overflow: hidden;
	img {
		float: right;
	}
	&:hover {
		text-decoration: none;
	}
}
.action__main {
	overflow: hidden;
}
.action__top {
	margin-bottom: 5px;
	color: #000;
	font-size: 22px;
}
.action__title {
	font-size: 18px;
}
.action__date {
	font-size: 12px;
	text-transform: normal;
	span {
		display: block;
		color: #000;
		font-size: 15px;
		text-transform: uppercase;
	}
}
.pager {
	position: absolute;
	text-align: center;
	button {
		position: relative;
		margin-left: 7px;
		width: 10px;
		height: 10px;
		border: 1px solid #b7b7b7;
		@include border-radius(50%);
		background: #e3e3e3;
		@include box-shadow(0 1px 1px rgba(0,0,0,.13));
		@include background-image(linear-gradient(bottom, #e3e3e3 0%, #fff 100%));
		&:first-child {
			margin-left: 0;
		}
		&:hover {
			@include box-shadow(none);
		}
		&.is-active {
			&:before {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -2px 0 0 -2px;
				width: 4px;
				height: 4px;
				@include border-radius(50%);
				background: #f47b01;
			}
		}
	}
}
.categ-block {
	border: 1px solid #dcdcdc;
	border-bottom: 0;
}
.categ-block__title {
	padding: 15px;
	color: #f47b01;
	text-transform: uppercase;
	@include pm;
	font-size: 22px;
	text-align: center;
	border-bottom: 1px solid #dcdcdc;
}
.categ-block__list {
	@extend %clr;
}
.categ-block__item {
	float: left;
	width: 16.5%;
	position: relative;
	&:hover {
		position: relative;
		z-index: 2;
		@include box-shadow(0 0 13px rgba(0,0,0,.38));
		.categ-block__link {
			text-decoration: none;
			background: #fff;
			border-left-color: transparent;
			@include box-shadow(0 0 0 2px #fff);
		}
		.categ-block__name {
			background: #fff;
			color: #000;
		}
	}
	&:first-child {
		width: 17.5%;
		.categ-block__link {
			border-left: 0;
		}
	}
}
.categ-block__link {
	display: block;
	background: #f5f5f5;
	text-align: center;
	@include box-sizing(border-box);
	border-left: 1px solid #dcdcdc;
}
.categ-block__img {
	height: 134px;
	line-height: 134px;
	img {
		vertical-align: middle;
	}
}
.categ-block__name {
	display: block;
	padding-top: 10px;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	@include pm;
	height: 66px;
	background: #f47b01;
	@include box-sizing(border-box);
	@include background-image(linear-gradient(bottom, #f9ae04 0%, #f47b01 100%));
}
.cat-slider {
	margin: 20px 0;
	.add-order {
		border: 1px solid $brcl;
		border-top: 0;
		&:after, 
		&:before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			width: 1px;
			background: #fff;
			z-index: 100;
		}
		&:before {
			right: auto;
			left: 0;
		}
	}
	.add-order__item {
		float: none;
		width: 178px;
		border-left: 1px solid $brcl;
		border-right: 1px solid $brcl;
		border-top: 0;
		margin-left: -1px;
	}
}
.cat-slider__head {
	position: relative;
	z-index: 2;
	height: 43px;
	background: #f0f0f0;
	@extend %clr;
	border-bottom: 1px solid $brcl;
}
.cat-slider__nav {
	float: right;
	@extend %clr;
	font-size: 0;
	a {
		display: inline-block;
		margin-right: 20px;
		color: #f47b01;
		font-size: 11px;
		vertical-align: middle;
		text-decoration: underline;
	}
	button {
		margin-left: -1px;
		@include box-sizing(border-box);
		height: 43px;
		width: 49px;
		border: 1px solid $brcl;
		border-bottom: 0;
		text-align: center;
		line-height: 1;
		vertical-align: middle;  
		i {
			display: inline-block;
			vertical-align: middle;
		}
		&.disabled {
			i {
				@include opacity(.2);
			}
		}
	}
}
.cat-slider__prev {
	i {
		@include s(prev1);
	}
}
.cat-slider__next {  
	i {  
		@include s(next1);
	}
}
.cat-slider__title {
	float: left;
	padding: 7px 15px;
	@include pm;
	height: 44px;
	@include box-sizing(border-box);
	border: 1px solid $brcl;
	border-bottom-color: #fff;
	font-size: 20px;
	color: #000;
	background: #fff;
	text-transform: uppercase;
}
.banner {
	@extend %clr;
	margin: 20px 0;
	padding: 20px 30px;
	height: 138px;
	@include box-sizing(border-box);
	@include background-image(linear-gradient(top, #f9ae04 0%, #f47b01 100%));
	.popular {
		padding: 0;
		width: 260px;
		background: none;
	}
	.popular__image {
		float: left;
		margin: 0 23px 0 0;
	}
	.popular__sub-title {
		margin-bottom: 6px;
	}
}
.banner__title{
	float: left;
	margin-top: 10px;
	line-height: 1;
	width: 360px;
	text-align: center;
	font-size: 78px;
	@include pm;
	text-transform: uppercase;
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}