$brcl: #dcdcdc;
$green: #69a915;
$orange: #f47b01;
/* ------------------------------------- Reset css -------------------------------------------- */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5,
h6, p, blockquote, pre,a, abbr, acronym, address, big,
cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small,
strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt,
dd, ol, ul, li,fieldset, form, label, legend,table, caption,
tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary,time, mark, audio, video { 
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
body, html {
    height: 100%
}
img,fieldset {border:none;}
button::-moz-focus-inner { padding: 0; border: 0 }
input[type="submit"], button {cursor:pointer;}
input[type='submit']::-moz-focus-inner{padding:0;border:0}
textarea {overflow: auto;}
input, button {
    margin: 0;
    padding: 0;
    border: 0;
}
input, textarea, select,button,
h1,h2,h3,h4,h5,h6,a,span,a:focus {
    outline: none;
}
@include iphone{*{-webkit-text-size-adjust: none;}}
ul,ol {
    list-style-type: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section { 
    display: block;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
body{
	font: {
		family: Arial,sans-serif;
		weight: normal;
		size: 12px;
	}
	line-height:1.4;
	min-width: 1000px;
}
// resets
a img,fieldset{
	border:none;
}
a {
	color: #68a814;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
input{
	outline: 0;
	border: 1px solid #d5d5d5;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
// common styles, these could be attached to any block with "@extend %wyswyg;"
%wyswyg{
	p{
		margin-bottom: 1em;
	}
	ul,ol{
		margin: 1em 2em;
		list-style: disc;
	}
	ol{
		list-style: decimal;
	}
	blockquote{
		margin: 1em 2em;
	}
	table{
		border-spacing: 0;
		border-collapse: collapse;
		width: 100%;
		td{
			border: 1px solid #ccc;
			padding: 5px;
		}
	}
}

%site{
	width: 960px;
	margin: 0 auto;
}    

// ----------------------------------- Header --------------------------------------- //

.top {
	@include box-sizing(border-box);
	height: 45px;
	background-color: #f0f0f0;
	border-bottom: 1px solid #dcdcdc;
	color: #676767;
	font-size: 12px;
	line-height: 1;
	position: relative;
	z-index: 3000;
	.label-check,
	.label-radio {
		line-height: 1.2;
	}
}
.top__in {
	@extend %site;
	@extend %clr;
}
.location {
	position: relative;
	float: left;
	max-width: 200px;
	height: 39px;
	margin: 6px 27px 0 -14px;
	&.is-active {
		box-shadow: 0 1px 16px rgba(0,0,0,.26);
		.location__city {
			background: #FFF;
			border: 1px solid #bcbcbc;
			border-width: 1px 1px 0 1px;					
		}	
		.location__down {
			display: block;
		}	
	}
}
.location__city {
	position: relative;
	padding: 9px 30px 17px 14px;
	border: 1px solid transparent;
	overflow: hidden;
	font-size: 12px;
	cursor: pointer;
	z-index: 20;
	@include unselectable;
	span {		
		float: left;
		margin-right: 5px;
		color: #676767;
	}
	strong {
		display: block;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		color: #000;
	}
	.ico-arr {
		position: absolute;
		top: 7px;
		right: 10px;
		width: 13px;
		height: 13px;
		border-radius: 50%;
		background: #fefefe;
		@include background-image(linear-gradient(#fefefe, #e5e5e5));
		border: 1px solid #b7b7b7;
		box-shadow: 1px 1px 1px rgba(0,0,0,.13);
		i {
			position: absolute;
			top: 5px;
			left: 4px;
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 3px 2.5px 0 2.5px;
			border-color: $orange transparent transparent transparent;
		}
	}	
}
.location__down, 
.callback__down, 
.enter__down {
	display: none;
	position: absolute;
	top: 38px;
	left: 0;
	background: #fff;
	@include background-image(linear-gradient(#fff, #f0f0f0));
	box-shadow: 0 1px 16px rgba(0,0,0,.26);	
	border: 1px solid #b7b7b7;
	z-index: 10;
}
.location__down {
	width: 275px;
	padding: 15px;
	.label {
		margin-bottom: 0;
	}
	.label__title {
		margin-bottom: 7px;
		font-size: 12px;
		color: #676767;
	}
	.label__input {
		margin-bottom: 15px;
	}
}
.location__title {
	margin-bottom: 15px;
	font-weight: bold;
	font-size: 18px;
	color: #000;
}
.location__cities {
	margin-bottom: 15px;
	overflow: hidden;
	span {
		display: block;
		margin-bottom: 10px;
	}
	a {
		float: left;
		margin: 0 9px 7px 0;
		text-decoration: underline;
	}
}
.top__nav{
	float: left;
	margin: 16px 40px 0 0;
	li{
		float: left;
		padding: 0 12px;
		border-left: 1px solid #d9d9d9;
		box-shadow: 1px 0 0 0 #fcfcfc inset;
		&:first-child {
			padding: 0 12px 0 0;
			border: none;
		}
	}
	a{
		color: #676767;
		text-decoration: none;  
		&:hover{
			text-decoration: underline;
		}
	}
}
.callback{
	position: relative;
	float: left;
	width: 145px;
	height: 39px;
	margin: 6px 7px 0 0;
	&.is-active {
		box-shadow: 0 1px 16px rgba(0,0,0,.26);
		.callback__title {
			background: #FFF;
			border: 1px solid #bcbcbc;
			border-width: 1px 1px 0 1px;					
		}	
		.callback__down {
			display: block;
		}	
	}
}
.callback__title {
	position: relative;
	width: 110px;
	padding: 9px 0 18px 33px;
	border: 1px solid transparent;
	overflow: hidden;
	font-size: 11px;
	color: $green;
	text-decoration: underline;
	cursor: pointer;
	z-index: 20;
	@include unselectable;
	&:hover {
		text-decoration: none;
	}
	.ico-arr {
		position: absolute;
		top: 14px;
		right: 11px;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 3px 2.5px 0 2.5px;
		border-color: $green transparent transparent transparent;
	}
	.ico-phone {
		position: absolute;
		top: 8px;
		left: 14px;
		@include s(ico_phone);
		border-radius: 50%;
		box-shadow: 0 0 5px rgba(0,0,0,.31);
	}
}
.callback__down {
	width: 255px;
	padding: 20px 25px;
	.label {
		margin: 0;
		@extend %clr;
	}
	.label__title {
		float: left;
		margin: 0;
		line-height: 29px;
		font-size: 12px;
		color: #676767;
	}
	.label__input {
		float: right;
		width: 175px;
		margin-bottom: 5px;
	}	
}
.callback__adv {
	position: relative;
	padding: 7px 0 17px 18px;
	font-size: 10px;
	color: $orange;
	.ico-attention {
		position: absolute;
		top: 6px;
		left: 0;
		@include s(ico_attention);
	}
}
.callback__time {
	position: relative;	
	strong {
		display: block;
	}
	strong {
		margin-bottom: 10px;
		font-size: 14px;
	} 
	.label-radio {
		margin: 7px 0 15px;			
	}	
}
.callback__cols {
	@extend %clr;
}
.callback__column {
	float: right;
	&:first-child {
		float: left;
	}
	.label__input {
		float: left;
		width: 63px;
		margin-bottom: 16px;
	}
}
.livechat {
 	float: left;
 	margin: 13px 0 0 0;
 	a {
		line-height: 1.5;
		font-size: 11px;
		color: #68a814;
		text-decoration: underline;
		&:hover{
		 	text-decoration: none;
		}
	}
	img {
		float: left;
 		margin-right: 4px; 		
	}
}
.enter{
	float: right;
	margin-top: 7px;	
}
.enter__reg {
	float: left;
	margin: 8px 26px 0 0;
	color: #68a814;
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}
.enter__go {
	position: relative;
	float: left;
	&.is-active {
		.enter__down {
			display: block;
		}
	}
}
.enter__down {
	top: 44px;
	left: auto;
	right: 0;
	width: 263px;
	padding: 15px 25px;
	&:before {
	  content: "";
	  position: absolute;
	  top: -10px;
	  right: 20px;
	  width: 18px;
	  height: 18px;
	  background: #fefefe;
	  @include rotate(45);
	  border: 1px solid #bcbcbc;
	  border-bottom: 0;
	  border-right: 0;
	}
	.label-check {
		margin-bottom: 15px;
		a {
			margin-left: 12px;
			font-size: 11px;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
.enter__login {
	@extend %clr;
	.label {
		float: left;
		width: 128px;
		margin-bottom: 0;
		&:first-child {
			margin-right: 6px;
		}
	}	
}

.header{
	@extend %clr;
}
.header__logo{
	float: left;
	padding-top: 28px;
	a{
		display: block;
		@include s(logo);
		@extend %hide-text;
	}
}
.header__info{
	float: left;
	margin-left: 30px;
	padding-top: 23px;
}
.header__contacts{
	margin-bottom: 10px;
	color: #2c2c2c;
	font-size: 14px;
	span{
		color: #f47b01;
	}
}
.header__tel{
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	color: #f47b01;
	margin-right: 14px;
	.icon{
		margin-top: -3px;
	}
	span{
		font-weight: normal;
		color: #c4c4c4;
	}
}
.search{
	position: relative;
	margin-bottom: 20px;
}
.search__field{
	position: relative;
}
.search__input{
	position: relative;
	z-index: 2000;
	@include box-sizing(border-box);
	border: 1px solid #adadad;
	@include border-radius(5px);
	@include background-clip(padding-box);
	background-color: #fff;
	@include box-shadow(2px 1px 2px rgba(0,0,0,.18));
	@include placeholder-color(#cacaca);
	font-size: 14px;
	color: #2c2c2c;
	width: 484px;
	height: 29px;
	padding: 0 12px;
	@include transition(border 0.2s ease-in-out, box-shadow 0.2s ease-in-out);
	&:focus{
		border: 1px solid #f47b01;
		border-color: rgba(244, 123, 1, 0.6);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(244, 123, 1, 0.6);
		@include placeholder-color(#2c2c2c);
	}
}
.search__submit{
	z-index: 2000;
	position: absolute;
	top: 1px;
	right: 1px;
	width: 38px;
	background-color: #f5f5f5;
	border: 0;
	height: 27px;
	@include border-radius(0 5px 5px 0);
	border-left: 1px solid #eaeaea;
	&:hover{
		cursor: pointer;
	}
	&:active{
		@include box-shadow(
			inset 	-1px 1px 2px rgba(0, 0, 0, 0.15)
			);
	}
	i{
		display: inline-block;
		vertical-align: middle;
		margin-top: -3px;
		@include s(ico_search);
	}
}
.search__list {
	display: none;
	position: absolute;
	top: 25px;
	left: 0;
	right: 0;
	list-style: none;
	border: 1px solid #adadad;
	border-bottom: none;
	z-index: 1000;
	li {
		&:first-child {
			a {
				padding-top: 12px;
			}
		}
	}
	a {
		display: block;
		padding: 8px 10px;
		border-bottom: 1px solid #dadada;
		@extend %clr;
		color: #7a7a7a;
		text-decoration: none;
		background: #f3f3f3;
		@include transition(all .1s linear);
		
		&:hover {
			background: #fff;
			color: #000;
		}
	}
	strong {
		color: #f47b01;
		font-weight: normal;
	}
	span {
		float: left;
		width: 90%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	i {
		float: right;
		width: 30px;
		text-align: center;
		font-style: normal;
	}
}
.search__example{
	color: #f47b01;
	font-size: 11px;
	margin-top: 8px;
	a{
		color: #5f5f5f;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}

.enter-soc {
	margin-bottom: 14px;
	font-size: 0;
	div{
		text-align: center;
	}
	.btn {
		margin-top: 10px;
		margin-left: 9px !important;
	}
}
.enter-soc__text {
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	color: #68a814 !important;
	font-size: 11px !important;
}
.enter-soc__link {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 27px;
	margin-right: 5px;
	border: 1px solid #b7b7b7;
	@include border-radius(5px);
	background: #e3e3e3;
	@include box-shadow(0 1px 1px rgba(0,0,0,.13));
	@include background-image(linear-gradient(bottom, #e3e3e3 0%, #fff 100%));
	text-align: center;
	line-height: 27px;
	&:hover {
		background: #dfdfdf;
	}
	&:active {
		@include box-shadow(inset 0 1px 1px rgba(0,0,0,.13));
	}
	i {
		display: inline-block;
		vertical-align: middle;
	}
}
.enter-soc__fb {
	i {
		@include s(fb);
	}
}
.enter-soc__vk {
	i {
		@include s(vk);
	}
}
.enter-soc__yandex {
	i {
		@include s(yandex);
	}
}
.enter-soc__mail {
	i {
		@include s(mail);
	}
}
.enter-soc__tw {
	i {
		@include s(tw);
	}
}
.enter-soc__google {
	i {
		@include s(gp);
	}
}
.btn-simple {
	display: block;
	padding: 8px 5px;
	@include pm;
	font-size: 13px;
	color: #f47b01 !important;
	text-decoration: none !important;
	text-transform: uppercase;
	text-align: center;
	@include border-radius(5px);
	border: 1px solid #c6c6c6;
}

.nav-wrap {
	position: relative;
}

.drop-nav {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 49px;
	z-index: 8;
	padding: 30px 0 30px 37px;
	@extend %clr;
	background: #2a2a2a;
	@include background-image(linear-gradient(#2a2a2a, #000));
	@include box-shadow(0 3px 43px rgba(0,0,0,.59));
}
.drop-nav__left {
	float: left;
	margin-right: 48px;
	width: 322px;
	padding-right: 32px;
	border-right: 1px solid #2f2f2f;
}
.drop-nav__right {
	overflow: hidden;  
}
.basket{
	position: relative;
	float: right;
	margin: 13px -7px 0 0;
	width: 167px;
	height: 84px;
	font-size: 12px;
	color: #676767;
	.icon-basket {
		position: absolute;
		left: 0;
		top: 0;
		@include s(ico_basket_off);
	}
	&.is-active{
		.basket__content{
			padding: 0 5px;
		}
		.icon-basket {  
			top: -7px;
			@include s(ico_basket_on);
		}
	}
	a{
		color: #68a814;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
	.icon_gift{
		float: left;
		margin-right: 10px;
	}
	.basket__in{
		position: relative;
		z-index: 2;
		padding: 32px 17px 10px;
		line-height: 1.2;
	}
	.basket__text{
		overflow: hidden;
		span{
			color: #f47b01;
			font-weight: bold;
		}
	}
}
.nav {
	display: table;
	width: 100%;
	@include box-sizing(border-box);
	background: #2e2e2e;
	@include background-image(linear-gradient(#2e2e2e, #010101));
	border-top: 2px solid #141414;
	height: 51px;
	margin-bottom: 21px;
	@extend %clr;
	.icon{
		vertical-align: top;
		margin-top: 20px;
		margin-left: 8px;
	}
}
.nav__item {
	display: table-cell;
	list-style-type: none;
	&:hover{
		z-index: 100;
		cursor: pointer;
		//@include box-shadow(0 -3px 43px rgba(0,0,0,.59));
		
		.drop-nav {
			display: block;
		}
		.nav__link {
			z-index: 9;
			color: #f47b01;
			@include background-image(linear-gradient(#2e2e2e, #2a2a2a));
			&:after {
				display: none;
			}
		}
	}
	&:last-child {
		.nav__link {
			&:after {
				display: none;
			}
		}
	}
	
}
.nav__link {
	position: relative;
	display: block;
	@include pm;
	font-size: 22px;
	color: #fff;
	text-transform: uppercase;
	line-height: 49px;
	color: #fff;
	text-decoration: none;
	padding-left: 19px;
	padding-right: 13px;
	&:after {
		content: ""; 
		position: absolute;
		top: 11px;
		right: -1px;
		bottom: 0;
		width: 1px; 
		height: 25px;
		@include background-image(linear-gradient(#2e2e2e, #2a2a2a));
	}
}

// ----------------------------------- Footer --------------------------------------- //
.footer {
	// height: 725px; //tmp
	background: #2e2e2e;
	@include background-image(linear-gradient(#2e2e2e, #0b0b0b));
	a{
		color: #68a814;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
	.footer__title {
		display: inline-block;
		font-size: 18px;
		color: #fff;
		@include pm;
		line-height: 1;
		text-transform: uppercase;
		margin-bottom: 25px;
		text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
	}
}


.footer__in{
	@extend %site;
	padding-top: 39px;
}
.subscribe{
	@extend %clr;
	height: 49px;
	line-height: 49px;
	margin-bottom: 50px;
	padding: 0 15px 0 20px;
	@include border-radius(5px);
	@include background-clip(padding-box);
	background-color: #6bab17;
	@include background-image(linear-gradient(#a0da54, #67a713));
	.tooltip {
		right: 59px;
		top: -167px;
	}
}
.subscribe__text{
	float: left;
	margin-right: 34px;
	color: #fff;
	font-size: 21px;
	@include text-shadow(0 1px 0 rgba(0,0,0,.12));
	@include pm;
	text-transform: uppercase;
	.icon_subscribe{
		vertical-align: top;
		margin-right: 20px;
		margin-top: 16px;
	}
}
.subscribe__field {
	position: relative;
	float: right;
	width: 491px;
	@extend %clr;
	.btn {
		position: absolute;
		top: 9px;
		right: 0;
		padding: 5px 17px;
	}
}
.subscribe__input{
	@include border-radius(5px);
	@include background-clip(padding-box);
	background-color: #fff;
	@include box-shadow(1px 1px 2px rgba(0,0,0,.22));
	@include background-image(linear-gradient(bottom, #f0f0f0 0%, #fff 100%));
	border: 0;
	line-height: 14px;
	width: 440px;
	padding: 7px 13px;
	@include placeholder-color(#5f5f5f);
	color: #5f5f5f;
	font-size: 12px;
}

.footer__nav{
	@extend %clr;
	font-size: 12px;
	margin-left: -55px;
	margin-bottom: 40px;
	ul{
		float: left;
		margin-left: 55px;
	}
	li{
		list-style-type: none;
		line-height: 1.5;
	}
}
.footer__row{
	@extend %clr;
	border-top: 1px solid #2f2f2f;
	padding-top: 30px;
	padding-bottom: 40px;
	color: #c4c4c4;
}
.footer__col{
	float: left;
	margin-right: 65px;
	p{
		color: #898989;
	}
}
.footer__delivery{
	width: 200px;
}
.footer__about{
	width: 308px;
}
.footer__payment{
	width: 322px;
	margin-right: 0;
	p{
		width: 286px;
	}
	.payment {
		margin-top: 20px;
	}
}
.payment {
	line-height: 1;
	li {
		list-style-type: none;
		display: inline-block;
		margin-left: 15px;
		@extend %hide-text;
		opacity: .3;
		@include transition(opacity 0.5s);
		&:first-child{
			margin-left: 0;
		}
		&:hover{
			@include opacity(1);
		}
	}
}
.footer__info {
	float: left;
	width: 60%;
}
.footer__copyright {
	display: inline-block;
	vertical-align: top;
	margin-right: 55px;
	color: #fff;
	a{
		font-size: 11px;
	}
}
.footer__tel {
	display: inline-block;
	vertical-align: top;
	font-size: 11px;
}
.footer__tel-number {
	font-size: 24px;
	font-weight: bold;
	color: #f47b01;
	margin-right: 45px;
	.icon{
		margin-top: -3px;
	}
	span{
		font-weight: normal;
		color: #6c6c6c;
	}
}
.footer__address {
	display: inline-block;
	vertical-align: top;
	font-size: 11px;
}
.socials {
	float: right;
	ul{
		line-height: 1;
	}
	li{
		display: inline-block;
		vertical-align: top;
		list-style-type: none;
		margin-left: 30px;
		&:hover{
			span{
				@include opacity(1);
			}
		}
	}
	a{
		@extend %hide-text;
		position: relative;
	}
	span{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: "";
		@include opacity(0);
		@include transition(opacity 0.5s);
	}
}

  