.icon_basket{@include s(ico_basket);}
.icon_gift{@include s(ico_gift);}
.icon_zoom{@include s(zoom);}
.icon_team-fb{@include s(tfb);}
.icon_team-vk{@include s(tvk);}
.icon_team-tw{@include s(ttw);}
.icon_team-mail{@include s(tmail);}
.icon_contact_phone{@include s(contact_phone);}
.icon_contact_kyivstar{@include s(contact_kyivstar);}
.icon_contact_life{@include s(contact_life);}
.icon_contact_mts{@include s(contact_mts);}
.icon_contact_callback{@include s(contact_callback);}
.icon_contact_chat{@include s(contact_chat);}
.icon_contact_skype{@include s(contact_skype);}
.icon_contact_qrc{@include s(contact_qrc);}


.superb{
	border: 1px solid #dcdcdc;
	border-width: 1px 1px 0;
	color: #5f5f5f;
	li{
		font-size: 12px;
		position: relative;
		padding-left: 10px;
		margin-bottom: 0.5em;
		&:before{
			position: absolute;
			top: 0;
			left: 0;
			content: "•";
			color: #68a814;
			font-size: 12px;
		}
	}
	p{
		margin-bottom: 0.5em;
	}
	a{
		color: #f47b01;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
	.marked{
		color: #68a814;
	}
	.btn-show{
		border: 1px solid #dcdcdc;
		border-width: 1px 0;
	}
}
.superb__item{
	position: relative;
}
.superb__in{
	padding: 30px;
}
.superb__head{
	padding: 0 30px 0 50px;
	p{
		margin-top: 0.5em;
		font-weight: bold;
		margin-bottom: 0;
	}
}
.superb__title{
	position: relative;
	@include pm;
	font-size: 30px;
	text-transform: uppercase;
	color: #f47b01;
	line-height: 1;
	span{
		position: absolute;
		top: 0;
		left: -50px;
		width: 34px;
		height: 34px;
		line-height: 34px;
		text-align: center;
		display: block;
		background-color: #67a713;
		@include background-image(linear-gradient(bottom, #67a713 0%, #8ac143 100%));
		color: #fff;
		font-size: 20px;
		font-weight: bold;
		@include pm;
		@include border-radius(50%);
	}
}
.superb__content{
	margin-top: 10px;
	padding: 0 30px 0 50px;
	ul+p{
		margin-top: 1em;
	}
}
.superb__content_mod{
	padding: 0;
}
.superb__city{
	font-size: 11px;
}
.superb__meta{
	padding: 0 30px 0 50px;
	margin-bottom: 1em;
	p{
		margin-bottom: 0;
	}
}
.superb__info{
	color: #68a814;
	font-size: 11px;
	strong{
		text-transform: uppercase;
		color: #f47b01;
	}
}
.superb__cols{
	@extend %clr;
	padding-top: 25px;
}
.superb__col{
	float: left;
	width: 50%;
	padding-left: 78px;
	@include box-sizing(border-box);
}
.superb__payment{
	position: relative;
	margin-bottom: 30px;
}
.superb__payment-title{
	font-weight: bold;
	font-size: 14px;
	color: #000;
	margin-bottom: 10px;
}
.superb__icon{
	position: absolute;
	left: -78px;
	top: -10px;
}
.superb__icon_cash{
	@include s(cash)
}
.superb__icon_time{
	@include s(time)
}
.superb__icon_box{
	@include s(box)
}
.superb__hide{
	display: none;
	position: absolute;
	top: 20px;
	right: 20px;
	content: "";
	@include s(btn-close);
	&:hover{
		cursor: pointer;
	}
	&.is-active{
		display: block;
	}
}





.about{
	border: 1px solid #dcdcdc;
	border-width: 0 1px 1px 1px;
}
.about__in{
	padding: 40px 30px 0;
	margin-bottom: 40px;
}
.title_funny{
	@include pm;
	font-size: 27px;
	font-weight: bold;
	color: #2a2a2a;
	position: relative;
	text-align: center;
	display: block;
	line-height: 1;
	margin: 0 50px 30px;
	text-transform: uppercase;
	@include box-sizing(border-box);
	&:before{
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: #dcdcdc;
	}
	em{
		font-style: normal;
		padding: 0 25px;
		display: inline-block;
		background-color: #fff;
		position: relative;
	}
	span{
		display: inline-block;
		&:before{
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			height: 15px;
			width: 1px;
			background-color: #dcdcdc;
		}
		&:after{
			content: "";
			position: absolute;
			top: 50%;
			right: 0;
			height: 15px;
			width: 1px;
			background-color: #dcdcdc;
		}
	}
}
.about__detail{
	@extend %clr;
	margin-bottom: 30px;
	li{
		text-transform: uppercase;
		text-align: center;
		@include pm;
		font-size: 14px;
		color: #a1a1a1;
		float: left;
		border-left: 1px solid #dcdcdc;
		margin-left: 40px;
		padding: 10px 0 10px 40px;
		width: 100px;
		line-height: 1.2;
		&:first-child{
			border-left: 0;
			margin: 0;
			padding: 10px 0 10px 0;
		}
		span{
			@include pl;
			font-size: 38px;
			color: #f47b01;
			line-height: 1;
			font-weight: normal;
			display: block;
			margin-bottom: 10px;
		}
	}
}
.about__cols{
	@extend %clr;
	margin-bottom: 30px;
}
.about__col{
	float: left;
	width: 310px;
	text-align: center;
	.btn{
		margin-top: 10px;
		.icon{
			margin-left: 2px;
			margin-top: -4px;
		}
	}
	.btn_gray{
		color: #000;
	}
}
.about__col_right{
	float: right;
}
.about__media{
	width: 310px;
	height: 222px;
	overflow: hidden;
	a{
		display: block;
	}
	img{
		display: block;
	}
}
.about__address{
	@include box-sizing(border-box);
	border: 1px solid #dcdcdc;
	background-color: #f0f0f0;
	padding: 65px 20px 20px;
	text-align: center;
	font-size: 12px;
	color: #5f5f5f;
	line-height: 1.2;
}
.about__address-title{
	font-size: 28px;
	color: #2a2a2a;
	@include pm;
	text-transform: uppercase;
	line-height: 1;
	margin-bottom: 18px;
}

.team{
	background-color: #fff;
}
.team__in{
	padding: 0;
}
.team__hide{
	width: 708px;
}
.team__member{
	@extend %clr;
	border-top: 1px solid #dcdcdc;
	padding: 20px 0 20px 30px;
}
.team__games-list{
	position: relative;
	.js-games-slide{
		margin-right: 20px;
		img{
			width: 60px;
			height: 83px;
			overflow: hidden;
			display: block;
		}
	}
}
.team__games-btn{
	position: absolute;
	top: 50%;
	right: -8px;
	margin-top: -5px;
	i{
		display: inline-block;
		vertical-align: middle;
		@include s(arr-games);
	}
}
.team__media{
	float: left;
	width: 117px;
	margin-right: 20px;
}
.team__userpic{
	@include box-sizing(border-box);
	border: 1px solid #e3e3e3;
	overflow: hidden;
	margin-bottom: 15px;
	img{
		display: block;
	}
}
.team__info{
	float: left;
	width: 170px;
	margin-right: 30px;
}
.team__name{
	@include pm;
	font-size: 23px;
	color: #2a2a2a;
	line-height: 1.2;
	display: block;
	width: 150px;
	text-transform: uppercase;
	margin-bottom: 0.2em;
}
.team__job{
	@include pm;
	font-size: 13px;
	text-transform: uppercase;
	color: #68a814;
	margin-bottom: 0.5em;
}
.team__about{
	font-size: 11px;
	color: #828282;
	line-height: 1.3;
	height: 71px;
	overflow: hidden;
}
.team__games{
	float: left;
}
.team__games-title{
	color: #f47b01;
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 25px;
}
.team__button{
	border-top: 1px solid #dcdcdc;
	@include box-sizing(border-box);
	height: 40px;
	background-color: #fdfdfd;
	@include background-image(linear-gradient(#fdfdfd, #f0f0f0));
	a{
		display: inline-block;
		height: 100%;
		width: 100%;
		text-align: center;
	}
	i{
		display: inline-block;
		vertical-align: top;
		margin-top: 16px;
		@include s(arrow_cycle);
	}
	&.is-active{
		i{
			@include rotate(180);
		}
	}
}
.team__social{
	@extend %clr;
	line-height: 1;
	li{
		@extend %hide-text;
		float: left;
		margin-left: 20px;
		height: 15px;
		line-height: 15px;
		&:first-child{
			margin: 0;
		}
		&:hover{
			.icon_team-fb{
				@include s(tfb_h);
			}
			.icon_team-vk{
				@include s(tvk_h);
			}
			.icon_team-tw{
				@include s(ttw_h);
			}
			.icon_team-mail{
				@include s(tmail_h);
			}
		}
	}
}

.benefits_mod{
	margin-bottom: 25px;
}



.map{
	margin-bottom: 30px;
}
.map__title{
	line-height: 1;
	@include pm;
	font-size: 28px;
	text-transform: uppercase;
	margin-bottom: 25px;
}
.map__content{
	border: 1px solid #ddd;
	@include box-sizing(border-box);
	height: 400px;
	overflow: hidden;
	width: 100%;
}

.contacts{
	padding: 40px 30px 25px;
	border: 1px solid #dcdcdc;
	border-width: 0 1px 1px 1px;
	@include box-sizing(border-box);
}
.contacts__title{
	line-height: 1;
	@include pm;
	font-size: 28px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.contacts__text{
	font-size: 14px;
	color: #5f5f5f;
	margin-bottom: 30px;
	strong{
		color: #000;
	}
	span{
		color: #f47b01;
	}
}
.contacts__list{
	@extend %clr;
	margin-bottom: 35px;
	li{
		height: 52px;
		line-height: 52px;
		margin-bottom: 1px;
		@include box-sizing(border-box);
		&:hover{
			.contacts__list-icon{
				margin-right: 0;
			}
			.contacts__list-text{
				margin-top: -1px;
				height: 54px;
				border: 1px solid #b5b5b5;
				@include box-shadow(0 0 13px rgba(0,0,0,.19));
				cursor: default;
				width: 581px;
			}
		}
	}
	a{
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}
.contacts__list-icon{
	float: left;
	width: 67px;
	margin-right: 1px;
	background-color: #67a713;
	@include background-image(linear-gradient(bottom, #67a713 0%, #8ac143 100%));
	height: 100%;
	text-align: center;
	@include box-shadow(inset -1px -1px 0 rgba(#000,.1));
}
.contacts__list-text{
	float: left;
	background-color: #f6f6f6;
	@include background-image(linear-gradient(bottom, #eee 0%, #f6f6f6 100%));
	width: 579px;
	height: 100%;
	font-size: 12px;
	color: #5f5f5f;
	padding-left: 16px;
	@include box-sizing(border-box);
	span{
		font-size: 18px;
		color: #989898;
		display: inline-block;
		margin-right: 15px;
	}
	strong{

		color: #000;
	}
}

.last-buy{
	font-size: 12px;
	color: #5f5f5f;
	a{
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
	.btn-show{
		border: 1px solid #dcdcdc;
		line-height: 40px;
	}
}
.last-buy__title{
	font-size: 12px;
	color: #f47b01;
	margin-bottom: 15px;
	line-height: 1;
}
.last-buy__content{
	padding: 15px 17px 5px;
	border: 1px solid #dcdcdc;
	border-width: 1px 1px 0 1px;
}
.last-buy__item{
	margin-bottom: 10px;
	width: 99%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.feedback{
	position: relative;
	@extend %clr;
	margin-bottom: 30px;
	.btn{
		float: right;
	}
	.label{
		margin-bottom: 10px;
	}
	.label__area{
		margin-bottom: 0;
	}
	.label__input{
		width: 312px;
		margin-bottom: 0;
	}
	.label__title{
		display: block;
		margin-bottom: 17px;
		span{
			margin-left: 0;
			margin-right: 5px;
		}
	}
	.label__title_mod{
		margin-bottom: 5px;
		font-size: 12px;
		color: #5f5f5f;
		position: absolute;
		top: 7px;
		left: 335px;
	}
	.label__tooltip{
		top: -27px;
	}
}
.feedback__title{
	margin-bottom: 30px;
	font-size: 14px;
	color: #f47b01;
	line-height: 1;
}
.feedback__in{
	position: relative;
}
.label__feedback{
	position: absolute;
	top: -5px;
	right: 0;
	height: 29px;
	@extend %clr;
	.label__title{
		display: inline-block;
		margin-right: 12px;
		margin-bottom: 0;
		line-height: 29px;
		vertical-align: top;
	}
	.label__select{
		display: inline-block;
		width: 312px;
		padding-bottom: 0;
	}
}
.label__warning{
	font-size: 11px;
	color: #6dac1b;
	margin-top: 20px;
}
.label__select{
	&.is-inactive{
		span{
			font-size: 14px;
			color: #b2b2b2;
			font-weight: normal;
		}
	}
}

.title_orange{
	background-color: #ff5a00;
	@include background-image(linear-gradient(#ff5a00, #ef4400));
}
.locked{
	border: 1px solid #dcdcdc;
	border-width: 0 1px 1px 1px;
	padding: 65px 40px;
	margin-bottom: 20px;
}
.locked__title{
	text-align: center;
	@include pm;
	font-size: 37px;
	text-transform: uppercase;
}
.locked__subtitle{
	text-align: center;
	@include pm;
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 50px;
}
.locked__icon{
	text-align: center;
	margin-bottom: 60px;
	i{
		display: inline-block;
		@include s(locked);
	}
}
.locked__text{
	text-align: center;
	color: #676767;
	font-size: 12px;
}


.news{
	margin-bottom: 30px;
	position: relative;
}
.news__return{
	position: absolute;
	right: 25px;
	top: -38px;
	color: #fff;
	font-size: 11px;
	text-decoration: underline;
	text-transform: none;
	font-family: Arial, sans-serif;
	font-weight: normal;
	&:hover{
		text-decoration: none;
	}
}
.news__promo{
	@extend %clr;
	background-color: #3c3c3c;
	@include background-image(linear-gradient(#3c3c3c, #000));
	color: #bdbdbd;
	font-size: 12px;
}
.news__promo-in{
	padding: 30px 40px 30px 30px;
}
.news__promo-pager{
	position: absolute;
	top: -85px;
	right: -10px;
	color: #fff;
	z-index: 500;
	span{
		font-size: 33px;
		margin-left: 10px;
		display: inline-block;
		&.cycle-pager-active{
			color: #000;
		}
		&:hover{
			cursor: pointer;
		}
	}
}
.news__promo-content{
	width: 640px;
}
.news__promo-pic{
	float: right;
	margin-left: 25px;
	width: 270px;
	overflow: hidden;
	img{
		display: block;
		max-height: 182px;
		min-width: 270px;
	}
	a{
		display: block;
	}
}
.news__promo-info{
	overflow: hidden;
}
.news__promo-title{
	height: 62px;
	overflow: hidden;
	font-size: 25px;
	color: #fff;
	@include pm;
	text-transform: uppercase;
	line-height: 1.2;
	margin-top: -6px;
	margin-bottom: 0.5em;
	a{
		text-decoration: none;
		color: #fff;
		&:hover{
			text-decoration: underline;
		}
	}
}
.news__promo-meta{
	margin-bottom: 10px;
}
.news__promo-date{
	display: inline-block;
	vertical-align: top;
	color: #7eb832;
	font-size: 11px;
	margin-left: 10px;
}
.news__promo-text{
	margin-bottom: 15px;
	line-height: 1.2;
	height: 56px;
	overflow: hidden;
}


.news__list{
	border: 1px solid #dcdcdc;
	border-width: 1px 1px 0;
}
.news__item{
	border-bottom: 1px solid #dcdcdc;
	padding: 30px 38px 30px 30px;
	@extend %clr;
}
.news__pic{
	float: right;
	margin-left: 30px;
	width: 156px;
	overflow: hidden;
	a{
		display: block;
	}
	img{
		display: block;
	}
}
.news__info{
	overflow: hidden;
}
.news__title{
	@include pm;
	font-size: 18px;
	text-transform: uppercase;
	line-height: 1.2;
	margin-top: -4px;
	margin-bottom: 0.2em;
	a{
		color: #000;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}
.news__date{
	font-size: 11px;
	color: #bfbfbf;
	margin-bottom: 0.4em;
}
.news__text{
	font-size: 12px;
	color: #676767;
	a{
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}


.news__main{
	padding: 30px;
	border: 1px solid #dcdcdc;
	border-width: 0 1px 1px;
}
.news__article{
	figure{
		float: left;
		margin: 0 30px 0 0;
		img{
			display: block;
		}
	}
	.figure_right{
		float: right;
		margin: 0 0 0 30px;
	}
}
.news_in{
	.news__title{
		font-size: 30px;
	}
	.news__date{
		font-size: 11px;
		color: #71af21;
		margin-bottom: 1.3em;
	}
	.news__text{
		line-height: 1.2;
		p{
			font-size: 14px;
			color: #676767;
			margin-bottom: 1em;
		}
	}
}

.socshare{
	padding: 20px 30px;
	border: 1px solid #dcdcdc;
	border-width: 0 1px 1px 1px; 
}

.news__vote{
	background-color: #f0f0f0;
	@extend %clr;
	padding: 20px 30px;
}
.news__vote-rating{
	overflow: hidden;
}
.news__vote-title{
	overflow: hidden;
	@include pm;
	font-size: 16px;
	text-transform: uppercase;
	color: #000;
	display: inline-block;
	vertical-align: middle;
	height: 22px;
	line-height: 22px;
	margin-right: 20px;
}
.rating_mod{
	display: inline-block;
	vertical-align: middle;
	height: 22px;
	line-height: 22px;
	margin-bottom: 0;
}
.news__vote-detail{
	float: right;
	font-size: 11px;
	color: #676767;
	span{
		font-weight: bold;
		color: #000;
	}
	i{
		@include s(star);
		display: inline-block;
		vertical-align: middle;
		margin-right: 5px;
		margin-top: -3px;
	}
}

.pagination{
	background-color: #f0f0f0;
	@extend %clr;
	padding: 11px;
	text-align: center;
	position: relative;
}
.pagination__pages{
	display: inline-block;
	li{
		float: left;
		margin-left: -1px;
		background-color: #fff;
		line-height: 1;
		font-size: 11px;
		color: #676767;
		border: 1px solid #dcdcdc;
		&:first-child{
			border-width: 1px;
		}
		a{
			display: block;
			padding: 4px 6px;
			color: #676767;
			text-decoration: none;
		}
		&.is-active, &:hover{
			color: #fff;
			background-color: #f47b01;
			a{
				color: #fff;
				text-decoration: none;
			}
		}
		&.is-inactive{
			border: 0;
			background-color: transparent;
			padding: 4px 6px;
			cursor: default;
			&:hover{
				color: #676767;
			}
		}
	}
}
.paginator__nav{
	position: absolute;
	top: 14px;
	font-size: 11px;
	display: inline-block;
	color: #676767;
	text-decoration: none;
	i{
		display: inline-block;
		vertical-align: middle;
		margin-top: -2px;
	}
	a{
		padding: 3px 7px;
		border: 1px solid #dcdcdc;
		background-color: #fff;
	}
}
.paginator__prev{
	left: 10px;
	i{
		@include s(pag_prev);
	}
}
.paginator__next{
	right: 10px;
	i{
		@include s(pag_next);
	}
}



.pay{

}
.pay__topper{
	padding: 30px 20px 20px 35px;
	@extend %clr;
	font-size: 12px;
	color: #fff;
	margin-top: 1px;
	background-color: #f37b01;
	@include background-image(linear-gradient(#f79303, #f37b01));
}
.pay__topper-icon{
	float: left;
	margin-right: 35px;
	text-align: center;
	i{
		margin-top: -10px;
		text-align: center;
		display: inline-block;
		@include s(pay);
	}
	span{
		display: block;
		text-align: center;
		@include pm;
		font-size: 22px;
		text-transform: uppercase;
	}
}
.pay__topper-text{
	overflow: hidden;
	li{
		list-style-type: disc;
		list-style-position: inside;
		line-height: 1.2;
		margin-bottom: 0.5em;
	}
}

.errorpage{
	border: 1px solid #dcdcdc;
	border-width: 1px 1px 0;
	margin-bottom: 0;
	@include box-sizing(border-box);
}
.errorpage__content{
	width: 550px;
	margin: 30px auto 0;
	padding-bottom: 75px;
	min-height: 240px;
	background: url(../img/404.png) no-repeat;
}
.errorpage__message{
	padding-top: 140px;
	text-align: center;
}
.errorpage__title{
	color: #000;
	@include pm;
	font-size: 37px;
	text-transform: uppercase;
	line-height: 1;
	margin-bottom: 0.2em;
}
.errorpage__code{
	color: #000;
	@include pm;
	font-size: 24px;
	text-transform: uppercase;
	line-height: 1;
	margin-bottom: 0.6em;
	span{
		color: #f47b01;
	}
}
.errorpage__text{
	font-size: 11px;
	color: #696969;
	span{
		color: #6dab1c;
	}
}

.congrats{
	background-color: #f0f0f0;
	position: relative;
}
.congrats__counter{
	position: absolute;
	top: -50px;
	left: 30px;
	text-align: center;
}
.congrats__title{
	text-transform: uppercase;
	font-size: 14px;
	color: #69a915;
	@include pm;
	line-height: 1;
	margin-bottom: 10px;
}
.counter_congrats{
	strong{
		font-size: 43px;
		width: 69px;
		height: 72px;
		line-height: 72px;
		&:after{
			bottom: 35px;
		}
	}
}
.congrats__message{
	padding: 20px 0;
	margin-left: 205px;
	@include pm;
	line-height: 1.2;
}
.congrats__info{
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	color: #69a915;
	text-transform: uppercase;
	margin-right: 40px;
}
.congrats__text{
	display: inline-block;
	vertical-align: middle;
	font-size: 27px;
	color: #797979;
	text-transform: uppercase;
	span{
		color: #f47b01;
	}
}
.popular_mod{
	margin-bottom: 40px;
	margin-left: -1px;
	@extend %clr;
	.popular{
		float: left;
		width: 319px;
		margin-left: 1px;
		&:first-child{
			float: left;
		}
	}
}

.product-list_mod{
	margin-bottom: 20px;
	.product{
		width: 320px;
		@include box-sizing(border-box);
		&:first-child{
			width: 322px;
		}
	}
	.product__inner{
		// padding: 30px 45px 30px 40px;
	}
}

.captcha{
	position: relative;
	margin-bottom: 10px;
}
.captcha__holder{
	@extend %clr;
	margin-bottom: 5px;
}
.captcha__image{
	float: left;
	margin-right: 10px;
	border: 1px solid #adadad;
	@include border-radius(4px);
	img{
		display: block;
		@include border-radius(4px);
	}
}
.captcha__reload{
	float: none !important;
	margin-left: 32px;
}
.captcha__text{
	margin-bottom: 5px;
	font-size: 12px;
	color: #5f5f5f;
	position: absolute;
	top: 7px;
	left: 335px;
	span{
		color: #69a915;
		margin-right: 5px;
	}
}
.captcha__input {
	float: left;
	width: 150px;
	border: 1px solid #adadad;
	border-radius: 4px;
	box-shadow: 2px 1px 2px rgba(0,0,0,.18);
	@include box-sizing(border-box);
	@include transition(all  .2s linear);
	&:focus {
		box-shadow: none;
	}
}
.captcha__input {	
	height: 29px;
	padding: 0 10px;	
}