.label_width {
	.label__title,
	.label__field {
		float: none;
		width: 100%;
	}
}
.city-list {
	margin: 18px 0 14px;
	p { 
		margin-bottom: 10px;
	}
	a {
		display: inline-block;
		margin: 0 7px 8px 0;
		color: #68a814;
	}
}
.profile {
	position: relative;
}

.remember-me {
	padding: 6px 0 19px;
	clear: both;
	label {
		margin-right: 10px;
	}
}
.checkbox-wrap {
	span, .checkbox {
		vertical-align: middle;
	}
}
.checkbox {
	margin-right: 6px;
}

.enter-soc {
	margin-bottom: 14px;
	font-size: 0;
	.btn {
		margin-left: 9px !important;
	}
}
.enter-soc__text {
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	color: #68a814 !important;
	font-size: 11px !important;
}
.enter-soc__link {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 27px;
	margin-right: 2px;
	border: 1px solid #b7b7b7;
	@include border-radius(5px);
	background: #e3e3e3;
	@include box-shadow(0 1px 1px rgba(0,0,0,.13));
	@include background-image(linear-gradient(bottom, #e3e3e3 0%, #fff 100%));
	text-align: center;
	line-height: 27px;
	&:hover {
		background: #dfdfdf;
	}
	&:active {
		@include box-shadow(inset 0 1px 1px rgba(0,0,0,.13));
	}
	i {
		display: inline-block;
		vertical-align: middle;
	}
}
.enter-soc__fb {
	i {
		@include s(fb);
	}
}
.enter-soc__vk {
	i {
		@include s(vk);
	}
}
.btn-simple {
	display: block;
	padding: 8px 5px;
	@include pm;
	font-size: 13px;
	color: #f47b01 !important;
	text-decoration: none !important;
	text-transform: uppercase;
	text-align: center;
	@include border-radius(5px);
	border: 1px solid #c6c6c6;
}

.nav-wrap {
	position: relative;
}

.drop-nav {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 49px;
	z-index: 2000;
	padding: 30px 0 30px 37px;
	@extend %clr;
	background: #2a2a2a;
	@include background-image(linear-gradient(#2a2a2a, #000));
	@include box-shadow(0 3px 43px rgba(0,0,0,.59));
}
.drop-nav__left {
	float: left;
	margin-right: 48px;
	width: 322px;
	padding-right: 32px;
	border-right: 1px solid #2f2f2f;
}
.drop-nav__right {
	overflow: hidden;  
}
.game-promo {
	@extend %clr;
	color: #949494;
	line-height: 1.2;
	.game-promo__img,
	.game-promo__title {
		padding: 0;
	}
}
.game-promo__title {
	color: #fff;
	@include pm;
	text-decoration: none;
	font-size: 28px;
	&:hover {
		color: #f47b01;
	}
}
.game-promo__sub-title {
	display: block;
	margin-bottom: 18px;
	color: #f47b01;
	font-size: 18px;
}
.game-promo__descr {
	overflow: hidden;
}
.game-promo__img {
	float: right;
	margin-top: -12px;
}
.sub-nav {
	float: left;
	width: 33%;
	li {
		float: none;
		margin-bottom: 1px;
		display: block;
	}
	a {
		color: #68a814;
		font: normal 12px Arial,sans-serif;
		text-transform: capitalize;
		&:hover {
			color: #fff;
		}
	}
	ul {
		a {
			display: inline-block;
			position: relative;
			padding-left: 12px;   
			color: #a8a8a8;
			font-size: 11px;
			&:before {
				content: "";
				position: absolute;
				left: 3px;
				top: 5px;
				@include s(arr-subnav); 
			}
		}
	}
}