
.game-promo {
	@extend %clr;
	color: #949494;
	line-height: 1.2;
	.game-promo__img,
	.game-promo__title {
		padding: 0;
	}
}
.game-promo__title {
	color: #fff;
	@include pm;
	text-decoration: none;
	font-size: 28px;
	display: block;
	margin-bottom: 25px;
	&:hover {
		color: #f47b01;
	}
}
.game-promo__sub-title {
	display: block;
	margin-bottom: 18px;
	color: #f47b01;
	font-size: 18px;
}
.game-promo__descr {
	overflow: hidden;
}
.game-promo__img {
	float: right;
	margin-top: -12px;
}
.sub-nav {
	float: left;
	width: 33%;
	li {
		float: none;
		margin-bottom: 1px;
		display: block;
	}
	a {
		color: #68a814;
		font: normal 12px Arial,sans-serif;
		text-transform: capitalize;
		&:hover {
			color: #fff;
		}
	}
	ul {
		a {
			display: inline-block;
			position: relative;
			padding-left: 12px;   
			color: #a8a8a8;
			font-size: 11px;
			&:before {
				content: "";
				position: absolute;
				left: 3px;
				top: 5px;
				@include s(arr-subnav); 
			}
		}
	}
}


.product__inner {
	height: 100%;
	width: 100%;
}
.to-favorite {
	position: relative;
	display: inline-block;
	i {
		position: absolute;
		left: -26px;
		top: -1px;
		@include s(heart);
	}
}
.to-favorite-wrap {
	
}


.popup {
	display: none;  
	//position: fixed;
	//top: 50%;
	//left: 50%;  
	//z-index: 5000;
}
.popup_s {
	width: 314px;
	
}
.popup__header {
	padding: 7px 10px;
	@include border-radius(4px 4px 0 0);
	@include background-image(linear-gradient(#8ac143, #69a815))
}
.popup__title {
	text-align: center;
	color: #fff;
	font-size: 34px;
	@include pm;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.popup__body {
	padding: 20px;
}
.radio {
	margin-bottom: 13px;
	color: #676767;
	font-size: 14px;
	input, span {
		vertical-align: middle;
		display: inline-block;
	}
	span {
		margin-left: 5px;
	}
	
	p {
		margin-top: 6px;
		font-size: 11px;
		color: #878787;
	}
}



/* Slider
-----------------------------------------------------------------------------*/
.slider {
	position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    
}
.slider-small {
    width: 249px;
    float: left;
}
.slider-small_i {
    background: #000;
    padding: 17px 6px 17px 17px;
}
.slider-small  {
    h5 {
    	font-size: 20px;
    }
}
.slider-small__text {
    width: 90px;
    margin-right: 53px;
    float: left;
}
.small-image {
    float: left;
}
.slider-biggest {
    float: right;
    position: absolute;
    right:0;
    top:0;
    width: 711px;
    height: 359px;
    img {
    	position: absolute;
    	right:0;
    	top:0
    }
    .rating{
    	position: static !important;
		margin-bottom: 5px;
		li{
			display: inline-block;
			list-style-type: none;
			
			background: none;
		}
		a{
			display: inline-block;
			width: 100%;
			height: 100%;
			@include s(ico_star);
			&:hover,&.active{
				@include s(ico_star_hover);
			}
		}
	}
    .icon-eye {
        position: absolute;
        top: 30px;
        left: 50px;
        z-index: 7;
        @include s(ico_eye);
    }
	
}
.slider-info {
    position: absolute;
    left:52px;
    top:72px;
    width: 235px;
    h4 {
    	color: #fff;
    	font-size: 31px;
    	padding-bottom: 7px;
    	font-weight: normal;
    	@include pm;
    	line-height: 1;
        a {
            color: #fff;
        }
    }
    h6 {
    	color:#f47b01;
   		font-size: 24px;
   		padding-bottom: 7px;
    }
}

.slider-vertical {
	ul {
		width: 100%;
		@include box-sizing(border-box);
		border-left: 1px solid #dcdcdc;
	}
}
.slider-left-main {
	height: 359px;
    position: relative;
    background: #f0f0f0;
    li {
    	height: 106px;
    	cursor: pointer;
    	@extend %clr;
    	border-top: 1px solid #dcdcdc;
    	&.active {
    		background: #000;
    		border-top: 0;
    		h3 {
    			color: #f47b01;
    		}
    	}
    }
    .slider-vertical {
    	height: 319px;
    }
}

.slider-info {
    z-index: 3;
	p {
		color: #949494;
    	font-size: 14px;
    	padding-bottom: 14px;
	}
}

.slider-list {
    background: #f0f0f0;
    clear: both;
}
.slider-list-text {
	width: 120px;
    float: left;
    margin-right: 20px;
	h3 {
		color: #000;
    	font-size: 18px;
    	padding-bottom: 10px;
    	text-transform: uppercase;
    	@include pm;
	}
    p {
    	color:#929292;
    	font-size: 14px;
    }
}

.slider-list__one{
    padding: 17px ;
    position: relative;
}

.slider-list-image {
    float: left;
}
.slider-biggest__img {
    display: block;
}
.slider-btn {
    background: #fdfdfd;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fdfdfd), to(#f0f0f0));
    background: -moz-linear-gradient(#fdfdfd, #f0f0f0);
    background: linear-gradient(#fdfdfd, #f0f0f0);
    padding: 11px 0;
}

.big_info {
    display: none !important;
    
}

.btn-slider  {
	position: relative;
	z-index: 2;
	height: 40px;
    width: 100%;
    background: #f0f0f0;
    @include background-image(linear-gradient(#fdfdfd, #f0f0f0));
    border-top:1px solid #dcdcdc;
    cursor: pointer;
    line-height: 1;
    text-align: center;
    i {
    	display: inline-block;
    	vertical-align: middle;
    }
}
.btn-slider_up {
	display: none;
	i {
		@include s(arrow_cycle2);
	}
}
.btn-slider_down {
	i {
		@include s(arrow_cycle);
	}
}
.shadow-slider {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
    z-index: 2;
	@include background-image(linear-gradient(left, #000, rgba(0,0,0,.0) 50%, rgba(0,0,0,.0) 100%));
}

.section {
    position: relative;
    z-index: 21;
    margin-bottom: 20px;
    border: 1px solid $brcl;
    font-size: 14px;
    color: #676767;
    p {
        margin-bottom: 14px;
    }
}
.section_mod {
    margin-bottom: 0;
    .section__title {
        span {
            color: #f47b01;
        }
    }  
}
.section_single {
    
    .section__title {
        margin: 20px 0;
    }
}
.section__inner {
    padding: 30px 30px 40px;
    @extend %clr;
    strong {
        color: #000;
    }
}
.section__title {
    padding: 0 30px;
    margin-top: 20px;
    font-size: 29px;
    @include pm;
    color: #000;
    text-transform: uppercase;
    line-height: 1;
    strong {
        color: #f47b01;
    }
    span {
        color: #6dab1b;
    }
}
.section__img {
    display: block;
    margin: 30px 0;
    @include border-radius(5px);
}

// Brand page
.brand-info {
    @extend %clr;
    width: 380px;
    img {
        float: left;
        margin: 0 23px 35px 0;
    }
}
.brand-info__main {
    position: relative;
    top: -10px;
    overflow: hidden;
    font-size: 11px;
    color: #676767;
}
.brand-info__title {
    @include pm;
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
    span {
        color: #818181;
    }
}
.product-row {
    position: relative;
    padding: 30px 0 12px 30px;
    @extend %clr;
    border: 1px solid $brcl;
    margin-bottom: -1px;
    .badge {
        position: absolute;
        top: 0;
        left: 0;
    }
    .badge_counter {
        top: 20px;
        left: 20px;
    }
}
.product-row_top {
    padding: 30px 0 30px 30px;
    .product-row__meta {
        width: 117px;
    }
    .product-row__deliv {
        span {
            font-size: 18px;
        }
    }
}
.product-row__img {
    float: left;
    margin-right: 30px;
}
.product-row__descr {
    float: left;
    width: 400px;
    color: #606060;
    p {
        margin-bottom: 7px;
    }
}
.product-row__title {
    font-size: 18px;
    text-transform: uppercase;
    @include pm;
    a {
        color: #3e3e3e;
    }
}
.product-row__links {
    font-size: 11px;
    a {
        display: inline-block;
        margin-right: 10px;
        text-decoration: underline;
        &:first-child { 
            margin-right: 0;
        }
        &:hover {
            text-decoration: none;
        } 
    } 
    span {
        display: inline-block;
        margin-right: 10px;
    }
}
.product-row__meta {
    float: right;
    width: 100px;
    .prod-state {
        margin-bottom: 24px;
    }
    .btn {
        margin: 0 0 15px 5px;
    }
}
.product-row__price {
    margin-bottom: 9px;
    color: #f47b01;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    span {
        font-size: 16px;
        font-weight: bold;
    }
}
.prod-state {
    font-size: 12px;
    @include pm;
    color: #6aa916;
    text-transform: uppercase;
    &.is-pre-order {
        i {
            @include s(in-stock);
        }
    }
    &.is-no-stock {
        i {
            @include s(in-stock);
        }
    }
    i {  
        margin-right: 5px;
        @include s(in-stock);
    }
    span, i {
        display: inline-block;
        vertical-align: middle;
    }
    span {
        width: 55px;
    }
    &.is-pre-order_mod {
        color: #747474;
        font-size: 14px;
        strong {
            color: #000;
        }
    }
}
.product-row__deliv  {
    i, span {
        display: inline-block;
        vertical-align: middle;
    }
    i {
        @include s(add2);
        margin-right: 5px;
    }
    span {
        width: 55px;
        color: #5e5e5e;
        font-size: 10px;
        text-transform: uppercase;
        @include pm;
    }
}

.bradn-logo {
    @extend %clr;
    a {
        float: left;
        width: 16.5%;
        height: 86px;
        line-height: 86px;
        text-align: center;
        border-left: 1px solid $brcl;
        &:first-child,
        &:nth-child(n+7) {
            border-left: 0;
        }
        &:hover {
            img {
                @extend %gray-zero;
                @include opacity(1);
            }
        }
    }
    img {
        vertical-align: middle;
        @extend %gray;
        @include opacity(.7);
        @include transition(all 0.2s linear);
    }
}

.spec-table {
    width: 100%;
    font-size: 12px;
    margin-bottom: 22px;
}
.spec-table__head {
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    @include pm;
    border-bottom: 1px solid #d56c01;
    @include background-image(linear-gradient(#ff8b02, #f47c01));
    th {
        padding: 12px 20px;
        &:nth-child(2) {
            text-align: center;
        }
    }
}
.spec-table__body {

    td {
        position: relative;
        padding: 10px 0;
        border-bottom: 1px solid $brcl;
        &:first-child {
            padding-left: 20px;
        }
        &:nth-child(2) {
            text-align: center;
        }
    }
    .icon-card {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -9px;
    }
}
.icon-card {
    display: inline-block;
}
.icon-card_platin {
    @include s(card-platin);
}
.icon-card_gold {
    @include s(card-gold);
}
.icon-card_silver {
    @include s(card-silver);
}
.icon-card_bronz {
    @include s(card-bronz);
}
.spec-table_mod {
    .icon-card {
        position: static;
    }
    .spec-table__head {
        padding: 7px;
        text-align: center;
        font-size: 18px;
    }
    .spec-table__body {
        text-align: center;
        td {
            border-left: 1px solid $brcl;
            &:first-child,
            &:nth-child(2) {
                padding: 0 20px;
            }
            &:first-child {
                border-left: 0;
            }
        }
        
    }
}
.spec-table__sub-head {
    background: #f0f0f0;
    font-size: 11px;
    color: #060606;
    border-top: 1px solid #fff;
    th {
        padding: 7px 0;
        border-left: 1px solid $brcl;
        &:first-child {
            border-left: 0;
        }
    }
    
}
.icon-plus {
    display: inline-block;
    @include s(plus);
}
.icon-minus {
    display: inline-block;
    @include s(minus);
}
.specific-message {
    font-size: 11px;
    color: #959595;
}
.spec-table_order {
    .spec-table__head {
        text-align: left;
        padding: 7px 0 7px 20px;
        font-size: 18px;
    }
    .spec-table__body {
        td {
            text-align: left;
            padding: 8px 20px;
            color: #000;
            &:first-child {
                color: #8c8c8c;
            }
            &:nth-child(2) {
                text-align: left;
            }
            &:last-child {
                text-align: right;
                padding: 8px 0;
            }
        }
        .is-not-pay {
            color: #fa0000;
        }
        .is-paid {
            color: #69a915;
        }
    }
}
.paginatiom_mod {
    margin-bottom: 30px;
}

.action-item {
    position: relative;
    @extend %clr;
    margin-bottom: -1px;
    padding: 30px 40px 30px 30px;
    border: 1px solid $brcl;
    &:first-child {
        border-top: 0;
    }
    &:nth-child(2n) {
        background: #f0f0f0;
    }
    .badge {
        position: absolute;
        top: 0;
        right: 0;
    }
    .rating {
        font-size: 11px;
    }
}
.action-item__main {
    overflow: hidden;
    .socshare {
        position: absolute;
        bottom: 30px;
        left: 30px;
        padding: 0;
        width: 300px;
        border: 0;
        overflow: hidden;
    }
    .rating {
        margin-top: 10px;
    }
} 
.action-item__img {
    float: right;
    margin-left: 30px;
}
.action-item__title {
    @include pm;
    font-size: 25px;
    text-transform: uppercase;
    span {
        color: #f47b01;
    }
    a {
        color: #000;
        &:hover {
            text-decoration: none;
        }
    }
}
.action-item__descr {
    color: #4f4f4f;
    line-height: 1.2;
}
.buy-discount_mod {
    background: none;
    padding: 0;
    .buy-discount__title {
        float: none;
        span {
           font-size: 17px;
           color: #69a915; 
        }
    }
    .counter {
        float: none;
    }
}
.buy-discount__info {
    float: right;
    margin-top: 22px;
    width: 390px;
    color: #f47b01;
    font-size: 18px;
}
.buy-discount__wrap {
    float: left;
}
.rating__text {
    color: #7eb832;
    display: inline-block;
    margin-right: 7px;
}

.top-prod-wrap {
    padding: 22px 18px;
    margin: 9px;
    @extend %clr;
    @include background-image(linear-gradient(#2e2e2e, #000));
}
.top-prod {
    float: left;
    margin-left: 30px;
    width: 195px;
    text-align: center;
    &:first-child {
        margin-left: 0;
    }
}
.top-prod__img {
    display: block;
    margin-bottom: 25px;
    position: relative;
    img {
        display: block;
    }
    .badge_counter {
        top: -11px;
        left: -8px;
        width: 42px;
        height: 42px;
        line-height: 42px;
        font-size: 26px;
    }
}
.top-prod__pre-order {
    margin-top: 5px;
    color: #747474;
    font-size: 14px;
    text-transform: uppercase;
    @include pm;
    span {
        color: #f47b01;
    }
}