@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic-ext);


@mixin pm(){
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
}

@mixin pl(){
  font-family: 'PT Sans Narrow', sans-serif;
}