// default layout
.l{
	width: 100%;
	display: inline-block;
	margin-bottom: 30px;
	.l-col1{
		float:left;
		width: 20%;
	}

	.l-col2{
		float:right;
		width: 70%;
	}
	.l-sidebar{
		position: relative;
		z-index: 1;
		float:left;
		width: 230px;
	}

	.l-main{
		position: relative;
		z-index: 2;
		float:right;
		width: 710px;
	}
}
