// Normally mainpage styles


.icon{
	vertical-align: middle;
	display: inline-block;
}
	.icon_arrow{@include s(arrow);}
	.icon_arrow2{@include s(arrow2);}
	.icon_arrow3{@include s(arrow3);}
	//.icon_callback{@include s(ico_callback);}
	.icon_chat_off{@include s(ico_chat_off);}
	.icon_chat_on{@include s(ico_chat_on);}
	.icon_tel{@include s(ico_tel);}
	.icon_fb{@include s(ico_fb);}
	.icon_fb_hover{@include s(ico_fb_hover);}
	.icon_vk{@include s(ico_vk);}
	.icon_vk_hover{@include s(ico_vk_hover);}
	.icon_tw{@include s(ico_tw);}
	.icon_tw_hover{@include s(ico_tw_hover);}
	.icon_yt{@include s(ico_yt);}
	.icon_yt_hover{@include s(ico_yt_hover);}
	.icon_gp{@include s(ico_gp);}
	.icon_gp_hover{@include s(ico_gp_hover);}
	.icon_odk{@include s(ico_odk);}
	.icon_odk_hover{@include s(ico_odk_hover);}
	.icon_wm{@include s(ico_wm);}
	.icon_vs{@include s(ico_vs);}
	.icon_p24{@include s(ico_p24);}
	.icon_pu{@include s(ico_pu);}
	.icon_mc{@include s(ico_mc);}
	.icon_subscribe{@include s(ico_subscribe);}
	.icon_user{@include s(ico_user);}
	.icon_basket{@include s(ico_basket);}
	.icon_gift{@include s(ico_gift);}

.btn {
	display: inline-block;
	padding: 5px 14px 4px;
	vertical-align: middle;
	@include box-sizing(border-box);
	border: 1px solid #55831a;
	@include border-radius(5px);
	@include background-clip(padding-box);
	background-color: #fff;
	color: #fff;
	@include pm;
	text-decoration: none;
	font-size: 14px;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(0,0,0,.34);
	@include box-shadow(1px 1px 1px rgba(0,0,0,.38));
	background: #69a715;
	@include background-image(linear-gradient(bottom, #69a715 0%, #69a715 0.68%, #89bf41 100%));
	&:hover {
		border: 1px solid #6a9f26;
		background: #74b61d;
		@include background-image(linear-gradient(bottom, #74b61d 0%, #9cd453 100%));
	}
	&:active {
		border: 1px solid #6a9f26;
		background: #9cd453;
		@include box-shadow(0 1px 1px rgba(0,0,0,.18));
		@include background-image(linear-gradient(bottom, #9cd453 0%, #74b61d 100%));
	}
}
.btn-wrap {
	text-align: center;
	margin-bottom: 10px;
}
.btn_medium {
	padding: 6px 30px 5px;
	font-size: 20px;
}
.btn_big {
	padding: 7px 50px;
	font-size: 26px;
}
.btn_orange {
	color: #000;
	border: 1px solid #bf5f00;
	background: #f37b01;
	text-shadow: 0 1px 0 rgba(255,255,255,.34);
	@include background-image(linear-gradient(bottom, #f37b01 0%, #f37b01 0.68%, #ff972f 100%));
	&:hover {
		border: 1px solid #d47b22;
		background: #f88f25;
		@include background-image(linear-gradient(bottom, #f88f25 0%, #f88f25 0.68%, #ffb062 100%));
	}
	&:active {
		border: 1px solid #d47b22;
		background: #ffb062;
		@include background-image(linear-gradient(bottom, #ffb062 0%, #f88f25 99.32%, #f88f25 100%));
	}
}
.btn_gray {
	border: 1px solid #b7b7b7;
	background: #e3e3e3;
	color: #5f5f5f;
	text-shadow: 0 1px 0 #fff;
	@include box-shadow(0 1px 1px rgba(0,0,0,.13));
	@include background-image(linear-gradient(bottom, #e3e3e3 0%, #fff 100%));
	&:hover {
		border: 1px solid #9f9f9f;
		background: #d3d3d3;
		@include background-image(linear-gradient(bottom, #d3d3d3 0%, #f7f7f7 100%));
	}
	&:active {
		border: 1px solid #9f9f9f;
		background: #f7f7f7;
		@include box-shadow(0 1px 1px rgba(0,0,0,.11));
		@include background-image(linear-gradient(bottom, #f7f7f7 0%, #d3d3d3 100%));
	}
}

.btn_orange {
	border: 1px solid #bf6000;
	background-color: #f37b01;
	@include box-shadow(0 1px 1px rgba(0,0,0,.38));
	@include background-image(linear-gradient(#ff972f, #f37b01));
	background-repeat: repeat-x;
	border-color:  #ff972f  #ff972f #f37b01;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	@include text-shadow(0 1px 0 rgba(255,255,255,.34));
	color: #000;
	&:hover,
	&:focus,
	&:active{
		color: #000;
		background-color: #f37b01;
	}
	&:active{
		@include box-shadow(
			0 1px 1px rgba(0,0,0,.38),
			inset 	0 2px 4px rgba(0, 0, 0, 0.15),
					0 1px 2px rgba(0, 0, 0, 0.05)
			);
	}
}

//counter
.counter {
	font-size: 0;
	li {
		display: inline-block;
		margin-left: -1px;		
		vertical-align: top;
		text-align: center;
		&:first-child {
			margin-left: 0;
		}
	}
	strong {
		position: relative;
		display: block;
		width: 46px;
		height: 48px;
		margin-bottom: 2px;
		background: #fefefe;
		@include background-image(linear-gradient(#fefefe, #e4e4e4));
		border: 1px solid #c0c0c0;
		border-radius: 4px;
		box-shadow: 1px 1px 1px rgba(0,0,0,.13);
		line-height: 48px;		
		@include pm;
		font-weight: normal;
		font-size: 30px;
		color: #2e2e2e;
		&:after {
			content: "";
			position: absolute;
			top: 3px;
			left: 3px;
			right: 3px;
			bottom: 25px;
			background: rgba(255,255,255,.5);
			box-shadow: 0 -1px 0 rgba(255,255,255,.2) inset;
		}
	}
	span {
		font-size: 11px;
		color: #bababa;
	}
}
//forms
.input-number {
	position: relative;	
	width: 52px;
	button {
		position: absolute;
		right: 0;
		width: 17px;
		height: 13px;		
		background: none;
		overflow: visible;
	}
	i {
		position: absolute;
		top: 4px;
		left: 1px;
		width: 0px;
		height: 0px;
		border-style: solid;			
	}
}
.input-number__value {
	width: 35px;
	height: 27px;
	padding-right: 17px;
	border: 1px solid #adadad;
	background: #fff;
	border-radius: 4px;
	box-shadow: 2px 1px 2px rgba(0,0,0,.18);
	text-align: center;
}
.input-number__plus {
	top: 1px;
	i {
		border-width: 0 5px 7px 5px;
		border-color: transparent transparent #69a915 transparent;
	}
}
.input-number__minus {
	top: 13px;
	i {
		border-width: 7px 5px 0 5px;
		border-color: #69a915 transparent transparent transparent;
	}
}
.label {
	display: block;
	margin-bottom: 15px;
}
.label__title {
	display: block;
	margin-bottom: 5px;
	font-size: 14px;
	color: #000;
	span {
		margin-left: 5px;
		color: $green;
	}
}
.label__input, .label__area {
	width: 100%;
	margin-bottom: 17px;
	border: 1px solid #adadad;
	border-radius: 4px;
	box-shadow: 2px 1px 2px rgba(0,0,0,.18);
	@include box-sizing(border-box);
	@include transition(all  .2s linear);
	&:focus {
		box-shadow: none;
	}
}
.label__input {	
	height: 29px;
	padding: 0 10px;	
}
.label__area {
	height: 114px;
	padding: 5px 10px;
	resize: vertical;
}
.label__help {
	display: block;
	margin-top: -15px;
	font-size: 11px;
	color: #878787;
	a {
		text-decoration: underline;
	}
}
.label__select {
	position: relative;
	width: 100%;
	height: 29px;
	padding-bottom: 17px;
	&.is-open {
		z-index: 20;
	}
}
.label__select-val {
	position: relative;
	background: #FFF;
	border: 1px solid #adadad;
	border-radius: 4px;
	box-shadow: 2px 1px 2px rgba(0,0,0,.18);
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 10;	
	span {
		display: block;
		line-height: 27px;
		padding: 0 10px;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-weight: bold;
		overflow: hidden;
	}
	button {
		position: relative;
		float: right;
		width: 28px;
		height: 27px;
		background: #f5f5f5;
		border-radius: 0 4px 4px 0;
		border-left: 1px solid #e8e8e8;
		overflow: visible;
		&:before, &:after {
			content: "";
			position: absolute;
			left: 10px;
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 4px 4px 0 4px;
		}
		&:before {
			top: 12px;
			border-color: #fff transparent transparent transparent;
		}
		&:after {
			top: 11px;
			border-color: $green transparent transparent transparent;
		}
	}
}
.label__select-options {
	display: none;
	position: absolute;
	top: 25px;
	left: 0;
	width: 100%;
	background: #FFF;
	border: 1px solid #adadad;
	border-radius: 4px;
	box-shadow: 2px 1px 2px rgba(0,0,0,.18);
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	li {
		padding: 7px 10px;
		border-top: 1px solid #efefef;
		cursor: pointer;
		&:first-child {
			padding: 10px 10px 7px 10px;
			border: none;
		}
	}
}
.label-check,
.label-radio {
	position: relative;
	padding-left: 24px;
	display: block;
	input, i {
		position: absolute;
		top: 1px;
		left: 0;		
	}
	input {
		width: 13px;
		height: 13px;
		opacity: 0;
		&:checked {
			& + i {
				&:after {
					content: "";
					position: absolute;
					top: 2px;
					left: 2px;
					width: 7px;
					height: 7px;
					background: #999;
				}
			}
		}
	}
	i {
		width: 11px;
		height: 11px;
		border: 1px solid #adadad;
		background: #fff;
		box-shadow: 2px 1px 2px rgba(0,0,0,.18);
	}
	span {
		font-size: 11px;
		color: #626262;
	}
}
.label-radio {
	input {
		&:checked {
			& + i {
				&:after {
					content: "";
					position: absolute;
					top: 2px;
					left: 2px;
					width: 7px;
					height: 7px;
					background: #999;
				}
			}
		}
	}
	i {
		@include border-radius(4px);
		&:after {
			@include border-radius(4px);
		}
	}
}
.page{
	@extend %site;
	margin-bottom: 5px;
}
.recent-buy__title {
	@include pm;
	a {
		font-size: 16px;
		color: #000;
		text-transform: uppercase;
	}
}

.rating{
	margin-bottom: 5px;
	li{
		display: inline-block;
		list-style-type: none;
		@include s(ico_star);
		&:hover,&.is-active{
			@include s(ico_star_hover);
		}
	}
	a{
		display: inline-block;
		width: 100%;
		height: 100%;
	}
}

.social{
	margin-bottom: 20px;
}
.fb-like-box{
	border: 1px solid #dcdcdc;
}

.infographics{
	background: #f0f0f0;
	margin-bottom: 26px;
	@extend %clr;
	li{
		list-style-type: none;
		float: left;
		width: 20%;
		height: 57px;
		line-height: 57px;
		border-left: 1px solid #e2e2e2;
		padding: 0 0 0 23px;
		@include box-sizing(border-box);
		&:first-child{
			border-left: 0;
		}
	}
	.infographics__numb{
		position: relative;
		display: inline-block;
		vertical-align: middle;
		@include pl;
		font-size: 38px;
		color: #7d7d7d;
		margin-right: 10px;
		&:before{
			position: absolute;
			bottom: 1px;
			left: 50%;
			margin-left: -8px;
			content: "";
			@include s(arrow4);
		}
	}
	.infographics__text{
		display: inline-block;
		vertical-align: middle;
		line-height: 1.2;
		font-size: 14px;
		color: #a1a1a1;
		@include pm;
		text-transform: uppercase;
	}
}

.recent {

}
.recent__head {
	position: relative;
	@extend %site;
}
.recent__title {
	@include pm;
	text-transform: uppercase;
	font-size: 22px;
	line-height: 1;
	margin-bottom: 18px;
	a {
		color: #fff;
		text-decoration: none;
	}
}
.recent__key{
	position: absolute;
	top: 0;
	right: 0;
	font-size: 11px;
	color: #68a814;
	text-decoration: underline;
	text-transform: lowercase;
	background: none;
	&:hover{
		text-decoration: none;
	}
	i{
		margin-left: 7px;
	}
}
.recent__carousel {
	background-color: #505050;
	border-top: 1px solid #5e5e5e;
	border-bottom: 1px solid #5e5e5e;
	height: 165px; //tmp 
}
.recent__wrap{
	@extend %site;
	position: relative;
	height: 100%;
}
.recent__nav {
	position: absolute;
	top: -20px;
	content:"";
	@extend %hide-text;
	display: block;
	width: 20px;
	background-color: #505050;
	text-align: center;
	height: 100%;
	line-height: 1;
	@include box-sizing(border-box);
	i{
		display: inline-block;
		vertical-align: middle;
	}

}
.recent__nav-prev {
	left: -18px;
	i {
		@include s(arr-prev);
	}
}
.recent__nav-next {
	right: -9px;
	i {
		@include s(arr-next);
	}
}
.recent__list {
	margin-top: 20px;
}
.recent__item {
	@extend %clr;
	padding: 0 25px;
	@include box-sizing(border-box);
	position: relative;
	width: 240px;
	height: 123px;
	border-left: 1px solid #5d5d5d;
	box-shadow: -1px 1px 0 #2e2e2e;
	.h1 {
		font-size: 16px;
		text-transform: uppercase;
		@include pm;
		color: #fff;
		line-height: 1;
		margin-bottom: 10px;
		display: inline-block;
		overflow: hidden;
		max-height: 33px;
	}
}
.recent__image{
	float: right;
	width: 60px;
	margin-left: 10px;
	margin-top: 32px;
}
.recent__info {
	position: relative;
	overflow: hidden;
	height: 115px;
	white-space: normal !important;
	a {
		color: #fff;
		font-weight: bold;
		font-size: 15px;
	}
}
.recent__platform {
	font-size: 13px;
	color: #929292;
	text-transform: none;
	line-height: 1;
	margin-bottom: 10px;
}
.recent__price{
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 11px;
	color: #f47b01;
	line-height: 1;
	text-transform: uppercase;
	strong{
		font-size: 16px;
	}
	span{
		font-size: 14px;
	}
}
.recent__checked{
	@include s(ico_checked);
	margin-bottom: 10px;
}

.info-block{
	background-color: #f0f0f0;
	color: #5f5f5f;
	font-size: 12px;
	p{
		margin-top: 0.5em;
	}
	a{
		text-decoration: underline;
		color: #68a814;
		&:hover{
			text-decoration: none;
		}
	}
}
.info-block__in {
	padding: 26px 35px;
	overflow: hidden;
}
.info-block__hide {
	display: none;
	width: 640px;
}
.info-block__button {
	border-top: 1px solid #dcdcdc;
	@include box-sizing(border-box);
	height: 40px;
	background-color: #f0f0f0;
	@include background-image(linear-gradient(#fdfdfd, #f0f0f0));
	a{
		display: inline-block;
		height: 100%;
		width: 100%;
		text-align: center;
	}
	i{
		display: inline-block;
		vertical-align: top;
		margin-top: 16px;
		@include s(arrow_cycle);
	}
	&.is-active {
		i{
			@include rotate(180);
		}
	}
}

.popular-wrap {
	@extend %clr;
}
.popular {
	width: 354px;
	padding: 20px;
	float: right;
	background: #68a814;
	@include box-sizing(border-box);
	&:first-child {
		float: left;
	}
}
.popular_orange {
	background: #f47b01;
}
.popular__info{
	overflow: hidden;
}
.popular__image{
	float: right;
	margin-left: 15px;
	img{
		display: block;
	}
}
.popular__title {
	color: #000;
	font-size: 22px;
	@include pm;
	text-transform: uppercase;
	margin-bottom: 0.3em;
}
.popular__sub-title{
	height: 44px;
	overflow: hidden;
	margin-bottom: 10px;
	a {
		color: #fff;
		font-size: 18px;
		@include pm;
		text-transform: uppercase;
		font-weight: normal;
		line-height: 1.2;
	}
}
.popular__platform{
	color: #000;
	font-size: 14px;
	text-transform: uppercase;
	@include pm;
}
.popular__price{
	text-transform: uppercase;
	position: relative;
	margin-top: 15px;
	border: 2px solid rgba(#fff,.4);
	color: #fff;
	font-size: 11px;
	line-height: 1;
	display: inline-block;
	padding: 7px 50px 7px 7px;
	text-decoration: none;
	@include box-sizing(border-box);
	span{
		font-size: 14px;
	}
	strong{
		font-size: 16px;
	}
	&:hover{
		text-decoration: none;
		cursor: pointer;
		border: 2px solid #fff;
		.popular__btn{
			border-left: 2px solid #fff;
		}
	}
}
.popular__btn{
	width: 35px;
	text-align: center;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	border-left: 2px solid rgba(#fff,.4);
	.icon_basket{
		margin-top: 9px;
		vertical-align: top;
	}
}

.products-wrap {
	margin-bottom: 20px;
}
.tab-wrap {
	position: relative;
	@include box-sizing(border-box);
	background: #f0f0f0;
	height: 42px;
}
.tab {
	@extend %clr;
	border-left: 1px solid #dcdcdc;
	li{
		line-height: 41px;
		list-style-type: none;
		float: left;
		border-right: 1px solid #dcdcdc;
		border-top: 1px solid transparent;
		color: #9c9c9c;
		text-transform: uppercase;
		@include pm;
		font-size: 20px;
		padding: 0 12px;
		cursor: pointer;
		@include unselectable;
		&:hover {
			color: #000;
		}
		&.is-active{
			height: 43px;
			background-color: #fff;
			border-top: 1px solid #dcdcdc;
			margin-bottom: -1px;
			color: #000;
		}
	}
}
.tab-cont {
	border: 1px solid #dcdcdc;
}

.tab-all-link {
	position: absolute;
	right: 20px;
	top: 15px;
	line-height: 1;
	font-size: 11px;
	color: #000;
	a{
		text-decoration: underline;
		color: #68a814;
		&:hover{
			text-decoration: none;
		}
	}
}
.product-list {
	clear: both;
	position: relative;
	@extend %clr;
	z-index: 30;
}
.product {
	position: relative;
	@include box-sizing(border-box);
	list-style-type: none;
	width: 50%;
	height: 200px;
	float: left;
	border-top: 1px solid #dcdcdc;
	border-left: 1px solid #dcdcdc;
	&:nth-child(odd){
		border-left: 0;
	}
	&:nth-child(1), 
	&:nth-child(2){
		border-top: 0;
	}
	.rate {
		display: none;
	}
	&:hover {
		
	}
}
.product__title {
	font-size: 18px;
	text-transform: uppercase;
	@include pm;
	color: #3e3e3e;
	line-height: 1;
	margin-bottom: 7px;
	display: inline-block;
	overflow: hidden;
	height: 38px;
	overflow: hidden;
	a {
		color: #3e3e3e;
	}
}
.product_width {
	width: 100%;
	height: 288px;
	.product__inner {
		padding-left: 74px;
	}
	.product__title {
		font-size: 30px;
	}
	.product__descr {
		display: block;
	}
	.product__image {
		height: 228px;
		width: auto;
		img {
			height: 100%;
			width: auto;
		}
	}
}
.is-hover {
	.product__inner {
		position: absolute;
		top: -39px;
		right: -41px;
		left: -49px;
		bottom: -41px;
		padding: 20px 22px 23px 30px;
		width: 434px;
		height: 274px;
		z-index: 1000;
		@include box-shadow(0 0 16px rgba(0,0,0,.25));
	}
	.product__image {
		width: 196px;
		height: 228px;
		overflow: hidden;
		text-align: right;
		img {
			display: inline-block;
			width: auto;
			height: 100%;
		}
	}
	.product__descr {
		display: block;
	}
	.rate {
		display: block;
	}
	.product__price {
		margin-bottom: 39px;
	}
}
.product_width {
	border-bottom: 1px solid #dcdcdc;
	&.is-hover {
		.product__inner {
			width: 810px;
			padding: 30px 60px 30px 74px;  
			height: 360px;
		}
		.product__image {
			height: 300px;
		}
		.product__price {
			margin-bottom: 123px;
		}
		
	}
	.to-favorite {
		margin-left: 87px;
	}
	.product__descr {
		font-size: 12px;
	}
	.product__price {
		margin-bottom: 51px;
	}
}
.product_middle {
	height: 242px;
	.product__inner {
		padding-left: 74px;
	}
	.to-favorite {
		left: 24px;
		margin-top: 25px;
	}
	&.is-hover {
		.product__inner {
			width: 443px;
			height: 316px;
		}
		.product__price {
			margin-bottom: 24px;
		}
	}
}
.product__inner {  
	position: relative;
	background: #fff;
	padding: 30px 60px 30px 50px;
	height: 200px;
	@extend %clr;
	@include box-sizing(border-box);
	@include transition(box-shadow 0.2s linear);
}
.product__image{
	float: right;
	width: 100px;
	margin-left: 15px;
	img {
		display: block;
	}
}
.product__info{
	overflow: hidden;
	padding-bottom: 4px;
	@extend %clr;
}

.product__price{
	font-size: 11px;
	color: #f47b01;
	line-height: 1;
	margin-bottom: 19px;
	text-transform: uppercase;
	strong {
		font-size: 16px;
	}
	span{
		 font-size: 14px;
	}
}
.product__descr {
	display: none;
	color: #828282;
	font-size: 11px;
	margin-bottom: 10px;
	p {
		margin-bottom: 7px;
	}
}
.product__label{
	position: absolute;
	top: 0;
	right: 0;
}
.product__counter {
	position: absolute;
	top: 28px;
	left: 23px;
	width: 30px;
	height: 30px;
	@include border-radius(50%);
	text-align: center;
	font-size: 20px;
	line-height: 30px;
	@include pm;
	color: #fff;
	font-style: normal;
	@include background-image(linear-gradient(#ff9e00, #ff8304));
}

.code  {
    border:1px solid #b7b7b7;
    // @include box-shadow(-1px 2px 3px #e6e6e6);
    @include border-radius(4px);
    display: inline-block;
    padding: 9px;
    vertical-align: text-top;
    letter-spacing: 1px;
    background: #ebebeb;
    @include background-image(linear-gradient(#ebebeb, #fefefe));
    z-index: 90;
    height: 17px;
    width: auto;
    @include rotate(-90);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=6.123031769111886e-17, M12=1, M21=-1, M22=6.123031769111886e-17, SizingMethod='auto expand')";
    font: bold 12px Arial,sans-serif;
    color:#2a2a2a;
    text-transform: uppercase;
    left: -70px;
    position: fixed;
    top: 41%;
    -webkit-font-smoothing: antialiased;
    span {
        color:#000000;
        vertical-align: middle;
    }
    &:hover{
    	cursor: default;
    }
}
.schema-rating {
	display: none;
}

.nav__link {
	&:hover {
		text-decoration: none;
	}
}


.tooltip {
	position: absolute;
	border: 1px solid #bcbcbc;
	padding: 10px 27px;
	width: 433px;
	height: 165px;
	@include box-sizing(border-box);
	background-color: #f7f7f7;
	line-height: 1.4;
	@include box-shadow(0 1px 16px rgba(0,0,0,.26));
	@include background-image(linear-gradient(bottom, #e7e7e7 0%, #e7e7e7 0.68%, #fff 100%));
	z-index: 9990;
	&:after {
		content: "";
		position: absolute;
		bottom: -12px;
		left: 50%;
		margin-left: -10px;
		@include s(arrow5);
	}
}
.tooltip__title {
	display: block;
	margin-bottom: 12px;  
	color: #6aa917;
	@include pm;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
}
.tooltip__text {
	line-height: 1.8;
}

//title
.title {
	padding: 7px 30px;
	@include background-image(linear-gradient(bottom, #67a713 0%, #8ac143 100%));
  box-shadow: 0 -1px 0 rgba(0,0,0,.2) inset;
	@include pm;
	font-size: 36px;
	color: #FFF;
	text-transform: uppercase;
}
.title_big {
	padding: 15px 30px;
	text-align: center;
}
.title_center {
	text-align: center;
}

// Ie8
.lteie8 {
	.code {
		left: 0;
	}
	.infographics__text {
		font-size: 13px;
	}
	.popular__price {
		border: 2px solid #fff;
	}
}

