// Normally mainpage styles
html, body{
	height: 100%;
}
input{
	outline: 0;
	border: 1px solid #d5d5d5;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.icon{
	vertical-align: middle;
	display: inline-block;
}
	.icon_arrow{@include s(arrow);}
	.icon_arrow2{@include s(arrow2);}
	.icon_arrow3{@include s(arrow3);}
	.icon_callback{@include s(ico_callback);}
	.icon_chat_off{@include s(ico_chat_off);}
	.icon_chat_on{@include s(ico_chat_on);}
	.icon_tel{@include s(ico_tel);}
	.icon_fb{@include s(ico_fb);}
	.icon_fb_hover{@include s(ico_fb_hover);}
	.icon_vk{@include s(ico_vk);}
	.icon_vk_hover{@include s(ico_vk_hover);}
	.icon_tw{@include s(ico_tw);}
	.icon_tw_hover{@include s(ico_tw_hover);}
	.icon_yt{@include s(ico_yt);}
	.icon_yt_hover{@include s(ico_yt_hover);}
	.icon_gp{@include s(ico_gp);}
	.icon_gp_hover{@include s(ico_gp_hover);}
	.icon_odk{@include s(ico_odk);}
	.icon_odk_hover{@include s(ico_odk_hover);}
	.icon_wm{@include s(ico_wm);}
	.icon_vs{@include s(ico_vs);}
	.icon_p24{@include s(ico_p24);}
	.icon_pu{@include s(ico_pu);}
	.icon_mc{@include s(ico_mc);}
	.icon_subscribe{@include s(ico_subscribe);}
	.icon_user{@include s(ico_user);}
	.icon_basket{@include s(ico_basket);}
	.icon_gift{@include s(ico_gift);}
.btn{
	display: inline-block;
	vertical-align: middle;
	@include box-sizing(border-box);
	@include border-radius(5px);
	@include box-shadow(0 1px 1px rgba(0,0,0,.13));
	padding: 4px 15px;
	line-height: 19px;

	font-size: 14px;
	@include pm;
	color: #545454;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	@include text-shadow(0 1px 0 #fff);
	cursor: pointer;

	border: 1px solid #b7b7b7;
	background-color: #dfdfdf;
	@include background-image(linear-gradient(#fefefe, #dfdfdf));
	background-repeat: repeat-x;
	border-color:  #fefefe  #fefefe #dfdfdf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	&:hover,
	&:focus{
		text-decoration: none;
		background-position: 0 -48px;
		@include transition(background-position 0.1s linear);
	}
	&:focus{
		outline: thin dotted #333;
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -2px;
	}
	&:active{
		background-image: none;
		outline: 0;
		@include box-shadow(
			inset 	0 2px 4px rgba(0, 0, 0, 0.15),
					0 1px 2px rgba(0, 0, 0, 0.05)
			);
	}
	&:hover,
	&:focus,
	&:active{
		color: #545454;
		background-color: #dfdfdf;
	}
}
	.btn_orange {
		border: 1px solid #bf6000;
		background-color: #f37b01;
		@include box-shadow(0 1px 1px rgba(0,0,0,.38));
		@include background-image(linear-gradient(#ff972f, #f37b01));
		background-repeat: repeat-x;
		border-color:  #ff972f  #ff972f #f37b01;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		@include text-shadow(0 1px 0 rgba(255,255,255,.34));
		color: #000;
		&:hover,
		&:focus,
		&:active{
			color: #000;
			background-color: #f37b01;
		}
		&:active{
			@include box-shadow(
				0 1px 1px rgba(0,0,0,.38),
				inset 	0 2px 4px rgba(0, 0, 0, 0.15),
						0 1px 2px rgba(0, 0, 0, 0.05)
				);
		}
	}
.label{
	display: block;
	margin-bottom: 5px;
	@extend %clr;
	font-size: 12px;
	color: #676767;
	.label__title{
		float: left;
		width: 77px;
		line-height: 29px;
	}
	.label__field{
		float: left;
		width: 177px;
		height: 29px;
		line-height: 29px;
		input{
			width: 100%;
			height: 100%;
		}
	}
	.label__warning{
		font-size: 10px;
		color: #f47b01;
		i{
			display: inline-block;
			vertical-align: middle;
			margin-right: 7px;
			@include s(ico_warning);
		}
	}
}
.input_text{
	@include box-sizing(border-box);
	border: 1px solid #adadad;
	@include border-radius(5px);
	@include background-clip(padding-box);
	background-color: #fff;
	@include box-shadow(2px 1px 2px rgba(0,0,0,.18));
	@include placeholder-color(#cacaca);
	@include transition(border 0.2s ease-in-out, box-shadow 0.2s ease-in-out);
	padding: 0 10px;
	&:focus{
		border: 1px solid #f47b01;
		border-color: rgba(244, 123, 1, 0.6);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(244, 123, 1, 0.6);
		@include placeholder-color(#2c2c2c);
	}
}
.topper{
	@include box-sizing(border-box);
	height: 45px;
	background-color: #f0f0f0;
	border-bottom: 1px solid #dcdcdc;
	color: #676767;
	font-size: 12px;
	line-height: 1;
	position: relative;
	z-index: 3000;
}
.topper__in{
	@extend %site;
	@extend %clr;
}
.location{
	display: inline-block;
	vertical-align: middle;
	margin-right: 35px;
	position: relative;
	padding: 7px 11px 14px 0;
	margin-top: 6px;
	@include box-sizing(border-box);
	border: 1px solid transparent;
	border-bottom: 0;
	@include unselectable;
	&.is-active {
		left: -14px;
		margin-right: 21px;
		padding-left: 14px;
		@include box-sizing(border-box);
		@include background-image(linear-gradient(#fff, #fefefe));
		border: 1px solid #bcbcbc;
		border-bottom: 0;
	}
}
.location__current{
	display: inline-block;
	margin-left: 7px;
	font-weight: bold;
	color: #000;
	span{
		width: 100px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		display: inline-block;
	}
	&:hover{
		cursor: pointer;
	}
	.icon_arrow{
		margin-left: 7px;
	}
}
.topper__nav{
	display: inline-block;
	vertical-align: top;
	padding-top: 16px;
	li{
		list-style-type: none;
		display: inline-block;
		position: relative;
		margin-left: 16px;
		margin-right: 12px;
		&:before{
			position: absolute;
			top: 0;
			left: -16px;
			width: 1px;
			height: 12px;
			background-color: #d9d9d9;
			box-shadow: 1px 0 0 #fcfcfc;
			content: "";
		}
		&:first-child{
			margin-left: 0;
			&:before{
				content: none;
			}
		}
	}
	a{
		color: #676767;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}
.callback{
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-left: 15px;
	margin-top: 6px;
	padding-top: 4px;
	padding-bottom: 12px;
	padding-left: 12px;
	padding-right: 11px;
	border: 1px solid transparent;
	@include unselectable;
	span{
		text-decoration: underline;
		font-size: 11px;
		color: #68a814;
		&:hover{
			cursor: pointer;
			text-decoration: none;
		}
	}
	.icon_arrow2{
		margin-left: 3px;
	}
	&.is-active{
		position: relative;
		@include box-sizing(border-box);
		@include background-image(linear-gradient(#fff, #fefefe));
		border: 1px solid #bcbcbc;
		border-bottom: 0;
	}
}
.popup {
	display: none;
	position: absolute;
	top: 37px;
	left: -1px;
	@include box-sizing(border-box);
	width: 310px;
	border: 1px solid #bcbcbc;
	background-color: #fff;
	@include background-image(linear-gradient(#fefefe, #f0f0f0));
	z-index: -1;
	padding: 15px 25px 17px 28px;
}
.popup__title {
	margin-bottom: 9px;
	font-size: 18px;
	font-weight: bold;
	color: #000;
}
.popup_callback {
	display: none;
	position: absolute;
	top: 37px;
	left: -1px;
	@include box-sizing(border-box);
	width: 310px;
	border: 1px solid #bcbcbc;
	background-color: #fff;
	@include background-image(linear-gradient(#fefefe, #f0f0f0));
	z-index: -1;
	padding: 15px 25px 17px 28px;
	span{
		text-decoration: none;
		color: inherit;
		font-size: inherit;
		&:hover{
			cursor: default;
			text-decoration: none;
		}
	}
	.label__warning{
		margin-top: 7px;
	}
	.callback__time{
		margin-top: 18px;
		label{
			float: left;
			clear: both;
			margin-top: 18px;
		}
		.checkbox{
			margin-right: 5px;
			display: inline-block;
			vertical-align: middle;
			margin-top: -2px;
		}
		.input_text{
			width: 63px;
			height: 29px;
			margin-left: 15px;
		}
	}
	.h1{
		font-weight: bold;
		font-size: 14px;
		color: #676767;
	}
	.callback__btn{
		padding-top: 10px;
		text-align: right;
		clear: both;
	}
}
.popup_location {
	padding-left: 15px;
}
.popup_enter {
	top: 44px;
	right: 0;
	left: auto;
	width: 280px;
	padding: 15px 20px 17px 25px;
	font-size: 11px;
	z-index: 1000;
	&:before {
		content: "";
		position: absolute;
		top: -10px;
		right: 21px;
		width: 18px;
		height: 18px;
		background: #fefefe;
		@include rotate(45);
		border: 1px solid #bcbcbc;
		border-bottom: 0;
		border-right: 0;
	}
	.label {
		width: 112px;
		margin-left: 6px;
		float: left;
		&:first-child {
			margin-left: 0;
		}
	}
	.label__field {
		float: none;
		width: 100%;
	}
	.checkbox-wrap {
		
	}
}
.livechat{
	display: inline-block;
	vertical-align: top;
	margin-left: 23px;
	padding-top: 13px;
	&:hover{
		cursor: pointer;
		span{
			text-decoration: none;
		}
	}
	&.is-active{
		.icon_chat{
			@include s(ico_chat_on);
		}
	}
	.icon_chat{
		@include s(ico_chat_off);
	}
	span{
		text-decoration: underline;
		font-size: 11px;
		color: #68a814;
	}
}
.profile{
	display: inline-block;
	vertical-align: top;
	padding-top: 7px;
	float: right;
	a{
		color: #68a814;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
	.btn{
		margin-left: 26px;
	}
}
.page{
	@extend %site;
	margin-bottom: 35px;
}
.header{
	// height: 120px;
	@extend %clr;
	.header__logo{
		float: left;
		padding-top: 28px;
		a{
			display: block;
			@include s(logo);
			@extend %hide-text;
		}
	}
	.header__info{
		float: left;
		margin-left: 30px;
		padding-top: 23px;
	}
	.header__contacts{
		margin-bottom: 10px;
		color: #2c2c2c;
		font-size: 14px;
		span{
			color: #f47b01;
		}
	}
	.header__tel{
		display: inline-block;
		font-size: 20px;
		font-weight: bold;
		color: #f47b01;
		margin-right: 14px;
		.icon{
			margin-top: -3px;
		}
		span{
			font-weight: normal;
			color: #c4c4c4;
		}
	}
	.search{
		margin-bottom: 20px;
	}
	.search__field{
		position: relative;
	}
	.search__input{
		@include box-sizing(border-box);
		border: 1px solid #adadad;
		@include border-radius(5px);
		@include background-clip(padding-box);
		background-color: #fff;
		@include box-shadow(2px 1px 2px rgba(0,0,0,.18));
		@include placeholder-color(#cacaca);
		font-size: 14px;
		color: #2c2c2c;
		width: 484px;
		height: 29px;
		padding: 0 12px;
		@include transition(border 0.2s ease-in-out, box-shadow 0.2s ease-in-out);
		&:focus{
			border: 1px solid #f47b01;
			border-color: rgba(244, 123, 1, 0.6);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(244, 123, 1, 0.6);
			@include placeholder-color(#2c2c2c);
		}
	}
	.search__submit{
		position: absolute;
		top: 1px;
		right: 1px;
		width: 38px;
		background-color: #f5f5f5;
		border: 0;
		height: 27px;
		@include border-radius(0 5px 5px 0);
		border-left: 1px solid #eaeaea;
		&:hover{
			cursor: pointer;
		}
		&:active{
			@include box-shadow(
				inset 	-1px 1px 2px rgba(0, 0, 0, 0.15)
				);
		}
		i{
			display: inline-block;
			vertical-align: middle;
			margin-top: -3px;
			@include s(ico_search);
		}
	}
	.search__example{
		color: #f47b01;
		font-size: 11px;
		margin-top: 8px;
		a{
			color: #5f5f5f;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
	.basket{
		float: right;
		margin-top: 35px;
		margin-right: -7px;
		background: url(../img/ico_basket_off.png) no-repeat;
		width: 167px;
		height: 74px;
		font-size: 12px;
		color: #676767;
		&.is-active{
			background: url(../img/ico_basket_on.png) no-repeat;
			.basket__content{
				padding: 0 5px;
			}
		}
		a{
			color: #68a814;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
		.icon_gift{
			float: left;
			margin-right: 10px;
		}
		.basket__in{
			padding: 32px 17px 10px;
			line-height: 1.2;
		}
		.basket__text{
			overflow: hidden;
			span{
				color: #f47b01;
				font-weight: bold;
			}
		}
	}
}
.nav{
	@include box-sizing(border-box);
	@include background-image(linear-gradient(#2e2e2e, #010101));
	border-top: 2px solid #141414;
	height: 51px;
	line-height: 49px;
	margin-bottom: 21px;
	@extend %clr;
	padding-left: 10px;
	li{
		// margin-right: -1px;
		position: relative;
		list-style-type: none;
		float: left;
		@include pm;
		font-size: 22px;
		color: #fff;
		text-transform: uppercase;
		&:hover{
			z-index: 100;
			// margin-right: -1px;
			cursor: pointer;
			// @include background-image(linear-gradient(#2e2e2e, #2a2a2a));
			// &:before{
			// 	content: none;
			// }
		}
		&:first-child{
			&:before{
				content: none;
			}
		}
		&:before{
			position: absolute;
			top: 50%;
			margin-top: -16px;
			left: 0;
			content: "";
			width: 1px;
			height: 31px;
			@include background-image(linear-gradient(#505050, #363636));
		}
	}
	a{
		display: inline-block;
		color: #fff;
		text-decoration: none;
		padding-left: 19px;
		padding-right: 13px;
		&:hover{
			color: #f47b01;
			text-decoration: none;
		}
	}
	.icon{
		vertical-align: top;
		margin-top: 20px;
		margin-left: 8px;
	}
}
.cycle{
	margin-bottom: 20px;
	a{
		position: relative;
		z-index: 1001;
	}
	.cycle-head{
		@include box-sizing(border-box);
		height: 43px;
		line-height: 43px;
		background-color: #fff;
		border: 1px solid #dcdcdc;
		padding: 0 20px;
	}
	.cycle-title{
		text-transform: uppercase;
		font-size: 16px;
		font-weight: normal;
		color: #67a713;
		@include pm;
	}
	.cycle-slideshow{
		position: relative;
		&:before{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 120px;
			@include background-image(linear-gradient(rgba(#fff,0), rgba(#f0f0f0, .8)));
			content: "";
			z-index: 1;
		}
	}
	.cycle-carousel-wrap{
		.cycle-slide{
			@extend %clr;
			// @include box-sizing(border-box);
			// width: 100%;
			padding: 20px;
			background-color: #f0f0f0;
			border-bottom: 1px solid #dddddd;
			border-top: 1px solid #fafafa;
			&:first-child{
				border-bottom: 1px solid #dddddd;
				border-top: 0;
			}
		}
	}
	.cycle-nav{
		height: 34px;
		border-top: 1px solid #dcdcdc;
		@include box-sizing(border-box);
		background-color: #fdfdfd;
		@include background-image(linear-gradient(#fdfdfd, #f0f0f0));
		.next{
			display: inline-block;
			height: 100%;
			width: 100%;
			text-align: center;
			&.disabled{
				cursor: default;
				@extend %gray;
			}
			i{
				display: inline-block;
				vertical-align: top;
				margin-top: 13px;
				@include s(arrow_cycle);
			}
		}
	}
}
.recent-buy{
	.recent-buy__info{
		overflow: hidden;
	}
	.recent-buy__image{
		float: right;
		margin-left: 10px;
	}
	.h1{
		font-size: 16px;
		font-weight: normal;
		@include pm;
		color: #303030;
		text-transform: uppercase;
		line-height: 1.1;
	}
	.recent-buy__description{
		font-size: 13px;
		color: #929292;
		margin-bottom: 10px;
	}
	.recent-buy__price{
		font-size: 11px;
		text-transform: uppercase;
		color: #f47b01;
		strong{
			font-size: 16px;
		}
		span{
			font-size: 14px;
		}
	}
}
.heroes{
	@extend %clr;
	margin-bottom: 10px;
	height: 360px;
	.heroes__nav{
		float: left;
		width: 250px;
		background-color: #f0f0f0;
		height: 100%;
	}
	.heroes__list{
		li{
			position: relative;
			list-style-type: none;
			border-top: 1px solid #dcdcdc;
			border-left: 1px solid #dcdcdc;
			padding: 20px;
			@extend %clr;
			&:hover,&.is-active{
				background-color: #000;
				border-left: 1px solid transparent;
				border-top: 1px solid transparent;
				.h1{
					color: #f47b01;
				}
			}
			&:hover{
				cursor: pointer;
			}
			&:first-child{
				border-top: 0;
			}
		}
		a{
			text-decoration: none;
		}
	}
	.heroes__pic{
		position: relative;
		float: left;
		width: 710px;
		overflow: hidden;
		@include box-sizing(border-box);
		&:before{
			position: absolute;
			content: "";
			top: 0;
			bottom: 0;
			left: 0;
			height: 360px;
			width: 445px;
			background: url(../img/shadow.png) repeat-y;
		}
		img{
			display: block;
			max-width: 100%;
			min-height: 100%;
		}
	}
	.heroes__in{
		overflow: hidden;
		height: 328px;
		border-bottom: 1px solid #dcdcdc;
	}
	.heroes__new{
		@include s(ico_new);
		position: absolute;
		top: -1px;
		right: 0;
		content: "";
	}
	.heroes__button{
		height: 30px;
		background-color: #fdfdfd;
		@include background-image(linear-gradient(#fdfdfd, #f0f0f0));
		a{
			display: inline-block;
			height: 100%;
			width: 100%;
			text-align: center;
			&.is-disabled{
				cursor: default;
				@extend %gray;
			}
			i{
				display: inline-block;
				vertical-align: top;
				margin-top: 13px;
				@include s(arrow_cycle);
			}
		}
	}
	.heroes__info{
		overflow: hidden;
		.h1{
			font-weight: normal;
			font-size: 18px;
			color: #000;
			text-transform: uppercase;
			@include pm;
			line-height: 1;
			margin-bottom: 5px;
		}
		.heroes__platform{
			font-size: 14px;
			color: #929292;
		}
	}
	.heroes__media{
		float: right;
		margin-left: 20px;
		img{
			display: block;
		}
	}
	.heroes__text{
		width: 220px;
		position: absolute;
		top: 70px;
		left: 50px;
		z-index: 1000;
		.h1{
			font-weight: normal;
			font-size: 31px;
			color: #fff;
			text-transform: uppercase;
			@include pm;
			line-height: 1;
		}
		.heroes__platform{
			font-size: 24px;
			color: #f47b01;
			margin-bottom: 5px;
		}
		.heroes__meta{
			font-size: 14px;
			color: #949494;
			margin-bottom: 10px;
			line-height: 1.2;
		}
	}
}
.benefits{
	margin-bottom: 20px;
	font-size: 12px;
	color: #5f5f5f;
	font-weight: bold;
	.h1{
		font-size: 22px;
		font-weight: normal;
		@include pm;
		color: #000;
		text-transform: uppercase;
		line-height: 1.1;
		margin-bottom: 10px;
	}
	li{
		list-style-type: none;
		margin-bottom: 2px;
	}
	.mark{
		color: #f47b01;
	}
	.benefits__number{
		display: inline-block;
		width: 26px;
		height: 26px;
		@include background-clip(padding-box);
		background-color: #f37b01;
		@include background-image(linear-gradient(bottom, #f37b01 0%, #f79703 100%));
		font-size: 16px;
		color: #fff;
		font-weight: bold;
		@include border-radius(50%);
		text-align: center;
		line-height: 26px;
		margin-right: 12px;
	}
}
.comments-list{
	.h1{
		font-size: 16px;
		font-weight: normal;
		@include pm;
		color: #303030;
		text-transform: uppercase;
		line-height: 1.1;
		margin-bottom: 2px;
	}
	.comments-list__text{
		font-size: 11px;
		color: #828282;
	}
	a{
		color: #68a814;
		font-size: 11px;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
	.comments-list__username{
		margin-bottom: 5px;
		.icon{
			margin-right: 5px;
			margin-top: -2px;
		}
	}
}
.rating{
	margin-bottom: 5px;
	li{
		display: inline-block;
		list-style-type: none;
		@include s(ico_star);
		&:hover,&.is-active{
			@include s(ico_star_hover);
		}
	}
	a{
		display: inline-block;
		width: 100%;
		height: 100%;
	}
}
.reviews{
	margin-bottom: 20px;
	.reviews__head{
		position: relative;
		height: 43px;
		line-height: 43px;
		background-color: #f0f0f0;
		padding: 0 15px 0 20px;
		.h1{
			text-transform: uppercase;
			font-size: 20px;
			color: #000;
			font-weight: normal;
			@include pm;
		}
	}
	.reviews__all{
		position: absolute;
		top: 0;
		right: 15px;
		font-size: 11px;
		color: #000;
		a{
			color: #68a814;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
	.reviews__content{
		border: 1px solid #dcdcdc;
	}
	.reviews__item{
		position: relative;
		list-style-type: none;
		display: block;
		border-top: 1px solid #dcdcdc;
		padding: 20px;
		@extend %clr;
		&:first-child{
			border-top: 0;
		}
		a{
			color: #68a814;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
	.reviews__info{
		float: left;
		width: 110px;
		color: #828282;
		font-size: 11px;
		p{
			margin-bottom: 7px;
		}
	}
	.reviews__title{
		font-size: 16px;
		text-transform: uppercase;
		color: #303030;
		font-weight: normal;
		@include pm;
	}
	.reviews__media{
		float: right;
		width: 60px;
		img{
			width: 100%;
		}
	}
}
.infographics{
	background: #f0f0f0;
	margin-bottom: 26px;
	li{
		list-style-type: none;
		display: inline-block;
		height: 57px;
		line-height: 57px;
		border-left: 1px solid #e2e2e2;
		padding: 0 23px;
		&:first-child{
			border-left: 0;
		}
	}
	.infographics__numb{
		position: relative;
		display: inline-block;
		vertical-align: middle;
		@include pl;
		font-size: 38px;
		color: #7d7d7d;
		margin-right: 10px;
		&:before{
			position: absolute;
			bottom: 1px;
			left: 50%;
			margin-left: -8px;
			content: "";
			@include s(arrow4);
		}
	}
	.infographics__text{
		display: inline-block;
		vertical-align: middle;
		line-height: 1.2;
		font-size: 14px;
		color: #a1a1a1;
		@include pm;
		text-transform: uppercase;
	}
}
.recent-product{
	.recent-product__head{
		position: relative;
		@extend %site;
	}
	.h1{
		font-weight: normal;
		@include pm;
		text-transform: uppercase;
		font-size: 22px;
		line-height: 1;
		margin-bottom: 18px;
	}
	.recent-product__collapse{
		position: absolute;
		top: 0;
		right: 0;
		font-size: 11px;
		color: #68a814;
		text-decoration: underline;
		text-transform: lowercase;
		&:hover{
			text-decoration: none;
			cursor: pointer;
		}
		i{
			margin-left: 7px;
		}
	}
	.recent-product__carousel{
		background-color: #505050;
		border-top: 1px solid #5e5e5e;
		border-bottom: 1px solid #5e5e5e;
		height: 165px; //tmp 
	}
	.recent-product__wrap{
		@extend %site;
		position: relative;
		height: 100%;
	}
	.recent-product__nav{
		position: absolute;
		top: -20px;
		content:"";
		@extend %hide-text;
		display: block;
		width: 20px;
		background-color: #505050;
		text-align: center;
		height: 100%;
		@include box-sizing(border-box);
		i{
			display: inline-block;
			vertical-align: middle;
			@include s(ico_nav);
			margin-top: 82px;
		}
		&.prev{
			left: -18px;
			i{
				@include rotate(180);
			}
		}
		&.next{
			right: -9px;
		}
	}
	.recent-product__list{
		margin-top: 20px;
	}
	.recent-product__item{
		@extend %clr;
		padding: 0 25px;
		@include box-sizing(border-box);
		position: relative;
		width: 240px;
		height: 123px;
		border-left: 1px solid #5d5d5d;
		box-shadow: -1px 1px 0 #2e2e2e;
		.h1{
			font-size: 16px;
			text-transform: uppercase;
			@include pm;
			color: #fff;
			font-weight: normal;
			line-height: 1;
			margin-bottom: 10px;
			display: inline-block;
			overflow: hidden;
			max-height: 33px;
		}
	}
	.recent-product__image{
		float: right;
		width: 60px;
		margin-left: 10px;
		margin-top: 32px;
	}
	.recent-product__info{
		overflow: hidden;
		white-space: normal !important;
	}
	.recent-product__platform{
		font-size: 13px;
		color: #929292;
		text-transform: none;
		line-height: 1;
		margin-bottom: 10px;
	}
	.recent-product__price{
		font-size: 11px;
		color: #f47b01;
		line-height: 1;
		margin-bottom: 8px;
		text-transform: uppercase;
		strong{
			font-size: 16px;
		}
		span{
			font-size: 14px;
		}
	}
	.recent-product__checked{
		@include s(ico_checked);
		margin-bottom: 10px;
	}

}
.footer{
	// height: 725px; //tmp
	@include background-image(linear-gradient(#2e2e2e, #0b0b0b));
	.h1{
		font-size: 18px;
		color: #fff;
		@include pm;
		line-height: 1;
		font-weight: normal;
		text-transform: uppercase;
		margin-bottom: 25px;
		a{
			color: #fff;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	a{
		color: #68a814;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
	.footer__in{
		@extend %site;
		padding-top: 39px;
	}
	.footer__subscribe{
		@extend %clr;
		height: 49px;
		line-height: 49px;
		margin-bottom: 50px;
		padding: 0 15px 0 20px;
		@include border-radius(5px);
		@include background-clip(padding-box);
		background-color: #6bab17;
		@include background-image(linear-gradient(#a0da54, #67a713));
	}
	.footer__subscribe-text{
		float: left;
		margin-right: 34px;
		color: #fff;
		font-size: 21px;
		@include text-shadow(0 1px 0 rgba(0,0,0,.12));
		@include pm;
		text-transform: uppercase;
		.icon_subscribe{
			vertical-align: top;
			margin-right: 20px;
			margin-top: 16px;
		}
	}
	.footer__subscribe-field{
		overflow: hidden;
		position: relative;
	}
	.footer__subscribe-input{
		@include border-radius(5px);
		@include background-clip(padding-box);
		background-color: #fff;
		@include box-shadow(1px 1px 2px rgba(0,0,0,.22));
		@include background-image(linear-gradient(bottom, #f0f0f0 0%, #fff 100%));
		border: 0;
		line-height: 14px;
		width: 440px;
		padding: 7px 13px;
		@include placeholder-color(#5f5f5f);
		color: #5f5f5f;
		font-size: 12px;
	}
	.footer__subscribe-submit{
		position: absolute;
		top: 10px;
		right: 0;
		padding: 4px 17px;
	}
	.footer__nav{
		@extend %clr;
		font-size: 12px;
		margin-left: -55px;
		margin-bottom: 40px;
		ul{
			float: left;
			margin-left: 55px;
		}
		li{
			list-style-type: none;
			line-height: 1.5;
		}
	}
	.footer__row{
		@extend %clr;
		border-top: 1px solid #2f2f2f;
		padding-top: 30px;
		padding-bottom: 40px;
		color: #c4c4c4;
	}
	.footer__col{
		float: left;
		margin-right: 65px;
		p{
			color: #898989;
		}
	}
	.footer__delivery{
		width: 200px;
	}
	.footer__about{
		width: 308px;
	}
	.footer__payment{
		width: 322px;
		margin-right: 0;
		p{
			width: 286px;
		}
	}
	.footer__payment-services{
		line-height: 1;
		margin-top: 20px;
		li{
			list-style-type: none;
			display: inline-block;
			margin-left: 15px;
			@extend %hide-text;
			opacity: .3;
			@include transition(opacity 0.5s);
			&:first-child{
				margin-left: 0;
			}
			&:hover{
				opacity: 1;
			}
		}
	}
	.footer__info{
		float: left;
		width: 60%;
	}
	.footer__copyright{
		display: inline-block;
		vertical-align: top;
		margin-right: 55px;
		color: #fff;
		a{
			font-size: 11px;
		}
	}
	.footer__tel{
		display: inline-block;
		vertical-align: top;
		font-size: 11px;
	}
	.footer__tel-number{
		font-size: 24px;
		font-weight: bold;
		color: #f47b01;
		margin-right: 45px;
		.icon{
			margin-top: -3px;
		}
		span{
			font-weight: normal;
			color: #6c6c6c;
		}
	}
	.footer__address{
		display: inline-block;
		vertical-align: top;
		font-size: 11px;
	}
	.footer__socials{
		float: right;
		ul{
			line-height: 1;
		}
		li{
			display: inline-block;
			vertical-align: top;
			list-style-type: none;
			margin-left: 30px;
			&:hover{
				span{
					opacity: 1;
				}
			}
		}
		a{
			@extend %hide-text;
			position: relative;
		}
		span{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			content: "";
			opacity: 0;
			@include transition(opacity 0.5s);
		}
	}
}


.info-block{
	background-color: #f0f0f0;
	color: #5f5f5f;
	font-size: 12px;
	p{
		margin-bottom: 0.5em;
	}
	a{
		text-decoration: underline;
		color: #68a814;
		&:hover{
			text-decoration: none;
		}
	}
	.info-block__in{
		padding: 30px 35px 0;
		margin-bottom: 30px;
		overflow: hidden;
		height: 185px;
	}
	.info-block__button{
		border-top: 1px solid #dcdcdc;
		@include box-sizing(border-box);
		height: 40px;
		background-color: #fdfdfd;
		@include background-image(linear-gradient(#fdfdfd, #f0f0f0));
		a{
			display: inline-block;
			height: 100%;
			width: 100%;
			text-align: center;
			&.is-disabled{
				cursor: default;
				@extend %gray;
			}
			i{
				display: inline-block;
				vertical-align: top;
				margin-top: 13px;
				@include s(arrow_cycle);
			}
		}
	}
}

.popular{
	@extend %clr;
	margin-bottom: 30px;
	.popular__col{
		width: 354px;
		height: 180px; //tmp
		padding: 20px;
		@include box-sizing(border-box);
	}
	.popular__col1{
		float: left;
		background-color: #68a814;
	}
	.popular__col2{
		float: right;
		background-color: #f47b01;
	}
	.popular__info{
		overflow: hidden;
	}
	.popular__image{
		float: right;
		margin-left: 15px;
		img{
			display: block;
		}
	}
	.h1{
		color: #000;
		font-size: 22px;
		@include pm;
		text-transform: uppercase;
		font-weight: normal;
		margin-bottom: 0.3em;
	}
	.popular__title{
		color: #fff;
		font-size: 18px;
		@include pm;
		text-transform: uppercase;
		font-weight: normal;
		line-height: 1.2;
	}
	.popular__platform{
		color: #000;
		font-size: 14px;
		text-transform: uppercase;
		@include pm;
	}
	.popular__price{
		position: relative;
		margin-top: 15px;
		border: 2px solid rgba(#fff,.4);
		color: #fff;
		font-size: 11px;
		line-height: 1;
		display: inline-block;
		padding: 7px 50px 7px 7px;
		@include box-sizing(border-box);
		span{
			font-size: 14px;
		}
		strong{
			font-size: 16px;
		}
	}
	.popular__btn{
		width: 35px;
		text-align: center;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		display: block;
		border-left: 2px solid rgba(#fff,.4);
		.icon_basket{
			margin-top: 9px;
			vertical-align: top;
		}
	}
}

.tab{
	margin-bottom: 20px;
	.tab__top{
		position: relative;
		@include box-sizing(border-box);
		background-color: #f0f0f0;
		height: 43px;
	}
	.tab__nav{
		@extend %clr;
		border-left: 1px solid #dcdcdc;
		li{
			line-height: 41px;
			list-style-type: none;
			float: left;
			border-right: 1px solid #dcdcdc;
			border-top: 1px solid transparent;
			&:hover, &.is-active{
				background-color: #fff;
				border-top: 1px solid #dcdcdc;
				margin-bottom: -1px;
				a{
					color: #000;
				}
			}
			a{
				text-decoration: none;
				color: #9c9c9c;
				text-transform: uppercase;
				@include pm;
				font-size: 20px;
				padding: 0 12px;
				display: inline-block;
				&:hover{
					text-decoration: none;
					color: #000;
				}
			}
		}
	}
	.tab__main{
		border: 1px solid #dcdcdc;
	}
	.tab__list{
		
	}
	.tab__all{
		position: absolute;
		right: 20px;
		top: 15px;
		line-height: 1;
		font-size: 11px;
		color: #000;
		a{
			text-decoration: underline;
			color: #68a814;
			&:hover{
				text-decoration: none;
			}
		}
	}
}

.product-list {
	@extend %clr;
	border-bottom: 1px solid #dcdcdc;
	.h1{
		font-size: 18px;
		text-transform: uppercase;
		@include pm;
		color: #3e3e3e;
		font-weight: normal;
		line-height: 1;
		margin-bottom: 10px;
		display: inline-block;
		overflow: hidden;
		max-height: 53px;
	}
}
.product {
	position: relative;
	@include box-sizing(border-box);
	list-style-type: none;
	width: 50%;
	height: 200px;
	float: left;
	border-top: 1px solid #dcdcdc;
	border-left: 1px solid #dcdcdc;
	&:nth-child(odd){
		border-left: 0;
	}
	&:nth-child(1), 
	&:nth-child(2){
		border-top: 0;
	}
	&:hover {
		.product__inner {
			position: absolute;
			top: -39px;
			right: -41px;
			left: -49px;
			bottom: -41px;
			//margin: -137px 0 0 -217px;
			padding: 20px 22px 23px 30px;
			width: 434px;
			height: 274px;
			z-index: 1000;
			@include box-shadow(0 0 16px rgba(0,0,0,.25));
		}
		.product__image {
			width: 196px;
			height: 228px;
			overflow: hidden;
			text-align: right;
			img {
				display: inline-block;
				width: auto;
				height: 100%;
			}
		}
	}
}
.product__inner {  
	background: #fff;
	padding: 30px 60px 30px 50px;
	height: 200px;
	@include box-sizing(border-box);
	@include transition(box-shadow 0.2s linear);
}
.product__image{
	float: right;
	width: 100px;
	margin-left: 15px;
}
.product__info{
	overflow: hidden;
}
.product__platform{
	font-size: 14px;
	color: #929292;
	text-transform: uppercase;
	line-height: 1;
	margin-bottom: 8px;
}
.product__price{
	font-size: 11px;
	color: #f47b01;
	line-height: 1;
	margin-bottom: 8px;
	text-transform: uppercase;
	strong{
		font-size: 16px;
	}
	span{
		font-size: 14px;
	}
}
.product__label{
	position: absolute;
	top: 0;
	right: 0;
}
.product__new{
	@include s(ico_new);
}