
.popup {
	display: none; 
	.gallery {
		padding: 20px 0;
	} 
    .gallery__slide {
        a {
            &:after {
                content: "";
                border-color: transparent transparent transparent #fbfbfb;
            }
        }
    }
    .gallery__pic {
    	height: 449px;
    	border: 0;
    }
}
.popup_s {
	width: 314px;
	.popup__body {
        padding: 20px;
    }
}

.popup__header {
	padding: 7px 10px;
	@include border-radius(4px 4px 0 0);
	@include background-image(linear-gradient(#8ac143, #69a815))
}
.popup__title {
	text-align: center;
	color: #fff;
	font-size: 34px;
	@include pm;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.popup__body {
	padding: 25px 30px;
}
.popup__footer {
	padding: 15px 25px;
	background: #fff;
	border-top: 1px solid $brcl;
}
.link-to-favor {
	span, i {
		vertical-align: middle;
	}
	span {
		text-decoration: underline;
	}
	&:hover {
		span {
			text-decoration: none;
		}
	}
}