
.popup {
	display: none;  
    .gallery__slide {
        a {
            &:after {
                content: "";
                border-color: transparent transparent transparent #fbfbfb;
            }
        }
    }
}
.popup_s {
	width: 314px;
	.popup__body {
        padding: 20px;
    }
}

.popup__header {
	padding: 7px 10px;
	@include border-radius(4px 4px 0 0);
	@include background-image(linear-gradient(#8ac143, #69a815))
}
.popup__title {
	text-align: center;
	color: #fff;
	font-size: 34px;
	@include pm;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.popup__body {
	padding: 25px 30px;
}