
.popup {
    width: 620px;
	display: none; 
	.gallery {
		padding: 20px 0;
	} 
    .gallery__slide {
        a {
            &:after {
                content: "";
                border-color: transparent transparent transparent #fbfbfb;
            }
        }
    }
    .gallery__pic {
    	height: 449px;
    	border: 0;
    }
    .label__input {
        margin-bottom: 0;
    }
}
.popup_s {
	width: 314px;
	.popup__body {
        padding: 20px;
    }
}

.popup__header {
	padding: 7px 10px;
	@include border-radius(4px 4px 0 0);
	@include background-image(linear-gradient(#8ac143, #69a815))
}
.popup__title {
	text-align: center;
	color: #fff;
	font-size: 34px;
	@include pm;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    span {
        display: block;
        font-size: 20px;
    }
}
.popup__body {
	padding: 25px 30px;
    .enter-soc {
        text-align: center;
        font-size: 11px;
        span {
            display: block;
            margin-bottom: 10px;
        }
    }
    .label-radio {
        margin-bottom: 10px;
    }
}
.label_radio-input-text {
    @extend %clr;
    .label-radio,
    .label__input {
        float: left;
    }
    .label__help {
        clear: both;
    }
    .label-radio {
        margin-top: 7px;
    }
    .label__input {
        width: 90%;
    }
}
.popup__footer {
	padding: 15px 25px;
	background: #fff;
    @extend %clr;
	border-top: 1px solid $brcl;
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
    .prod__prepay-price {
        float: right;
    }
    .prod__prepay-price  {
        strong {
            font-size: 37px;
        }
    }
}
.popup__footer-links {
    float: left;
    margin-top: 13px;
}
.link-to-favor {
    position: relative;
	display: inline-block;
	margin-left: 10px;
	i {
		position: absolute;
		right: -15px;
        top: 3px;
		@include s(star2);
	}
}

.popup_agree {
    .btn-wrap {
        margin-top: 18px;
    }
}
.scroll-pane_agree {
    width: 557px;
    height: 287px;
    border: 1px solid #adadad;
    @include border-radius(5px);
    background: #fff;
    @include box-shadow(2px 1px 2px rgba(0,0,0,.18));
    .agree {
        padding: 15px 22px;
        color: #676767;
    }
    .jspVerticalBar {
        right: 12px;
    }
    
}

.popup__form {
    margin: 0 auto;
    width: 280px;    
    .label__tooltip {
        left: 10px;
        &:before {
            right: auto;
            left: 28px;
        }
        &:after {
            left: 29px;
            right: auto;
        }
    }
    .label-check {
        margin-bottom: 10px;
    }
    .btn_medium {
        width: 100%;
    }
    .wishlist__create {
        width: 100%;
        margin-bottom: 20px;
        .label__tooltip {
            top: -24px;
        }
    }
}   
.btn-wrap {
    .label-check {
        display: inline-block;
    }
}
.tooltip_agree {
    width: auto;
    height: auto;
}
.i-remember-pass {
    display: block;
    margin: 10px 0 20px;
    text-align: center;
    span {
        color: #74b125;
        font-size: 11px;
        cursor: pointer;
        border-bottom: 1px dashed #74b125;
    }
}
.popup__text {
    font-size: 18px;
    margin-bottom: 20px;
    span {

        color: #74b125;
    }
}
.popup__text-center {
    text-align: center;
}
.popup-text__title {
    margin-bottom: 15px;
    color: #f47b01;
    @include pm;
    font-size: 20px;
    text-transform: uppercase;
}
.label__help_mod {
    margin-top: 0;
}

.refill-bill {
    
}
.refill-bill__step {
    margin: 20px 0;
    clear: both;
    .badge_counter, span {
        position: static;
        display: inline-block;
        vertical-align: middle;
    }
    .badge_counter {
        margin-right: 20px;
    }
    span {
        width: 85%;
    }
}
.input-group {
    @extend %clr;
    text-align: center;
    .label__input {
        display: inline-block;
        padding: 3px 0;
        height: 49px;
        width: 43px;
        margin-left: 6px;
        text-align: center;
        @include pm;
        font-size: 21px;
        @include placeholder-color(#c7c7c7);
        &:first-child {
            margin-left: 0;
        }
    }
}
.input-group-wrap {
    margin-bottom: 20px;
    @extend %clr;
    text-align: center;
    .input-group {
        display: inline-block;
        margin-left: 8px;
        &:first-child {
            margin-left: 0;
        }
    }
}
.input-group_small {
    
    .label__input {
        width: 31px;
        padding: 0 2px;
        height: 35px;
        margin-left: -2px;
        font-size: 15px;
    }
}