.cycle{
    margin-bottom: 20px;
    a{
        position: relative;
        z-index: 1001;
    }
    .cycle-slideshow{
        position: relative;
        &:before{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 120px;
            @include background-image(linear-gradient(rgba(#fff,0), rgba(#f0f0f0, .8)));
            content: "";
            z-index: 1;
        }
    }
    .cycle-carousel-wrap{
        .cycle-slide{
            @extend %clr;
            // @include box-sizing(border-box);
            // width: 100%;
            padding: 20px;
            background-color: #f0f0f0;
            border-bottom: 1px solid #dddddd;
            border-top: 1px solid #fafafa;
            &:first-child{
                border-bottom: 1px solid #dddddd;
                border-top: 0;
            }
        }
    }
    .cycle-nav{
        height: 34px;
        border-top: 1px solid #dcdcdc;
        @include box-sizing(border-box);
        background: #f0f0f0;
        @include background-image(linear-gradient(#fdfdfd, #f0f0f0));
        .next{
            display: inline-block;
            height: 100%;
            width: 100%;
            text-align: center;
            &.disabled{
                cursor: default;
                @extend %gray;
            }
            i{
                display: inline-block;
                vertical-align: top;
                margin-top: 13px;
                @include s(arrow_cycle);
            }
        }
    }
}
.sidebar-head,
.cycle-head {
    @include box-sizing(border-box);
    height: 43px;
    line-height: 43px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    padding: 0 20px;
}
.sidebar-title,
.cycle-title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
    color: #67a713;
    @include pm;
}
.recent-buy{
    .recent-buy__info{
        overflow: hidden;
    }
    .recent-buy__image{
        float: right;
        margin-left: 10px;
    }
    .h1{
        font-size: 16px;
        font-weight: normal;
        @include pm;
        color: #303030;
        text-transform: uppercase;
        line-height: 1.1;
    }
    .recent-buy__description{
        font-size: 13px;
        color: #929292;
        margin-bottom: 10px;
    }
    .recent-buy__price{
        font-size: 11px;
        text-transform: uppercase;
        color: #f47b01;
        strong{
            font-size: 16px;
        }
        span{
            font-size: 14px;
        } 
    }  
}

.comments-list{
    .comment-list__title {
        margin-bottom: 2px;
        a {
            font-size: 16px;
            @include pm;
            color: #303030;
            text-transform: uppercase;
            line-height: 1.1;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .comments-list__text{
        font-size: 11px;
        color: #828282;
    }
    a{
        color: #68a814;
        font-size: 11px;
        text-decoration: underline;
        &:hover{
            text-decoration: none;
        }
    }
    .comments-list__username{
        margin-bottom: 5px;
        .icon{
            margin-right: 5px;
            margin-top: -2px;
        }
    }
}


.benefits{
    color: #5f5f5f;
    font-weight: bold;
}
.benefits_mod {
    margin-bottom: 20px;
}

.benefits__list {
    li{
        list-style-type: none;
        margin-bottom: 2px;
        a{
            color: #5f5f5f;
            text-decoration: none;
            &:hover{
                color: #f47b01;
            }
        }
    }
}
.benefits_interest {
    font-size: 12px;
    font-weight: normal;
    .benefits__list {
        padding-left: 65px;
    }
    li {
        margin-bottom: 10px;
    }
    strong {
        display: block;
        margin-bottom: 27px;
        color: #5f5f5f;
        font-size: 14px;
        font-weight: bold;
    }
}
.benefits__title {
    font-size: 22px;
    font-weight: normal;
    @include pm;
    color: #000;
    text-transform: uppercase;
    line-height: 1.1;
    margin-bottom: 10px;
}
.benefits__number{
    display: inline-block;
    width: 26px;
    height: 26px;
    background-color: #f37b01;
    @include background-image(linear-gradient(bottom, #f37b01 0%, #f79703 100%));
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    @include border-radius(50%);
    text-align: center;
    line-height: 26px;
    margin-right: 12px;
}
.reviews{
    margin-bottom: 20px;
}
.reviews__head {
    position: relative;
    height: 43px;
    line-height: 43px;
    background-color: #f0f0f0;
    padding: 0 15px 0 20px;
    .h1 {
        text-transform: uppercase;
        font-size: 20px;
        color: #000;
        @include pm;
        margin-bottom: 0;
        float: left;
        line-height: 43px;
    }
}  
.reviews__all {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 11px;
    color: #000;
    a{
        color: #68a814;
        text-decoration: underline;
        &:hover{
            text-decoration: none;
        }
    }
}
.reviews__content {
    border: 1px solid #dcdcdc;
}
.reviews__item {
    position: relative;
    list-style-type: none;
    display: block;
    border-top: 1px solid #dcdcdc;
    padding: 20px;
    @extend %clr;
    &:first-child {
        border-top: 0;
    }
    a{
        color: #68a814;
        text-decoration: underline;
        &:hover{
            text-decoration: none;
        }
    }
}
.reviews__info {
    float: left;
    width: 110px;
    color: #828282;
    font-size: 11px;
    p{
        margin-bottom: 7px;
    }
}
.reviews__title {
    a {
        font-size: 16px;
        text-transform: uppercase;
        color: #303030;
        @include pm;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
.reviews__media {
    float: right;
    width: 60px;
    img{
        width: 100%;
    }
}

.filter {
    margin: 0 0 20px;
    color: #4a4a4a;
    font-size: 12px;
}
.filter__body {
    padding: 10px 0;
    border: 1px solid #dcdcdc;
    border-top: 0;
}
.filter-list {
    padding: 0 0 0 10px;
}
.filter_smart {
    background: #f5f5f5;
    .filter__body {
        padding: 10px;
    }
}
.filter-list__item {
    position: relative;
    padding-left: 12px;
    margin-bottom: 4px;
    @include unselectable;
    i {
        font-style: normal;
    }
}
.filer-list__counter {
    color: #6eac1c;
    display: inline-block;
    margin-left: 5px;
}
.filter-list__add {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -3px;
    @include s(add);
}  
.filter-list__link {
    display: inline-block;
    cursor: pointer;
}
.filter-list__wtf {  
    float: right;
    width: 11px;   
    height: 11px;
    text-align: center;
    line-height: 11px;
    color: #f47b01;
    font-size: 10px;
    border: 1px solid #b7b7b7;
    @include border-radius(50%);
    background: #000;
    cursor: pointer;
    @include box-shadow(0 1px 1px rgba(0,0,0,.13));
    @include background-image(linear-gradient(bottom, #e3e3e3 0%, #fff 100%));

}
.info-message {
    display: block;
    margin-top: 16px;
    padding: 10px 12px;
    font-size: 12px;
    color: #f47b01;
    @include pm;
    text-transform: uppercase;
    background: #fff;
    border: 1px solid #adadad;
    @include box-shadow(2px 2px 2px rgba(0,0,0,.18));
    &:hover {
        text-decoration: none;
    }
    span {
        display: inline-block;
        vertical-align: middle;
        margin-right: 9px;
        width: 24px;
        height: 24px;
        line-height: 19px;
        text-align: center;
        @include border-radius(50%);
        background: #f37b01;
        @include background-image(linear-gradient(bottom, #f37b01 0%, #f37b01 0.68%, #f79703 100%));
    }
    i {
        display: inline-block;
        vertical-align: middle;
        @include s(info)
    }
    strong {
        display: inline-block;
        width: 80%;
        vertical-align: middle;
    }
}
.filter_usefull {
    .filter__body {
        padding: 0;
    }
}
.filter-selected {
    background: #f5f5f5;
}
.filter-selected__item {
    @extend %clr;
    padding: 0 10px 0 20px;
    @include box-sizing(border-box);
    height: 41px;
    line-height: 41px;
    border-top: 1px solid #dcdcdc;
    @include box-shadow(inset 0 1px 0 #fff);
    &:first-child {
        font-weight: bold;
        font-size: 12px;
        border-top: 0;
        @include box-shadow(none);
    }
    &
    div{
        display: inline-block;
        vertical-align: middle;
        line-height: 1.2;
    }
    span {
        display: block;
        font-size: 10px;
        color: #71ae20; 
    }
    i {
        float: right;
    }
    a {
        color: #f47b01;
        text-decoration: underline;
    }
}
.filer-selected__del {
    float: right;
    cursor: pointer;
    margin-top: 14px;
    width: 11px;   
    height: 11px;
    line-height: 10px;  
    color: #f47b01;
    font-size: 10px;
    border: 1px solid #b7b7b7;
    @include border-radius(50%);
    background: #000;
    text-align: center;
    @include box-shadow(0 1px 1px rgba(0,0,0,.13));
    @include background-image(linear-gradient(bottom, #e3e3e3 0%, #fff 100%));
    i {
        display: inline-block;
        float: none;
        vertical-align: middle;
        @include s(del)
    }
}

.accord {
    .filter-list {
        padding-left: 20px;
    }
}
.accord__title {
    margin-top: 15px;
    padding: 0 12px;
    height: 33px;
    cursor: pointer;
    line-height: 33px;
    border-top: 1px solid #dcdcdc;
    @include background-image(linear-gradient(top, #fcfcfc 0%, #f0f0f0 100%));
    i {
        display: inline-block;
        margin-right: 12px;
        @include s(arrow_cycle);
    }
    span {
        display: inline-block;
        color: #f47b01;
        text-decoration: underline;
    }
    &:hover {
        span {
            text-decoration: none;
        }
    }
}
.accord__sub-title {
    display: block;
    margin: 22px 0 10px;
    padding: 0 20px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    color: #000;
    text-overflow: ellipsis;
}
.filter__input {
    margin-bottom: -10px;
    padding: 0 20px;
    border-bottom: 1px solid $brcl;
    .label__title {
        font-size: 12px;
    }
    @extend %clr;
    .label {
        float: left;
        width: 50%;
    }
    .label__title,
    .label__input {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }
    .label__input {
        width: 64px;
    }
}
.filter-rate {
    .label-check {
        float: right;
    }
    .rating {
        float: left;
        margin: 0 0 0;
    }
}
.filter-rate__item {
    height: 24px;
    padding: 5px 0 0 20px;
    @extend %clr;
    @include box-sizing(border-box);
    border-top: 1px solid #dcdcdc;
    @include background-image(linear-gradient(top, #fdfdfd 0%, #f3f3f3 100%));
}
.s-delivery {
    background: #f0f0f0;
    .sidebar-head {
        @include background-image(linear-gradient(top, #8ac143 0%, #69a915 100%));
        border: 0;
        border-bottom: 1px solid #5b9312;
        border-right: 1px solid #5b9312;
    }
    .sidebar-title {
        color: #fff;
    }
}
.s-delivery__item {
    padding: 12px 20px;
    border-top: 1px solid #d9d9d9;
    @include box-shadow(inset 0 1px 0 #fff);
}
.client-counter {
    border-top: 0;
    @include box-shadow(none);
}
.client-counter__nubmer, 
.client-counter__text {
    @include pm;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}
.client-counter__nubmer {
    margin-right: 10px;
    color: #000;
    font-size: 40px;
}
.client-counter__text{
    width: 100px;
    font-size: 14px;
    color: #68a814;
    text-transform: uppercase;
}
.client-counter__info {
    span {
        display: block;
        color: #64a015;
    }
}

.customer-comment {
    position: relative;
    margin-top: 16px;
    padding: 10px;
    font-size: 11px;
    color: #6c6c6c;
    line-height: 1.2;
    background: #fff;
    border: 1px solid #adadad;
    &:before {
        content: "";
        position: absolute;
        top: -11px;
        left: 16px;
        @include s(arrow6);
    }  
    .customer-comment__title {
        color: #f47b01;  
    }
    a {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }  
}
.customer-comment__title {
    font-size: 12px;
}
.s-delivery__item-customer {
    span {
        color: #808080;
    }
}
.s-delivery__title {
    margin-bottom: 5px;
    color: #68a814;
    font-size: 16px;
    @include pm;
    padding-left: 20px;
    text-transform: uppercase;
}
.s-delivery__way {
    padding: 5px 20px;
    i, span {
        display: inline-block;
        vertical-align: middle;
    }
    i {
        margin-right: 7px;
        @include s(label-in-stock);
    }
}
.product-list_mod {
    .product {
        margin: 0 -1px -1px 0;
        border: 1px solid #dcdcdc;
    }
}
.sort {
    position: relative;
    z-index: 20;
    padding: 20px 25px 20px 30px;
    background: #f0f0f0;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    @extend %clr;
    .label {
        margin: 0;
        float: left;
    }
    .label__title,
    .label__select {
        margin: 0;
        display: inline-block;
        vertical-align: middle;
    }
    .label__title {
        margin-right: 11px;
        color: #585858;
        font-weight: bold;
    }
    .label__select {
        width: 312px;
    }
}
.sort-view {
    float: right;
    color: #585858;
    font-weight: bold;
    font-size: 0;
    span, button, i {
        display: inline-block;
        vertical-align: middle;   
    }
    span {
        margin-right: 10px;
        font-size: 12px;
    }
    button {
        margin-left: 3px;
        width: 34px;
        height: 29px;
        text-align: center;
        line-height: 1;
        border: 1px solid #b7b7b7;
        @include border-radius(5px);
        background: #e3e3e3;
        @include box-sizing(border-box);
        @include box-shadow(0 1px 1px rgba(0,0,0,.13));
        @include background-image(linear-gradient(bottom, #e3e3e3 0%, #fff 100%));
        &.is-active {
            border: 2px solid #f47b01;
            .icon-list {
                @include s(list-act);
            }
            .icon-grid {
                @include s(grid-act);
            }
        }
    }
    .icon-list {
        @include s(list);
    }
    .icon-grid{
        @include s(grid);
    }
}

