@import "lib/base"; // mixins, sprites
@import "fonts";
@import "common";
@import "layouts";
@import "main";
@import "cart";
@import "cabina-moroz";
@import "eugene";
@import "fancybox";
@import "sidebar";

@import "catalog";
@import "cabinet-eugene";

@import "denis"; 

@import "compare"; 
 
// // this is just example of  how commenting css should be done in big projects
// @import "styledocco";
        